// /* In your component's CSS file */
// :host ::ng-deep{
//     .mat-tab-label {
//     color: #fff; /* Change to your desired text color */
//   }
// }

.items {
  font-family: Poppins;
  padding: 5px;
}
.arrowicons{
    font-size: 23px;
}
.btn-primary {
  background-color: #0d4f9e !important;
  border-color: #0d4f9e !important;
  font-size: 12px;
  border-radius: 5px !important;
  padding: 6px 15px 6px 15px !important;
}
.btn-danger {
  font-size: 12px;
  padding: 6px 15px 6px 15px !important;
  border-radius: 5px !important;
}

