<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">POS Credit Card Posting</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()"></modal-header>
<!-- content section -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card p-3">
            <form >
                <!-- search section -->
                <div class="row">
                </div>
            </form>
        </div>
    </div>
</div>