<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Component Master </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
<div class="container-fluid pt-3">
    <form [formGroup]="componentmasterForm">
        <div class="col-md-12">
            <div class="sales-card-body p-2">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Code :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="code" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="codedes" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="codeCodeData"
                                    (newRowClick)="codeCodeSelected($event)">
                                </master-search>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Size Set
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="sizeSet" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="sizeSetCodeData"
                                    (newRowClick)="sizeSetCodeSelected($event)">
                                </master-search>
                            </div>
                            <label for="input" class="col-sm-2 col-form-label">Type :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="type" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="typeCodeData"
                                    (newRowClick)="typeCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Size :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="size" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="sizeCodeData"
                                    (newRowClick)="sizeCodeSelected($event)">
                                </master-search>
                            </div>
                            <label for="input" class="col-sm-2 col-form-label">Category
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="category" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="categoryCodeData"
                                    (newRowClick)="categoryCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Shape :</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="shape" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="shapeCodeData"
                                    (newRowClick)="shapeCodeSelected($event)">
                                </master-search>
                            </div>
                            <label for="input" class="col-sm-2 col-form-label">Setting
                                Type:</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="settingType" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="settingTypeCodeData"
                                    (newRowClick)="settingTypeCodeSelected($event)">
                                </master-search>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Remarks
                                :</label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Height :</label>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 80%;">
                                    <input type="number" ThreeDecimalInput numberLimit="2" class="text-right" matInput
                                        formControlName="height" />
                                </mat-form-field>

                            </div>
                            <label for="input" class="col-sm-2 col-form-label">Length :</label>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 80%;">
                                    <input type="number" ThreeDecimalInput numberLimit="2" class="text-right" matInput
                                        formControlName="length" />
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-2 col-form-label">Width :</label>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 80%;">
                                    <input type="number" ThreeDecimalInput numberLimit="2" class="text-right" matInput
                                        formControlName="width" />
                                </mat-form-field>

                            </div>
                            <label for="input" class="col-sm-2 col-form-label">Radius :</label>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 80%;">
                                    <input type="number" ThreeDecimalInput numberLimit="2" class="text-right" matInput
                                        formControlName="radius" />
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-4 col-form-label">Process Sequence
                                :</label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="processSeq" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="processSeqCodeData"
                                    (newRowClick)="processSeqCodeSelected($event)">
                                </master-search>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="input" class="col-sm-4 col-form-label">Cost Center
                                :</label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 80%;">
                                    <input type="text" matInput formControlName="costCenter" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="costCenterCodeData"
                                    (newRowClick)="costCenterCodeSelected($event)">
                                </master-search>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-3 d-flex">
                        <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true" [viewImportBtn]="false"
                            (addClick)="addTableData()" (deleteClick)="deleteTableData()">
                        </menu-buttons>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                            <mat-tab label="Components">
                                <dx-data-grid #dataGrid id="gridContainer" keyExpr="SRNO" [showBorders]="true"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="tableData"
                                    class="mt-3" [columnAutoWidth]="true">
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <dxo-editing mode="cell" [allowUpdating]="true">
                                    </dxo-editing>
                                    <dxo-selection mode="multiple"></dxo-selection>
                                    <dxo-scrolling mode="virtual"></dxo-scrolling>

                                    <dxi-column dataField="SRNO" caption="SrNo">
                                    </dxi-column>
                                    <dxi-column dataField="DIVCODE" caption="Div Code">
                                    </dxi-column>
                                    <dxi-column dataField="STOCK_CODE" caption="Stock Code">
                                    </dxi-column>
                                    <dxi-column dataField="CARAT" caption="Karat">
                                    </dxi-column>
                                    <dxi-column dataField="STOCK_FCCOST" caption="Stock Type">
                                    </dxi-column>
                                    <dxi-column dataField="PCS" caption="Pcs">
                                    </dxi-column>
                                    <dxi-column dataField="GROSS_WT" caption="Wt/Ct">
                                    </dxi-column>
                                    <dxi-column dataField="COLOR" caption="Color">
                                    </dxi-column>
                                    <dxi-column dataField="CLARITY" caption="Clarity">
                                    </dxi-column>
                                    <dxi-column dataField="SHAPE" caption="Shape">
                                    </dxi-column>
                                    <dxi-column dataField="SIEVE" caption="Sieve Std">
                                    </dxi-column>
                                    <dxi-column dataField="DESCRIPTION" caption="Description">
                                    </dxi-column>
                                    <dxi-column dataField="DSIZE" caption="Size">
                                    </dxi-column>
                                    <dxi-column dataField="PROCESS_TYPE" caption="Process Type">
                                    </dxi-column>
                                    <dxi-column dataField="D_REMARKS" caption="Remarks">
                                    </dxi-column>
                                    <dxi-column dataField="POINTER_WT" caption="pointer Wt">
                                    </dxi-column>
                                    <dxi-column dataField="EXT_Color" caption="Ext.Color">
                                    </dxi-column>
                                    <dxi-column dataField="EXT.CLARITY" caption="Ext.Clarity">
                                    </dxi-column>
                                    <dxi-column dataField="SIEVE_FROM" caption="Sieve from">
                                    </dxi-column>
                                    <dxi-column dataField="DESCRIPTION" caption="Description">
                                    </dxi-column>
                                    <dxi-column dataField="SIEVE_TO" caption="Sieve To">
                                    </dxi-column>
                                    <dxi-column dataField="DESCRIPTION" caption="Description">
                                    </dxi-column>
                                    

                                    <!-- <dxi-column *ngFor="let data of columnhead"
                                dataField="{{ data }}" caption="{{ data }}" [allowEditing]="true"
                                alignment="center" backgroundcolor="#000">
                            </dxi-column> -->
                                </dx-data-grid>
                            </mat-tab>

                            <mat-tab label="Main Design Details">
                                <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true"
                                    [columnAutoWidth]="true">
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <dxo-editing mode="cell" [allowUpdating]="true">
                                    </dxo-editing>
                                    <dxo-selection mode="multiple"></dxo-selection>
                                    <dxo-scrolling mode="virtual"></dxo-scrolling>

                                    <dxi-column *ngFor="let data of columnhead2" dataField="{{ data }}"
                                        caption="{{ data }}" [allowEditing]="true" alignment="center"
                                        backgroundcolor="#000">
                                    </dxi-column>
                                </dx-data-grid>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row mb-2">
                <div class="col-md-5 offset-sm-11">
                    <div class="row">
                        <button type="button" class="btn btn-outline-primary metal-issue-del-btn w-auto mx-2">
                            Image
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>