
::ng-deep {
  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

.mat-form-field {
  font-weight: 600 !important;
}

.box-wrap {
  margin-left: 0px;
  margin-right: 0px;
  height: 153px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.icons {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.icons .image_box {
  height: 150px;
  width: 100%;
  background: #fff;
}

.icons .icons_footer {
  border-top: 1px solid #d4d4d4;
  padding: 5px;
  display: flex;
  align-items: center;
}

.icons .icons_footer .icon-common,
.icons .icons_footer span {
  font-size: 14px;
  margin: 4px;
}

.metal-issue-add-btn {
  font-size: 12px;
  padding: 3px 20px !important;
  border-radius: 5px !important;
}

.metal-issue-del-btn {
  font-size: 12px;
  padding: 2px 10px 2px 10px;
}



::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
margin-left: 16px;
}


.upload-btn-wrapper 
.uploadproduct {
position: absolute;
top: 0;
left: 0;
right: 0;
opacity: 0;
font-size: 100px;
cursor: pointer;
}


.uploadproduct{
margin-top: -25px;
overflow: hidden;
position: absolute;
top: 0;
left: 0;
right: 0;
opacity: 0;
font-size: 100px;
cursor:pointer;
}

.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
text-align: center;
}

.upload-btn-wrapper 
.btnnew {
color: white;
font-size: 14px;
background: #ffffff;
margin-left: 14px;
width: 152px;
height: 150px;

}

.btn-primary {
// background-color: #012C57 !important;
background-color: #415a77 !important;
border-color: #415a77 !important;
font-size: 12px;
border-radius: 5px !important;
padding: 6px 15px 6px 15px !important;
}
.btn-danger {
font-size: 12px;
padding: 6px 15px 6px 15px !important;
border-radius: 5px !important;
}

.mstrScrch{
  position: absolute;
  top: -4px;
  margin-left: -0.3rem !important;
}