<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Jewellery Master </h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" (saveClick)="formSubmit()"  (deleteClick)="deleteRecord()"></modal-header>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="container-fluid pt-3">
        <mat-tab-group [selectedIndex]="">
          <mat-tab label="General">
            <div class="row">
              <div class="col-md-5">
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Item Code :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        VAT On Margin
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Design :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Exclude TAX
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Model Code :</label>
                  <div class="col-md-5">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        On Hold
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Description :</label>
                  <div class="col-md-9">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Cost Center :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Country :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Type :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Vendor :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Category :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Sub Cat :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Brand :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Color :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Fluorescence :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Clarity :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Range :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Style :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">HSN Code :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Time :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Vendor Ref :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Set Ref :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">PCS / Unit :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Size :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Overall :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Vendor Name :</label>
                  <div class="col-md-9">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Other Desc :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 offset-md-3 col-form-label">Currency</label>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Cost(AED)</label>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Cost(AED)</label>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label"><a href="#">Print Scheme</a></label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Price 1 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Price 2 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Price 3 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Price 4 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Price 5 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Lander Cost:</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Foreign Cost :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Market Cost :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Gross Wt :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">POS Cus # :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <div class="p-1 bd-highlight text-end">
                      <button type="button" class="btn btn-primary add-btn">
                        Image
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Certificate No :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">CertificateBy :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Certificate No 1:</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Certificate By 1 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Cert.Date :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="date" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Cert.Date1 :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="date" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">No Of Cert :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="date" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-6 col-form-label"><a href="#">Manufacture
                      Reference:</a></label>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-3 col-form-label">HallMarking :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <label for="inputPassword" class="col-sm-3 col-form-label">Type :</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 100%;">
                      <mat-select>
                        <mat-option></mat-option>
                        <mat-option></mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <div class="col-md-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Components Summary
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Components Details
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="icons">
                  <div class="image_box"></div>
                  <div class="icons_footer">
                    <i class="fa-solid fa-backward-fast icon-common"></i>
                    <i class="fa-solid fa-caret-left icon-common"></i>
                    <span>0/10</span>
                    <i class="fa-solid fa-caret-right icon-common"></i>
                    <i class="fa-solid fa-forward-fast icon-common"></i>
                    <i class="fa-solid fa-xmark icon-common text-danger"></i>
                    <i class="fa-solid fa-plus icon-common"></i>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-6 col-form-label">Cost Diff :</label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="p-1  pl-1 bd-highlight">
                  <button type="button" class="btn btn-primary add-btn">
                    Tag Details
                  </button>
                </div>
                <div class="box-wrap">

                </div>
              </div>
            </div>
            <mat-tab-group [selectedIndex]="">
              <mat-tab label="Metal Details">


                <div class="row mt-3">
                  <div class="col-md-12">
                    <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true">
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-editing mode="cell" [allowUpdating]="true">
                      </dxo-editing>
                      <dxo-selection mode="multiple"></dxo-selection>
                      <dxo-scrolling mode="virtual"></dxo-scrolling>

                      <dxi-column *ngFor="let data of columnhead" dataField="{{ data }}" caption="{{ data }}"
                        [allowEditing]="true" alignment="center" backgroundcolor="#000">
                      </dxi-column>
                    </dx-data-grid>
                  </div>

                </div>
                <div class="row mt-2">
                  <div class="col-md-8">
                    <div class="d-flex justify-content-start text-start">
                      <div class="p-1 bd-highlight">
                        <button type="button" class="btn btn-primary add-btn">
                          Apply
                        </button>
                      </div>
                      <div class="p-1 bd-highlight">
                        <button type="button" class="btn btn-outline-primary del-btn">
                          Discard
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-3">
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-6 col-form-label">Create By :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <label for="inputPassword" class="col-sm-6 col-form-label">Create On :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-6 col-form-label">Last Edit By :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <label for="inputPassword" class="col-sm-6 col-form-label">Last Edit On :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-6 col-form-label">Frist Transaction :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <label for="inputPassword" class="col-sm-6 col-form-label">Last Transaction :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-6 col-form-label">Sales Man :</label>
                      <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary add-btn">
                          Enquiry
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Stone Details">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true">
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-editing mode="cell" [allowUpdating]="true">
                      </dxo-editing>
                      <dxo-selection mode="multiple"></dxo-selection>
                      <dxo-scrolling mode="virtual"></dxo-scrolling>

                      <dxi-column *ngFor="let data of columnheader" dataField="{{ data }}" caption="{{ data }}"
                        [allowEditing]="true" alignment="center" backgroundcolor="#000">
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Component and Labour Charge Summary">
                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label  text-start">Description
                      </label>
                      <label for="inputPassword" class="col-sm-2 col-form-label text-center">Pcs </label>
                      <label for="inputPassword" class="col-sm-2 col-form-label text-center">Carat
                      </label>
                      <label for="inputPassword" class="col-sm-2 col-form-label text-center">Grams
                      </label>
                      <label for="inputPassword" class="col-sm-2 col-form-label text-center">FC(AED)
                      </label>
                      <label for="inputPassword" class="col-sm-2 col-form-label text-center">LC(AED)
                      </label>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Diamonds :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Color Stone :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Pearls :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Ot Stones :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Metal :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row align-items-center mb-1">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Total :</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-8">
                        <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true">
                          <dxo-paging [enabled]="false"></dxo-paging>
                          <dxo-editing mode="cell" [allowUpdating]="true">
                          </dxo-editing>
                          <dxo-selection mode="multiple"></dxo-selection>
                          <dxo-scrolling mode="virtual"></dxo-scrolling>

                          <dxi-column *ngFor="let data of columnheaders" dataField="{{ data }}" caption="{{ data }}"
                            [allowEditing]="true" alignment="center" backgroundcolor="#000">
                          </dxi-column>
                        </dx-data-grid>
                      </div>
                      <div class="col-md-4">
                        <div class="row align-items-center mb-1">
                          <label for="inputPassword" class="col-sm-12 col-form-label">No Of plat</label>
                          <div class="col-md-12">
                            <mat-form-field style="width: 100%;">
                              <input type="text" matInput />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Part Details">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true">
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-editing mode="cell" [allowUpdating]="true">
                      </dxo-editing>
                      <dxo-selection mode="multiple"></dxo-selection>
                      <dxo-scrolling mode="virtual"></dxo-scrolling>

                      <dxi-column *ngFor="let data of columnheaderPartDetails" dataField="{{ data }}"
                        caption="{{ data }}" [allowEditing]="true" alignment="center" backgroundcolor="#000">
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="UDF Grouping">
            <div class="row justify-content-between">
              <div class="col-md-5">
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">User defined :</label>
                  <div class="col-md-8">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="p-1  pl-1 bd-highlight">
                  <button type="button" class="btn btn-primary w-100 add-btn">
                    Comments
                  </button>
                </div>
                <div class="box-wrap">
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="p-1  pl-1 bd-highlight">
                  <button type="button" class="btn btn-primary w-100 add-btn">
                    Sales Tag Details
                  </button>
                </div>
                <div class="box-wrap">
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="container-fluid pt-3">

        </div>
      </div>
    </form>
  </div>
</div>