<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Metal Issue Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
    (changeJobClick)="jobchange()" (continueClick)="jobcontinue($event)"
    [isViewContinue]="true" [isViewChangeJob]="true" [isViewDelete]="false"
    [isViewMore]="false"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="metalIssueDetailsForm">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row border-bottom">
                            <div class="col-md-5">
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">
                                        Job Number * :
                                    </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 90%;">
                                            <input type="text" matInput
                                                formControlName="jobNumber"
                                                (focusout)="jobNumberValidate($event)"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 80%;">
                                            <input type="text" matInput
                                                formControlName="jobNumDes"
                                                readonly />
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="jobNumberCodeData"
                                            (newRowClick)="jobNumberCodeSelected($event)"
                                            *ngIf="!viewMode">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sub Job
                                        No : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 90%;">
                                            <input type="text" matInput
                                                formControlName="subJobNo"
                                                (focusout)="subJobNumberValidate($event)"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                        <!-- <master-search [MasterSearchData]="subJobNoCodeData"
                                            (newRowClick)="subJobNoCodeSelected($event)"></master-search> -->
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 80%;">
                                            <input type="text" matInput
                                                formControlName="subJobNoDes"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Process
                                        Code * :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 90%;">
                                            <input type="text" matInput
                                                formControlName="processCode"
                                                [readonly]="viewMode" />
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 80%;">
                                            <input type="text" matInput
                                                formControlName="processCodeDesc"
                                                [readonly]="viewMode">
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="processCodeData"
                                            (newRowClick)="processCodeSelected($event)"
                                            *ngIf="!viewMode">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Worker
                                        Code * : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 90%;">
                                            <input type="text" matInput
                                                formControlName="workerCode"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                        
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 80%;">
                                            <input type="text" matInput
                                                formControlName="workerCodeDes"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="workerCodeData"
                                            (newRowClick)="workerCodeSelected($event)"
                                            *ngIf="!viewMode"></master-search>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-1">
                                    <label class="col-sm-12 col-form-label ms-4">
                                        Design</label>
                                    <div class="col-md-6">
                                        <div class="upload-btn-wrapper">
                                            <button
                                                class="btn btnnew border-dark">
                                                <img src={{image}}
                                                    style="width:126px;height:124px">

                                            </button>
                                            <input type="file"
                                                class="uploadproduct"
                                                accept=".png, .jpg, .jpeg"
                                                #fileInput
                                                (change)="onFileChangedimage($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field
                                                    style="width: 100%;">
                                                    <input type="text" matInput
                                                        formControlName="unqDesignId"
                                                        [readonly]="viewMode" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-12">
                                                <mat-form-field
                                                    style="width: 100%;">
                                                    <input type="text" matInput
                                                        formControlName="pictureName"
                                                        [readonly]="viewMode" />
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="DESIGN_CODE"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label my-2">Part
                                        ID</label>
                                    <div class="col-md-12">
                                        <div class="upload-btn-wrapper">
                                            <button
                                                class="btn btnnew border-dark">
                                                <img src={{urls}}
                                                    style="width:126px;height:124px">

                                            </button>
                                            <input type="file"
                                                class="uploadproduct"
                                                accept=".png, .jpg, .jpeg"
                                                #fileInput
                                                (change)="onFileChanged($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                matInput
                                                formControlName="PART_CODE"
                                                style="text-align: right;"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-md-6">
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Tree
                                        Number :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="treeNumber"
                                                [readonly]="viewMode"
                                                maxlength="8" class="text-right"
                                                class="text-right" NumberOnly />
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Job
                                        Purity :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="jobPurity"
                                                style="text-align: right;"
                                                [readonly]="viewMode" [max]="6"
                                                MetalDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">
                                        Stock Code * :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="DIVCODE"
                                                placeholder="divcode"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field style="width: 70%;">
                                            <input type="text" matInput
                                                formControlName="stockCode"
                                                placeholder="stockcode"
                                                (focusout)="stockCodeValidate($event)"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="stockCodeData"
                                            (newRowClick)="stockCodeSelected($event)"
                                            *ngIf="!viewMode"></master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Pcs
                                        :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="pcs"
                                                [readonly]="viewMode"
                                                maxlength="8"
                                                style="text-align: right;"
                                                NumberOnly />
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Purity :
                                    </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="PURITY"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                SixDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Gross
                                        Weight :</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="GROSS_WT"
                                                [readonly]="viewMode"
                                                (focusout)="grossValidate()"
                                                MetalDecimalInput [max]="6"
                                                class="text-right" />
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Net
                                        Weight : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="NET_WT"
                                                [readonly]="viewMode"
                                                class="text-right"
                                                MetalDecimalInput [max]="13" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Stone
                                        Weight : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="STONE_WT"
                                                [readonly]="viewMode"
                                                class="text-right"
                                                (focusout)="stoneValidate()"
                                                StoneDecimalInput [max]="13" />
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Pure
                                        Weight : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="PURE_WT"
                                                [readonly]="viewMode"
                                                class="text-right"
                                                MetalDecimalInput [max]="13" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">To Stock
                                        Code : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="toDIVCODE"
                                                placeholder="divcode"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="toStockCode"
                                                placeholder="stockcode"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="toStockCodeDes"
                                                placeholder="description"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Location
                                        * : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 70%;">
                                            <input type="text" matInput
                                                formControlName="location"
                                                [readonly]="viewMode" />
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="locationCodeData"
                                            (newRowClick)="locationCodeSelected($event)"
                                            *ngIf="!viewMode"></master-search>
                                    </div>
                                    <div class="col-md-3 offset-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="number" matInput
                                                formControlName="totalAmountFc"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                AmountDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-6">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="stockCodeDes"
                                                placeholder="description"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 offset-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="number" matInput
                                                formControlName="totalAmountLc"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                AmountDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Purity
                                        Diff : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="number" matInput
                                                formControlName="purityDiff"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                MetalDecimalInput />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 offset-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="number" matInput
                                                formControlName="amountFc"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                AmountDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-3 col-form-label">Job Pcs
                                        : </label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput
                                                formControlName="jobPcs"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                NumberOnly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 offset-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="number" matInput
                                                formControlName="amountLc"
                                                [readonly]="viewMode"
                                                style="text-align: right;"
                                                AmountDecimalInput />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="checkbox"
                                                [readonly]="viewMode"
                                                formControlName="masterMetal">
                                            <label class="form-check-label"
                                                for="DesighCode">
                                                Master Metal
                                            </label>
                                        </div>
                                        <!-- <mat-radio-button  formControlName="materMetal"> Master Metal</mat-radio-button> -->
                                    </div>
                                    <div class="row mb-1">

                                        <div class="col-md-3">
                                            <mat-form-field
                                                style="width: 100%;">
                                                <input type="text" matInput />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-md-12">
                        <dx-data-grid #dataGrid id="gridContainer"
                            [showBorders]="true" [dataSource]="tableData"
                            [allowColumnReordering]="true"
                            [allowColumnResizing]="true"
                            [columnAutoWidth]="true">
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                            <dxi-column *ngFor="let data of columnhead"
                                dataField="{{ data }}" caption="{{ data }}"
                                [allowEditing]="true" alignment="center"
                                backgroundcolor="#000">
                            </dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>