<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Additional Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>

<!-- modal header component -->
<modal-header
  (saveClick)="formSave()"
  (cancelClick)="close()"
  (deleteClick)="deleteMaster()"
></modal-header>

<!-- content section -->
<div class="container-fluid pt-3">
  <form [formGroup]="costAndPriceTypeMainForm">
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row mb-1">
              <label for="code" class="col-sm-2 col-form-label" id="ID029"
                >Code</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="code" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Description</label
              >
              <div class="col-md-10">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Type Code</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-2"></div>

              <div class="col-md-5 pt-2">
                <mat-checkbox formControlName="includeForTax" id="ID060"
                  >Include For Tax</mat-checkbox
                >
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Calculated On</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Add Category</label
              >

              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Transaction</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-5 pt-2">
                <mat-checkbox formControlName="includeForTax" id="ID060"
                  >Include In Sales
                </mat-checkbox>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Debit</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Crdit</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-2 col-form-label"
                id="ID029"
                >Narration</label
              >
              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="description" />
                </mat-form-field>
              </div>

              <div class="col-md-5 pt-1">
                <button
                  type="button"
                  class="col-md-12 p-4 mb-4 btn btn-primary text-center"
                >
                  Auto Additional Amount
                </button>
              </div>
            </div>



            <div class="row mb-1">

                <div class="col-md-4">
                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend">VAT Type
                        </legend>
                        <mat-radio-group aria-label="Select an option" formControlName="DailyTarget">
                            <mat-radio-button value="F" id="ID012"
                                class="mx-2"><b>Direct</b></mat-radio-button>
                            <mat-radio-button value="P" id="ID013"
                                class="mx-2"><b>Rcm</b></mat-radio-button>
                        </mat-radio-group>
                    </fieldset>
                </div>
         
              </div>

            <!-- <div class="row mb-1">
              <label for="party" class="col-sm-2 col-form-label" id="ID029"
                >Party</label
              >
              <div class="col-md-4">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="party" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="division" class="col-sm-2 col-form-label" id="ID029"
                >Division</label
              >
              <div class="col-md-4">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input matInput="text" formControlName="division" />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-md-6">
                <mat-checkbox formControlName="applyPriceValue" id="ID060"
                  >Apply Price Value</mat-checkbox
                >
              </div>

              <div class="col-md-6">
                <mat-checkbox formControlName="forceMaking" id="ID060"
                  >Force Making Charges On Net. Wt.</mat-checkbox
                >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
