<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">OTP Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header
  [isViewSave]="!viewMode"
  [isViewCancel]="!viewMode"
  [isViewMore]="!viewMode"
  (saveClick)="OTPMasterFormSubmit()"
  (cancelClick)="close()"
  (deleteClick)="DeleteController()"
  [isViewDelete]="false"
></modal-header>
<!-- Content component -->

<form [formGroup]="OTPMasterForm">
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-10">
            <div class="mb-4 row align-items-center mb-1">
              <label for="branchCode" class="col-sm-2 col-form-label"
                >Branch<span class="text-danger">*</span></label
              >
              <div class="col-md-3">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="branchCode"
                    (keydown)="
                      onKeyDown(
                        $event,
                        ['branchCode', 'branchDesc'],
                        branchCodeData
                      )
                    "
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        branchCodeData,
                        ['branchCode', 'branchDesc'],
                        false,
                        ['BRANCH_CODE', 'BRANCH_NAME']
                      )
                    "
                  />
                  <master-search
                    *ngIf="flag != 'VIEW'"
                    (focusout)="openTab($event, 'branchCode')"
                    [MasterSearchData]="branchCodeData"
                    #overlayBranchCode
                    (newRowClick)="
                      lookupSelect(
                        $event,
                        ['branchCode', 'branchDesc'],
                        ['BRANCH_CODE', 'BRANCH_NAME']
                      )
                    "
                    class="masterSearch"
                  ></master-search>

                  <mat-error
                    *ngIf="
                      OTPMasterForm.controls['branchCode'].hasError('required')
                    "
                  >
                    Branch Code is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="branchDesc"
                    (keydown)="
                      onKeyDown(
                        $event,
                        ['branchCode', 'branchDesc'],
                        branchCodeData
                      )
                    "
                  />

                  <mat-error
                    *ngIf="
                      OTPMasterForm.controls['branchDesc'].hasError('required')
                    "
                  >
                    Branch Desc is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <dx-data-grid
        #dataGrid
        [dataSource]="otpGridData"
        id="gridContainer"
        [allowColumnResizing]="true"
        [showBorders]="true"
        [selection]="{ mode: 'single', showCheckBoxesMode: 'always' }"
        (onSelectionChanged)="onRowSelectionChanged($event)"
      >
        <dxi-column
          *ngFor="let data of columnHeader"
          [dataField]="data.FIELD"
          [caption]="data.CAPTION"
          [allowEditing]="true"
          alignment="center"
        >
        </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</form>
