<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">OTP Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header
[isViewSave]="!viewMode" [isViewCancel]="!viewMode" [isViewMore]="!viewMode"
  (saveClick)="formSubmit()"
  (cancelClick)="close()"[isViewDelete]="!viewMode && editableMode"
  (deleteClick)="deleteRecord()"
></modal-header>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="otpForm">
      <div class="container-fluid pt-3">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-10">
                <div class="row align-items-center mb-1">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >Branch * :</label
                  >
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" style="width: 100%">
                      <input
                        type="text"
                        matInput
                        formControlName="branch"
                        [readonly]="viewMode"
                        (focusout)="
                          validateLookupField($event, branchCodeData, 'branch')
                        "
                        (keydown)="lookupKeyPress($event, 'branch')"
                      />
                      <master-search
                        [MasterSearchData]="branchCodeData"
                        #overlaybranchSearch
                        (newRowClick)="branchSelected($event)"
                        *ngIf="!viewMode"
                        class="masterSearch"
                      ></master-search>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%">
                      <input
                        type="text"
                        matInput
                        formControlName="branchdesc"
                        [readonly]="viewMode || codeEnable"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <dx-data-grid
            #dataGrid
            [dataSource]="data"
            id="gridContainer"
            [allowColumnResizing]="true"
            [showBorders]="true"
            (onSelectionChanged)="getRowData($event)"
          >
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
            <dxo-selection mode="multiple"></dxo-selection>
            <dxi-column dataField="SrNo" caption="SrNo"> </dxi-column>
            <dxi-column dataField="OTP_LEVEL" caption="Level "> </dxi-column>
            <dxi-column dataField="LEVEL_USER" caption="User"> </dxi-column>
            <dxi-column dataField="LEVEL_MOBILE1" caption="Mobile Number1">
            </dxi-column>
            <dxi-column dataField="LEVEL_MOBILE2" caption="Mobile Number2">
            </dxi-column>
            <dxi-column dataField="LEVEL_EMAIL" caption="Email"> </dxi-column>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <!-- <dxi-column *ngFor="let data of columnheader" dataField="{{ data }}" caption="{{ data }}"
                            [allowEditing]="true" alignment="center" backgroundcolor="#000">
                        </dxi-column> -->
          </dx-data-grid>
        </div>
      </div>
    </form>
  </div>
</div>
