::ng-deep {
    .mat-form-field-infix {
      width: 154px !important;
    }
    .cdk-overlay-container {
        position: fixed;
        z-index: 1070 !important;
    }
    .mat-flat-button{
      line-height: 0px !important;
      height: 30px !important;
    }
    .mat-form-field{
      font-weight: 600 !important;
    }
}