<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Metal Return</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
    (deleteClick)="deleteMeltingType()"
    [isViewDelete]="false" [isViewSave]="!viewMode" [isloading]="isloading"
    [isViewPost]="true"
    [isViewAuditTrail]="true" [disableAuditTrail]="!isSaved"
    [isViewDelete]="editMode"></modal-header>
<!-- content section -->
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="metalReturnForm">
            <div class="container-fluid pt-3">
                <div class="row">
                    <h6>{{branchCode}} - {{companyName}}</h6>
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Voucher *
                                :</label>
                            <div class="col-sm-4 ">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="VOCTYPE" readonly />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 ">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="VOCNO"
                                        (focusout)="ValidatingVocNo()"
                                        [readonly]="LOCKVOUCHERNO"
                                        style="text-align: right;" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Voucher Date
                                :</label>
                            <div class="col-sm-4 ">
                                <!-- <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="vocDate" />
                                </mat-form-field> -->
                                <mat-form-field appearance="outline"
                                    style="width: 100%">
                                    <input matInput DateValidation
                                        (dateChange)="formatDate($event)"
                                        [matDatepicker]="vocDate"
                                        formControlName="vocDate" readonly
                                        placeholder="DD/MM/YYYY" [min]="minDate"
                                        [max]="maxDate" />
                                    <mat-datepicker-toggle matSuffix
                                        [for]="vocDate"></mat-datepicker-toggle>
                                    <mat-datepicker #vocDate
                                        [startAt]="currentDate"
                                        [disabled]="isSaved"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 ">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="datetime" matInput
                                        formControlName="vocTime"
                                        class="text-right"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Entered
                                By:</label>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="enteredBy"
                                        UpperCaseDirective
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'enteredBy')"
                                        (focusout)="validateLookupField($event,SALESPERSON_CODEData,'enteredBy')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="SALESPERSON_CODEData"
                                        #overlayenteredBy
                                        (newRowClick)="userDataSelected($event)"
                                        *ngIf="!viewMode">
                                    </master-search>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Process:</label>
                            <div class="col-sm-7">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="process"
                                        UpperCaseDirective
                                        id="code" [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'process')"
                                        (focusout)="validateLookupField($event,ProcessCodeData,'process')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="ProcessCodeData"
                                        #overlayprocess
                                        (newRowClick)="ProcessCodeSelected($event)"
                                        *ngIf="!viewMode">
                                    </master-search>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Worker:</label>
                            <div class="col-sm-7">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="worker"
                                        UpperCaseDirective
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'worker')"
                                        (focusout)="validateLookupField($event,WorkerCodeData,'worker')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="WorkerCodeData"
                                        #overlayworker
                                        (newRowClick)="WorkerCodeSelected($event)"
                                        *ngIf="!viewMode">
                                    </master-search>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input"
                                class="col-sm-4 col-form-label">Location:</label>
                            <div class="col-sm-7">
                                <mat-form-field appearance="outline"
                                    style="width: 100%">
                                    <input type="text" matInput
                                        formControlName="location"
                                        UpperCaseDirective
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'location')"
                                        (focusout)="validateLookupField($event,locationCodeData,'location')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="locationCodeData"
                                        #overlaylocation
                                        (newRowClick)="locationCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <dx-data-grid #dataGrid id="gridContainer"
                            [showBorders]="true" [showRowLines]="true"
                            [allowColumnReordering]="true"
                            (onCellClick)="onRowClickHandlers($event)"
                            [allowColumnResizing]="true"
                            [dataSource]="tableData" height="200"
                            [columnAutoWidth]="true">
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-selection
                                [mode]="viewMode ? 'none' : 'multiple'"></dxo-selection>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                            <dxi-column dataField="PROCESS" caption="PROCESS"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="WORKER" caption="WORKER"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="JOB_NUMBER"
                                caption="JOB_NUMBER"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="UNQ_JOB_ID"
                                caption="UNQ_JOB_ID"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="DESIGN_CODE"
                                caption="DESIGN_CODE"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="STOCK_CODE"
                                caption="STOCK_CODE"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="METAL" caption="METAL"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="NETWT" caption="NETWT"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="PURITY" caption="PURITY"
                                [allowEditing]="!viewMode"></dxi-column>
                            <dxi-column dataField="PUREWT" caption="PUREWT"
                                [allowEditing]="!viewMode"></dxi-column>

                        </dx-data-grid>
                        <div class="p-2 bd-highlight">
                            <button type="button" mat-flat-button
                                (click)="onSelectRow()" *ngIf="!viewMode">
                                Select
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3 d-flex">
                        <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                            [viewImportBtn]="false"
                            *ngIf="!viewMode"
                            (addClick)="openAddMetalReturnDetail()"
                            (deleteClick)="deleteTableData()">
                        </menu-buttons>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <dx-data-grid id="gridContainer"
                            [dataSource]="metalReturnDetailsData"
                            [showBorders]="true"
                            [showRowLines]="true"
                            (onRowClick)="onRowClickHandlerr($event)"
                            (onRowDblClick)="onRowDoubleClickHandler($event)"
                            [allowColumnResizing]="true"
                            [allowColumnReordering]="true"
                            height="250px" [columnAutoWidth]="true">
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                            <dxo-paging [enabled]="false"></dxo-paging>

                            <dxi-column *ngFor="let data of columnhead"
                                dataField="{{ data.field }}"
                                caption="{{ data.title }}"
                                [format]="data.format" [allowEditing]="true"
                                [alignment]="data.alignment"
                                backgroundcolor="#000">
                            </dxi-column>
                            <dxo-summary>
                                <dxi-total-item column="SRNO">
                                </dxi-total-item>
                                <dxi-total-item column="PCS">
                                </dxi-total-item>
                                <dxi-total-item column="GROSS_WT"
                                    summaryType="sum"
                                    [valueFormat]="gridAmountDecimalFormat"
                                    displayFormat="{0}">
                                </dxi-total-item>
                                <dxi-total-item column="PURE_WT"
                                    summaryType="sum"
                                    [valueFormat]="gridMetalDecimalFormat"
                                    displayFormat="{0}">
                                </dxi-total-item>
                                <dxi-total-item column="STONE_WT"
                                    summaryType="sum"
                                    [valueFormat]="gridMetalDecimalFormat"
                                    displayFormat="{0}">
                                </dxi-total-item>
                                <dxi-total-item column="NET_WT"
                                    summaryType="sum"
                                    [valueFormat]="gridMetalDecimalFormat"
                                    displayFormat="{0}">
                                </dxi-total-item>
                            </dxo-summary>
                        </dx-data-grid>
                    </div>

                    <div class="col-md-4">
                        <div class="row my-2">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Remarks
                                :</label>
                            <div class="col-md-9">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="REMARKS"
                                        [readonly]="viewMode"
                                        maxlength="100" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #metalReturnDetailScreen>
    <app-metal-return-details [content]="dataToDetailScreen"
        (saveDetail)="setValuesToHeaderGrid($event)"
        (closeDetail)="closeDetailScreen()"></app-metal-return-details>
</ng-template>