table{
    width:100%;
    height: 100%;
    font-size: 0.7rem;
    margin: 2px;
    tbody{
        tr{
            background-color: #e5f3f9;
            td{
                border-right: 0.5px solid rgb(216, 216, 216);
                padding: 4px;
                text-align: right;
            }
        }
    }
    thead{
        tr{
            background-color: #41a1d1;
            color: white;
            th{
                border-right: 0.5px solid rgb(216, 216, 216);
                padding: 3px;
                text-align: right;
            }
        }
    }
}