.touch-big-button {
    width: 100%;
    height: 50px;
    background-color: #0861a9;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  .touch-big-button-inner {
    text-align: center !important;
    padding-left: 0px !important;
    padding-top: 4px !important;
    font-size: 15px !important;
  }
  
  .touch-big-button i {
    padding-right: 7px;
    padding-top: 13px;
  }
  
  .touch-big-button i {
    font-size: 20px;
    padding-top: 10px;
  }
  
  .touch-big-button div {
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 12px;
  }