.branchDivisionelectr{
    position: absolute;
    // top: 0px;
    // margin-left: -0.3rem !important;
}

::ng-deep .mat-tooltip.custom-tooltip {
    background-color: #151414;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    // padding: 8px;
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.5;
}

// for mat-select dropdowns
::ng-deep {
    .cdk-overlay-container {
      position: fixed;
      z-index: 1070 !important;
    }
}

.spacing {
    padding: 5px;
}

.same-width {
    width: 80px; 
}

