<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Zircon Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>

<!-- modal header component -->
<modal-header
  *ngIf="flag !== 'VIEW'"
  (saveClick)="zirconMasterMainFormSubmit()"
  (cancelClick)="close()"
  (deleteClick)="DeleteController()"
></modal-header>

<!-- content section -->
<div class="container-fluid pt-3">
  <form [formGroup]="zirconMasterMainForm">
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="row mb-1">
              <label for="code" class="col-sm-5 col-form-label" id="ID029"
                >Code</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="code"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="costCenter" class="col-sm-5 col-form-label" id="ID029"
                >Cost center</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="costCenter"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['costCenter'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'costCenter')"
                    *ngIf="flag != 'VIEW'"
                    #overlayCostCenter
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="
                      lookupSelect($event, ['costCenter'], ['CODE'])
                    "
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="category" class="col-sm-5 col-form-label" id="ID029"
                >Category</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="category"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['category'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />

                  <master-search
                    (focusout)="openTab($event, 'category')"
                    *ngIf="flag != 'VIEW'"
                    #overlayCategory
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['category'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="shape" class="col-sm-5 col-form-label" id="ID029"
                >Shape</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="shape"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['shape'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'shape')"
                    *ngIf="flag != 'VIEW'"
                    #overlayShape
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['shape'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="color" class="col-sm-5 col-form-label" id="ID029"
                >Color</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="color"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['color'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'color')"
                    *ngIf="flag != 'VIEW'"
                    #overlayColor
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['color'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="vendor" class="col-sm-5 col-form-label" id="ID029"
                >Vendor</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="vendor"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['vendor'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'vendor')"
                    *ngIf="flag != 'VIEW'"
                    #overlayVendor
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['vendor'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="vendorRef" class="col-sm-5 col-form-label" id="ID029"
                >Vendor Ref</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="vendorRef"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="createdOn" class="col-sm-5 col-form-label" id="ID029"
                >Created On</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="createdOn"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="createdBy" class="col-sm-5 col-form-label" id="ID029"
                >Created By</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="createdBy"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <mat-checkbox
                class="example-margin"
                formControlName="allowZeroPcs"
                (change)="matBoxChecker($event, 'allowZeroPcs')"
              >
                Allow Zero Pcs
              </mat-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-5 col-form-label"
                id="ID029"
                >Description</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="description"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="brand" class="col-sm-5 col-form-label" id="ID029"
                >Brand</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="brand"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['brand'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'brand')"
                    *ngIf="flag != 'VIEW'"
                    #overlayBrand
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['brand'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="subCategory"
                class="col-sm-5 col-form-label"
                id="ID029"
                >Sub Category</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="subCategory"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['subCategory'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'subCategory')"
                    *ngIf="flag != 'VIEW'"
                    #overlaySubCategory
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="
                      lookupSelect($event, ['subCategory'], ['CODE'])
                    "
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="size" class="col-sm-5 col-form-label" id="ID029"
                >Size</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="size"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['size'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'size')"
                    *ngIf="flag != 'VIEW'"
                    #overlaySize
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['size'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="type" class="col-sm-5 col-form-label" id="ID029"
                >Type</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="type"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['type'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'type')"
                    *ngIf="flag != 'VIEW'"
                    #overlayType
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['type'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="sieveSet" class="col-sm-5 col-form-label" id="ID029"
                >Sieve Set</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="sieveSet"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['sieveSet'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'sieveSet')"
                    *ngIf="flag != 'VIEW'"
                    #overlaySieveSet
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['sieveSet'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="sieve" class="col-sm-5 col-form-label" id="ID029"
                >Sieve</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="sieve"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        countryCodeData,
                        ['sieve'],
                        false,
                        ['CODE'],
                        false
                      )
                    "
                  />
                  <master-search
                    (focusout)="openTab($event, 'sieve')"
                    *ngIf="flag != 'VIEW'"
                    #overlaySieve
                    class="masterSearch"
                    [MasterSearchData]="countryCodeData"
                    (newRowClick)="lookupSelect($event, ['sieve'], ['CODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="firstTrans" class="col-sm-5 col-form-label" id="ID029"
                >First Trans</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="firstTrans"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="lastTrans" class="col-sm-5 col-form-label" id="ID029"
                >Last Trans</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="lastTrans"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <mat-checkbox
                class="example-margin"
                formControlName="excludeFromTransferWt"
                (change)="matBoxChecker($event, 'excludeFromTransferWt')"
              >
                Exclude From Transfer Wt.
              </mat-checkbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row mb-1">
              <label for="currency" class="col-sm-3 col-form-label" id="ID029"
                >Currency</label
              >
              <div class="col-md-4">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="currencyCode"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="currencyDesc"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="weightAvgCost"
                class="col-sm-3 col-form-label"
                id="ID029"
                >Weight Avg Cost</label
              >
              <div class="col-md-4">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="weightAvgCostCode"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="weightAvgCostDesc"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-md-12 pt-3">
                <button
                  type="button"
                  class="col-md-12 p-4 mb-4 btn btn-primary text-center"
                >
                  Price Schema
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="row mb-1">
                  <label class="col-sm-2 col-form-label" id="ID029">Cost</label>

                  <label class="col-sm-2 col-form-label" id="ID029">Code</label>

                  <label class="col-sm-2 col-form-label" id="ID029">%</label>

                  <label class="col-sm-3 col-form-label" id="ID029">FC</label>
                  <label class="col-sm-3 col-form-label" id="ID029">LC</label>
                </div>

                <div class="row mb-1">
                  <label for="price1" class="col-sm-2 col-form-label" id="ID029"
                    >Price 1</label
                  >
                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceOneCode"
                        (focusout)="
                          SPvalidateLookupFieldModified(
                            $event,
                            countryCodeData,
                            [
                              'priceOneCode',
                              'priceOnePercent',
                              'priceOneLc',
                              'priceOneFc'
                            ],
                            false,
                            ['CODE', 'CODE', 'CODE', 'CODE'],
                            false
                          )
                        "
                      />
                      <master-search
                        (focusout)="openTab($event, 'priceOneCode')"
                        *ngIf="flag != 'VIEW'"
                        #overlayPriceOneCode
                        class="masterSearch"
                        [MasterSearchData]="countryCodeData"
                        (newRowClick)="
                          lookupSelect(
                            $event,
                            [
                              'priceOneCode',
                              'priceOnePercent',
                              'priceOneLc',
                              'priceOneFc'
                            ],
                            ['CODE', 'CODE', 'CODE', 'CODE']
                          )
                        "
                      >
                      </master-search>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceOnePercent"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceOneFc"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceOneLc"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-1">
                  <label for="price2" class="col-sm-2 col-form-label" id="ID029"
                    >Price 2</label
                  >
                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceTwoCode"
                        (focusout)="
                          SPvalidateLookupFieldModified(
                            $event,
                            countryCodeData,
                            [
                              'priceTwoCode',
                              'priceTwoPercent',
                              'priceTwoLc',
                              'priceTwoFc'
                            ],
                            false,
                            ['CODE', 'CODE', 'CODE', 'CODE'],
                            false
                          )
                        "
                      />
                      <master-search
                        (focusout)="openTab($event, 'priceTwoCode')"
                        *ngIf="flag != 'VIEW'"
                        #overlayPriceTwoCode
                        class="masterSearch"
                        [MasterSearchData]="countryCodeData"
                        (newRowClick)="
                          lookupSelect(
                            $event,
                            [
                              'priceTwoCode',
                              'priceTwoPercent',
                              'priceTwoLc',
                              'priceTwoFc'
                            ],
                            ['CODE', 'CODE', 'CODE', 'CODE']
                          )
                        "
                      >
                      </master-search>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceTwoPercent"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceTwoFc"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceTwoLc"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-1">
                  <label for="price3" class="col-sm-2 col-form-label" id="ID029"
                    >Price 3</label
                  >
                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceThreeCode"
                        (focusout)="
                          SPvalidateLookupFieldModified(
                            $event,
                            countryCodeData,
                            [
                              'priceThreeCode',
                              'priceThreePercent',
                              'priceThreeLc',
                              'priceThreeFc'
                            ],
                            false,
                            ['CODE', 'CODE', 'CODE', 'CODE'],
                            false
                          )
                        "
                      />
                      <master-search
                        (focusout)="openTab($event, 'priceThreeCode')"
                        *ngIf="flag != 'VIEW'"
                        #overlayPriceThreeCode
                        class="masterSearch"
                        [MasterSearchData]="countryCodeData"
                        (newRowClick)="
                          lookupSelect(
                            $event,
                            [
                              'priceThreeCode',
                              'priceThreePercent',
                              'priceThreeLc',
                              'priceThreeFc'
                            ],
                            ['CODE', 'CODE', 'CODE', 'CODE']
                          )
                        "
                      >
                      </master-search>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceThreePercent"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceThreeFc"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceThreeLc"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-1">
                  <label for="price4" class="col-sm-2 col-form-label" id="ID029"
                    >Price 4</label
                  >
                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFourCode"
                        (focusout)="
                          SPvalidateLookupFieldModified(
                            $event,
                            countryCodeData,
                            [
                              'priceFourCode',
                              'priceFourPercent',
                              'priceFourLc',
                              'priceFourFc'
                            ],
                            false,
                            ['CODE', 'CODE', 'CODE', 'CODE'],
                            false
                          )
                        "
                      />
                      <master-search
                        (focusout)="openTab($event, 'priceFourCode')"
                        *ngIf="flag != 'VIEW'"
                        #overlayPriceFourCode
                        class="masterSearch"
                        [MasterSearchData]="countryCodeData"
                        (newRowClick)="
                          lookupSelect(
                            $event,
                            [
                              'priceFourCode',
                              'priceFourPercent',
                              'priceFourLc',
                              'priceFourFc'
                            ],
                            ['CODE', 'CODE', 'CODE', 'CODE']
                          )
                        "
                      >
                      </master-search>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFourPercent"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFourFc"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFourLc"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-1">
                  <label for="price5" class="col-sm-2 col-form-label" id="ID029"
                    >Price 5</label
                  >
                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFiveCode"
                        (focusout)="
                          SPvalidateLookupFieldModified(
                            $event,
                            countryCodeData,
                            [
                              'priceFiveCode',
                              'priceFivePercent',
                              'priceFiveLc',
                              'priceFiveFc'
                            ],
                            false,
                            ['CODE', 'CODE', 'CODE', 'CODE'],
                            false
                          )
                        "
                      />
                      <master-search
                        (focusout)="openTab($event, 'priceFiveCode')"
                        *ngIf="flag != 'VIEW'"
                        #overlayPriceFiveCode
                        class="masterSearch"
                        [MasterSearchData]="countryCodeData"
                        (newRowClick)="
                          lookupSelect(
                            $event,
                            [
                              'priceFiveCode',
                              'priceFivePercent',
                              'priceFiveLc',
                              'priceFiveFc'
                            ],
                            ['CODE', 'CODE', 'CODE', 'CODE']
                          )
                        "
                      >
                      </master-search>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="text"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFivePercent"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFiveFc"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field style="width: 100%" appearance="outline">
                      <input
                        type="number"
                        [readonly]="flag === 'VIEW'"
                        matInput
                        formControlName="priceFiveLc"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12 pt-3">
                <button
                  type="button"
                  class="col-md-12 p-4 mb-4 btn btn-primary text-center"
                >
                  Item Image
                </button>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-12 p-2 mt-1">
                <div class="icons">
                  <div class="image_box">
                    <img
                      class="image_box"
                      *ngIf="fetchedPicture"
                      [src]="fetchedPicture"
                      alt="picture"
                    />

                    <div class="p-1 bd-highlight">
                      <button
                        type="button"
                        class="btn btn-primary add-btn"
                        (click)="fileInput.click()"
                      >
                        <i class="fas fa-image"></i>
                      </button>
                      <input
                        type="file"
                        formControlName="picture"
                        #fileInput
                        accept=".jpg,.jpeg,.png,.gif"
                        (change)="handleFileSelection($event, fileInput)"
                        style="display: none"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
