.btn-primary {
    // background-color: #415a77 !important;
    // border-color: #415a77 !important;
    background: linear-gradient(0deg, #2a5298 30%, #1e3c72 60%) !important;
    font-size: 12px;
    width: 120px;
    border-radius: 3px !important;
    padding: 6px 15px 6px 15px !important;
  }
  
  .subHeading {
    // background-color: #415a77 !important;
    // border-color: #415a77 !important;
    background: linear-gradient(0deg, #2a5298 30%, #1e3c72 60%) !important;
    font-size: 12px;
    //   width: 120px;
    border-radius: 3px !important;
    color: white;
    //   padding: 6px 15px 6px 15px !important;
  }
  
  .btn-danger {
    font-size: 12px;
    padding: 6px 15px 6px 15px !important;
    border-radius: 5px !important;
  }
  
  .heading {
    background: linear-gradient(0deg, #2a5298 30%, #1e3c72 60%) !important;
    font-size: 12px;
    width: 100%;
    border-radius: 3px !important;
    padding: 6px 15px 6px 15px !important;
    color: white;
  }
  
  ::ng-deep {
    .mat-flat-button {
      line-height: 0px !important;
      height: 25px !important;
      background: #2a5298;
      background: linear-gradient(0deg, #2a5298 30%, #1e3c72 60%);
      border-radius: 3px !important;
      // background-color: #415a77;
  
      span {
        color: #ffffff;
        font-size: 0.9em;
      }
    }
  }
  