
.scheme_register_pdf{
    padding: 20px;
    border: 1px solid #d4d4d4;
}

.scheme_register_pdf .left_content h4,.scheme_register_pdf .right_content h4{
    margin-bottom: 1px;
}

.scheme_register_pdf .email_address p{
    margin-bottom: 1px;
}

.scheme_register_pdf .border_bottom{
    border-top: 4px solid #505358;
    padding: 10px 0px;
    border-bottom: 4px solid #505358;
}