.scheme_register_pdf {
  padding: 20px;
  border: 1px solid #d4d4d4;
  font-family: "Poppins",sans-serif;
}

.scheme_register_pdf .left_content h4,
.scheme_register_pdf .right_content h4 {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 18px;
  color: #495057;
}

.right_content.text-end p,
.left_content p,
.email_address.text-end p {
  margin-bottom: 5px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
}

.scheme_register_pdf .border_bottom {
  border-top: 4px solid #505358;
  padding: 10px 0px;
  border-bottom: 4px solid #505358;
}

.scheme_register_pdf
.table-responsive .table.table-bordered thead tr th{
    color: #333;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    line-height: 1.35715;
}
