.add-btn {
    font-size: 12px;
    padding: 3px 20px !important;
    border-radius: 5px !important;
  }
  .scrollable-content {
    max-height: 60vh;
    overflow-y: auto;
  }

  .selected-cell {
    background-color: #f28b82 !important;  /* Light red shade */
    color: white !important;  /* Text color remains white */
  }
  