<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal"> PCR Selection
    </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close(null,true)">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>

<div class="modal-body">
    <div class="scrollable-content">
        <div class="container-fluid pt-3">
            <div class="row mb-1">
                <div class="col-md-12 text-end">
                    <div class="p-1 bd-highlight">
                        <button type="button" class="btn btn-primary add-btn" id="ID017" (click)="confirmSelection()"
                            [disabled]="!this.selectedRows.length">
                            Selected
                        </button>

                        <!-- <button type="button" class="btn btn-primary add-btn" id="ID017" (click)="confirmSelection()">
                            Selected
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <dx-data-grid
                    id="gridContainer"
                    keyExpr="id"
                    [showBorders]="true"
                    [dataSource]="pcrSelectionData"
                    [selectedRowKeys]="selectedRowKeys"
                    (onSelectionChanged)="onSelectionChanged($event)"
                    (onCellPrepared)="onCellPrepared($event)"
                  >
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager
                      [showPageSizeSelector]="true"
                      [allowedPageSizes]="[12, 24, 48]"
                      [showInfo]="true"
                      [showNavigationButtons]="true"
                    ></dxo-pager>
                    <dxo-editing mode="cell" [allowUpdating]="false"></dxo-editing>
                    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                    <dxo-scrolling mode="standard"></dxo-scrolling>
                    <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                  
                    <dxi-column
                      *ngFor="let data of columnsList"
                      [dataField]="data.field"
                      [caption]="data.title"
                      alignment="center"
                    >
                      <dxo-header-filter [visible]="true"></dxo-header-filter>
                    </dxi-column>
                  </dx-data-grid>
                  
                  

                </div>
            </div>
        </div>
    </div>
</div>