table {
  border-collapse: collapse;
  // width: 100%;
}

th,
td {
  border: 1px solid gainsboro;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.tablerowheading{
  width: 130px !important;
}
.square-box {
  width: 90%;
  height: 200px;
  border: 1px solid black;
}
.col-form-label {
  font-size: 1em !important;
  padding-top: 4px !important;
}
::ng-deep {
  
  .modal-content {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
  .mat-form-field {
    font-weight: 600 !important;
  }
  .mat-flat-button {
    line-height: 0px !important;
    height: 27px !important;
    background-color: #778da9 !important;
    span {
      color: #ffff;
      font-size: 0.9em;
    }
  }
  .mat-tab-body-content {
    overflow: hidden !important;
  }
  .dx-datagrid .dx-header-row {
    font-size: 12px;
  }
}
