<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Process Transfer Details</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="processTransferdetailsForm">
      <div class="container-fluid pt-3">
        <div class="row">
          <div class="col-md-6">
            <div class="row align-items-center mb-2">
              <div class="col-sm-2">
                <!-- ./../../assets/images/barcode-scanner.png -->
                <img class="image" width="40px" height="40px"
                  src="../../../../../../assets/images/Icons/barcode-scanner.png" />
              </div>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput />
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox"
                    (change)="toggleSwitchChange($event)"
                    id="flexSwitchCheckDefault"
                    formControlName="toggleSwitchtIssue">
                  <label class="form-check-label" for="flexSwitchCheckDefault">{{MetalorProcessFlag}}</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="inputPassword" class="col-sm-3 col-form-label"
                style="font-weight: bold;">
                Job Number</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 80%;">
                  <input type="text" matInput
                    (focusout)="jobNumberValidate($event)"
                    formControlName="jobno" />
                </mat-form-field>
                <master-search [MasterSearchData]="jobNoSearch"
                  (newRowClick)="jobNumberSelected($event)">
                </master-search>
              </div>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="jobdes" />
                </mat-form-field>
              </div>

            </div>
            <div class="row mb-2">
              <label for="inputPassword" class="col-sm-3 col-form-label">Sub Job
                Number</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="subjobno" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput
                    formControlName="subJobDescription" />
                </mat-form-field>
              </div><br>
              <label for="inputPassword" class="col-sm-3 col-form-label"><b>Issue
                  Ref # </b></label>
            </div>
          </div>
          <div class="col-md-4" style="border: 1px solid grey;">
            <h6>Approved Details</h6>
            <div class="row mb-2">
              <label for="inputPassword" class="col-sm-4 col-form-label">Approved
                By</label>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="approvedby" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="inputPassword" class="col-sm-4 col-form-label">Approved
                Date</label>
              <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                  <input type="date" matInput formControlName="approveddate" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
          <mat-tab label="Transfer Details"><br>
            <div class="row">
              <div class="col-md-9">
                <table>
                  <thead>
                    <tr>
                      <td>
                        <div class="tablerowheading"></div>
                      </td>
                      <th>From</th>
                      <th>To</th>
                    </tr>
                    <tr>
                      <th>Process</th>
                      <td>
                        <div class="d-flex align-items-center">
                            <mat-form-field style="width: 120px;">
                              <input type="text" matInput
                                (focusout)="processMasterValidate($event,'FROM')"
                                formControlName="processFrom" />
                            </mat-form-field>
                            <master-search
                              [MasterSearchData]="processMasterSearch"
                              (newRowClick)="processCodeFromSelected($event)">
                            </master-search>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <mat-form-field style="width: 120px;">
                            <input type="text" matInput
                              (focusout)="processMasterValidate($event,'TO')"
                              formControlName="processTo" />
                          </mat-form-field>
                          <master-search
                            [MasterSearchData]="processMasterSearch"
                            (newRowClick)="processCodeToSelected($event)">
                          </master-search>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Worker</th>
                      <td>
                        <div class="d-flex align-items-center">
                          <mat-form-field style="width: 120px;">
                            <input type="text" matInput
                              formControlName="workerFrom" />
                          </mat-form-field>
                          <master-search [MasterSearchData]="workerMasterSearch"
                            (newRowClick)="workerCodeFromSelected($event)">
                          </master-search>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <mat-form-field style="width: 120px;">
                            <input type="text" matInput
                              formControlName="workerTo" />
                          </mat-form-field>
                          <master-search [MasterSearchData]="workerMasterSearch"
                            (newRowClick)="workerCodeToSelected($event)">
                          </master-search>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Metal Pcs</td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="MetalPcsFrom" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="MetalPcsTo" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>Metal Weight</td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="MetalWeightFrom" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="MetalWeightTo" />
                        </mat-form-field>
                      </td>
                      <th rowspan="2">Balance</th>
                      <th colspan="3" class="text-center">Transfer to</th>
                      <th>Loss Qty</th>
                      <td><b>%</b></td>
                    </tr>
                    <tr>
                      <td>From Job Pcs</td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="FromJobPcs" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="FromJobPcsTo" />
                        </mat-form-field>
                      </td>
                      <th>Stock Code</th>
                      <th>QTY</th>
                      <th>Location</th>
                      <th>Std.Loss</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Gross Weight</th>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="GrossWeightFrom" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="GrossWeightTo" />
                        </mat-form-field>
                      </td>
                      <!-- balance wt -->
                      <td>
                        <mat-form-field style="width: 100px;">
                          <input type="text" matInput
                            formControlName="Balance_WT" />
                        </mat-form-field>
                      </td>
                      <!-- stockcode -->
                      <td>
                        <mat-form-field style="width: 100px;">
                          <input type="text" matInput
                            formControlName="stockCode" />
                        </mat-form-field>
                      </td>
                      <!-- quantity -->
                      <td>
                        <mat-form-field style="width: 100px;">
                          <input type="text" matInput formControlName="quantity" />
                        </mat-form-field>
                      </td>
                      <!-- location -->
                      <td>
                        <mat-form-field style="width: 100px;">
                          <input type="text" matInput formControlName="location" />
                        </mat-form-field>
                      </td>
                      <!-- stdLoss -->
                      <td>
                        <mat-form-field style="width: 100px;">
                          <input type="text" matInput formControlName="stdLoss" />
                        </mat-form-field>
                      </td>
                      <!-- stdLossper -->
                      <td>
                        <mat-form-field style="width: 50px;">
                          <input type="text" matInput
                            formControlName="stdLossper" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>Stone Pcs</td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="StonePcsFrom" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="StonePcsTo" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>Stone Weight</td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="StoneWeighFrom" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 120px;">
                          <input type="text" matInput
                            formControlName="StoneWeightTo" />
                        </mat-form-field>
                      </td>
                    </tr>
                  </thead>
                </table><br><br>
              </div>
              <div class="col-md-3">
                <div class="row  d-flex justify-content-center">
                  <div class="square-box"></div>
                </div>
                <div class="row  d-flex justify-content-center">
                  <mat-form-field style="width: 70%;">
                    <input type="text" matInput formControlName="DESIGN_CODE" />
                  </mat-form-field>
                </div>
                <div class="row  d-flex justify-content-center">
                  <mat-form-field style="width: 70%;">
                    <input type="text" matInput formControlName="partCode" />
                  </mat-form-field>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Other Details"><br>
            <div class="row">
              <div class="col-9">
                <table class="table w-100">
                  <thead>
                    <tr>
                      <th></th>
                      <th>From</th>
                      <th>To</th>
                      <th>Transfer to Stock</th>
                      <th>STD Loss</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Process</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Act.Loss</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Worker</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Gain</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>Stock Code</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2">Balance</th>
                    </tr>
                    <tr>
                      <td>PCS</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <td>Gross Weight</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <td>Stone Weight</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <td>Iron Weight</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <td>Net Weight</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <td>Pure Weight</td>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                </table><br><br>
              </div>

              <div class="col-3">
                <div class="square-box"></div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
        <div class="row">
          <div class="col-md-3">
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">Start Date</label>
              <div class="col-sm-7">
                <mat-form-field style="width: 100%;">
                  <input type="date" matInput formControlName="startdate" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">End Date</label>
              <div class="col-sm-7">
                <mat-form-field style="width: 100%;">
                  <input type="date" matInput formControlName="enddate" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">Std Time</label>
              <div class="col-sm-7">
                <mat-form-field>
                  <input type="time" matInput formControlName="stdtime" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">Time Taken</label>
              <div class="col-sm-7">
                <mat-form-field>
                  <input type="time" matInput formControlName="timetaken" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">Consumed</label>
              <div class="col-sm-7">
                <mat-form-field>
                  <mat-select>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-3">
              <label for="input" class="col-sm-4 col-form-label">Variance %</label>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="variance" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="variance" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-2">
              <label for="input" class="col-sm-4 col-form-label">Tree No</label>
              <div class="col-sm-7">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="treeno" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2 justify-content-end">
              <div class="col-md-7">
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Select All
                  </label>
                  <input class="form-check-input" type="checkbox"
                    name="flexRadioDefault" id="flexRadioDefault1">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-2 border-top">
          <div class="col-md-12">
            <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
              [showBorders]="true">
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing mode="cell" [allowUpdating]="true">
              </dxo-editing>
              <dxo-selection mode="multiple"></dxo-selection>
              <dxo-scrolling mode="virtual"></dxo-scrolling>

              <dxi-column *ngFor="let data of columnheader"
                dataField="{{ data }}" caption="{{ data }}"
                [allowEditing]="true" alignment="center" backgroundcolor="#000">
              </dxi-column>
            </dx-data-grid>
          </div>
          <div class="col-md-4">
            <div class="row my-2">
              <label for="inputPassword" class="col-sm-3 col-form-label">Remarks
                :</label>
              <div class="col-md-9">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="remarks" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>