table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid gainsboro;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.square-box {
    width: 228px;
    height: 289px;
    border: 1px solid black;
}