<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Gold Exchange Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" [isViewContinue]="true" (continueClick)="formSubmit('CONTINUE')"
    (saveClick)="formSubmit()"></modal-header>
<!-- content section -->
<div class="container-fluid pt-3">
    <form [formGroup]="goldExchangeDetailsForm">
        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-12 col-form-label" id="ID001">Product Details</label>
        </div>
        <div class="row mb-3">
            <div class="col-md-1">
                <label for="inputPassword" class="col-sm-12 col-form-label" id="ID002">Stock Code</label>
            </div>
            <div class="col-md-1">
                <mat-form-field appearance="outline" style="width: 70%;">
                    <input type="text" readonly matInput formControlName="stockCode" />
                    <master-search class="masterSearch" *ngIf="!viewOnly" [MasterSearchData]="stockCodeData"
                    (newRowClick)="stockCodeSelected($event)"></master-search>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input type="text" [readonly]="viewOnly" matInput formControlName="stockType" />
                </mat-form-field>

            </div>
            <div class="col-md-2">
                <mat-checkbox id="ID003" class="example-margin" formControlName="fixMetalRate">
                    Outside Gold
                </mat-checkbox>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline" style="width: 70%;">
                    <input type="text" [readonly]="viewOnly" matInput formControlName="goldType" />
                    <master-search class="masterSearch" *ngIf="!viewOnly" [MasterSearchData]="outSideGoldCodeData"
                    (newRowClick)="outSideGoldSelected($event)"> </master-search>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-2" *ngIf="goldExchangeDetailsForm?.get('fixMetalRate')?.value">
                <mat-form-field style="width: 70%;">
                    <input type="text" [readonly]="viewOnly" matInput formControlName="goldType" />
                </mat-form-field>
                <master-search *ngIf="!viewOnly" [MasterSearchData]="outSideGoldCodeData"
                    (newRowClick)="outSideGoldSelected($event)"></master-search>
            </div> -->

        </div>
        <div class="row mb-3">
            <div class="col-md-1">
                <label for="inputPassword" class="col-sm-12 col-form-label" id="ID004">Description</label>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input type="text" matInput readonly formControlName="stockCodeDescription" />
                </mat-form-field>

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-5 col-form-label" id="ID005">Loc Code</label>
                    <div class="col-md-7">
                        <mat-form-field appearance="outline" style="width: 70%;">
                            <input type="text" [readonly]="viewOnly" matInput formControlName="locCode" />
                            <master-search class="masterSearch" *ngIf="!viewOnly" [MasterSearchData]="locCodeData"
                            (newRowClick)="locCodeSelected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 mx-2">
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center" id="ID006">
                            Quantity
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID007">Pcs</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" (change)="changePieces($event)" class="text-right" [min]="0" id="pieces" [readonly]="viewOnly"
                                    matInput  formControlName="pieces" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID008">Gross Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" id="grossWeight" (change)="changeGrossweight($event)"
                                    [readonly]="viewOnly" class="st_txt_right" matInput MetalDecimalInput
                                    formControlName="grossWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID009">Stone Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input class="st_txt_right" id="stoneWeight" type="text"
                                    (change)="changeStoneweight($event)" [readonly]="viewOnly" matInput
                                    MetalDecimalInput formControlName="stoneWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID010">Purity</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" (change)="changeStandardPurity($event)" [readonly]="viewOnly"
                                    class="st_txt_right" matInput PurityDecimal formControlName="purity" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID011">Pure Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" readonly class="st_txt_right" matInput MetalDecimalInput
                                    formControlName="pureWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID012">Mud Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" id="mudWeight" (change)="changeMudWeight($event)"
                                    [readonly]="viewOnly" class="st_txt_right" matInput MetalDecimalInput
                                    formControlName="mudWeight" />
                                <!-- <input type="text" class="st_txt_right" (change)="changeMudWeight($event)" [readonly]="viewOnly" matInput
                                    MetalDecimalInput formControlName="mudWeight" /> -->
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID013">Net Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" id="netWeight" class="st_txt_right" matInput MetalDecimalInput
                                    readonly formControlName="netWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row ">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID014">Chargeable Weight</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="st_txt_right" matInput MetalDecimalInput readonly
                                    formControlName="chargableWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center" id="ID027">
                            Wastage
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-md-4 col-form-label text-center">%</label>
                        <label for="inputPassword" class="col-md-4 col-form-label  text-center" id="ID028">Quantity</label>
                        <label for="inputPassword" readonly class="col-md-4 col-form-label   text-center" id="ID029">Amount</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input [min]="0" class="st_txt_right" (change)="changeWastagePerc($event)" matInput
                                    [readonly]="viewOnly" AmountDecimalInput formControlName="wastagePercent" />
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="st_txt_right" (change)="changeWastageQuantity($event)"
                                    matInput MetalDecimalInput [readonly]="viewOnly"
                                    formControlName="wastageQuantity" />
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="st_txt_right" AmountDecimalInput matInput
                                   readonly formControlName="wastageAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            Making Amount
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-4 col-form-label" id="ID020">Unit</label>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text"  id="unitCode" readonly matInput
                                    formControlName="unitCode" />
                                <!-- <mat-select formControlName="unitCode">
                                    <mat-option value="gms">GMS</mat-option>
                                </mat-select> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="text-right" [min]="0" id="unitValue" [readonly]="viewOnly"
                                    matInput formControlName="unitValue" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID025">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="st_txt_right" (change)="changeMakingRate($event)"
                                    AmountDecimalInput matInput [readonly]="viewOnly" formControlName="unitRate" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID026">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" class="st_txt_right" (change)="changeMakingAmount($event)"
                                    AmountDecimalInput matInput [readonly]="viewOnly" formControlName="unitAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            Stone Amount
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID025">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" id="stoneRate" class="st_txt_right"
                                    (change)="changeStoneRate($event)" AmountDecimalInput matInput [readonly]="viewOnly"
                                    formControlName="stoneRate" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID026">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" id="stoneAmount" class="st_txt_right"
                                    (change)="changeStoneAmount($event)" AmountDecimalInput matInput
                                    [readonly]="viewOnly" formControlName="stoneAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            Metal Amount
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID025">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" [min]="0" [maxLength]="14" (change)="changeMetalRate($event)"
                                    class="st_txt_right" matInput readonly formControlName="metalRate" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID026">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input [min]="0" (change)="changeMetalAmount($event)" class="st_txt_right" matInput
                                    AmountDecimalInput readonly formControlName="metalAmount" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            NET AMOUNT
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID026">AMOUNT</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input [min]="0" class="st_txt_right" matInput formControlName="netAmount" readonly
                                    AmountDecimalInput />

                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center" id="ID015">
                            Stone & Purity Difference
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID016">Purity Difference</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <input type="text" [min]="0" class="st_txt_right" matInput
                                    formControlName="purityDiffer" readonly MetalDecimalInput />

                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID017">Stone Difference</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <input type="text" class="st_txt_right" matInput MetalDecimalInput readonly
                                    formControlName="stoneDiffer" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID018">Oz Wt</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" (change)="triggerOunceWeightChange($event)" class="st_txt_right" matInput MetalDecimalInput [readonly]="viewOnly"
                                    formControlName="ozWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>

                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center" id="ID030">
                            Bag Details
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="inputPassword" class="col-sm-6 col-form-label" id="ID031">Bag No:</label>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" readonly matInput formControlName="bagNo" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <!-- <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            Metal Values
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" (change)="changeMetalRate($event)" class="st_txt_right" matInput PurityDecimal
                                    [readonly]="viewOnly" formControlName="metalRate" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" (change)="changeMetalAmount($event)" class="st_txt_right" matInput AmountDecimalInput
                                    [readonly]="viewOnly" formControlName="metalAmount" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col-md-12 px-0">
                        <div class="bg_qty text-center">
                            NET VALUES
                        </div>
                    </div>
                  
                    <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">AMOUNT</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" class="st_txt_right" matInput AmountDecimalInput
                                    [readonly]="viewOnly" formControlName="netAmount" />
                            </mat-form-field>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label" id="ID037">Remarks</label>
                        <div class="col-md-10">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" [readonly]="viewOnly" matInput formControlName="remarks" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>