<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Gold Pos Purchase Direct Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()"></modal-header>
<!-- content section -->
<div class="container-fluid pt-3">
    <form [formGroup]="posPurchaseDirectDetailForm">
        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-12 col-form-label">Product Details</label>
        </div>
        <div class="row mb-3">
            <div class="col-md-1">
                <label for="inputPassword" class="col-sm-12 col-form-label">Stock Code</label>
            </div>
            <div class="col-md-1">
                <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="stockCode" />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field style="width: 70%;">
                    <input type="text" matInput formControlName="stockType" />
                </mat-form-field>
                <master-search [MasterSearchData]="stockCodeData" ></master-search>
            </div>
            <div class="col-md-2">
                <mat-checkbox class="example-margin" formControlName="fixMetalRate" [checked]="true">Outside
                    Gold</mat-checkbox>
            </div>
            <div class="col-md-2">
                <mat-form-field style="width: 70%;">
                    <input type="text" matInput formControlName="goldType" />
                </mat-form-field>
                <master-search [MasterSearchData]="stockCodeData"></master-search>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-1">
                <label for="inputPassword" class="col-sm-12 col-form-label">Description</label>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="description" />
                </mat-form-field>

            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Supplier</label>
                    <div class="col-md-7">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="supplier" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="clarityCodeData"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Loc Code</label>
                    <div class="col-md-7">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="locCode" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="stockCodeData"></master-search>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 mx-2">
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Quantity</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Pieces</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="pieces" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Gross Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="grossWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Stone Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="stoneWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Purity</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="purity" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Pure Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="pureWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Mud Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="mudWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Net Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="netWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Chargable Weight</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="chargableWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Stone & Purity Difference</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Purity Difference</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 70%;">
                                <input type="text" matInput formControlName="purityDiffer" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Stone Difference</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 70%;">
                                <input type="text" matInput formControlName="stoneDiffer" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Oz Wt</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="ozWeight" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Making Charges</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Unit</label>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="unitCode">
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="unitValue" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="unitRate" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="unitAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Stone Charges</label>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="stoneRate" />
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="stoneAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Wastage</label>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPassword" class="col-md-4 col-form-label text-center">%</label>
                        <label for="inputPassword" class="col-md-4 col-form-label  text-center">Quantity</label>
                        <label for="inputPassword" class="col-md-4 col-form-label  text-center">Amount</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="wastagePercent" />
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="wastageQuantity" />
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="wastageAmount" />
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Bag Details</label>
                    </div>
                    <div class="row mb-5">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Bag No:</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="bagNo" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 mx-2">
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">Metal Values</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="metalRate" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="metalAmount" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">NET VALUES</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">RATE</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="netRate" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">AMOUNT</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="netAmount" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="row mb-3 text-center">
                        <label for="inputPassword" class="col-sm-12 col-form-label">FOR JAWAHARA</label>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Jawahara Y/N</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="jawaharaSelect">
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Resale/ Recycle</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="reSaleCycleSelect">
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Cash/ Exchange</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="cashExchangeSelect">
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <label for="inputPassword" class="col-sm-1 col-form-label">Remarks</label>
                        <div class="col-md-11">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="remarks" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>