<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Gold Exchange Details</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" (saveClick)="formSubmit()"></modal-header>
<!-- content section -->
<div class="container-fluid pt-3">
  <form [formGroup]="goldExchangeDetailsForm">
    <div class="row mb-3">
      <label for="inputPassword" class="col-sm-12 col-form-label" id="ID001"
        >Product Details</label
      >
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="inputPassword" class="col-sm-12 col-form-label" id="ID002"
          >Stock Code</label
        >
      </div>
      <div class="col-md-1">
        <mat-form-field style="width: 100%" appearance="outline">
          <input
            appNextInput
            type="text"
            [readonly]="viewOnly"
            matInput
            formControlName="stockCode"
          />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field
          style="width: -webkit-fill-available"
          appearance="outline"
        >
          <input
            appNextInput
            (focusout)="openTab($event, 'stockCode')"
            type="text"
            [readonly]="viewOnly"
            matInput
            formControlName="stockType"
          />
          <master-search
            class="masterSearch"
            #overlayStockCode
            *ngIf="!viewOnly"
            [MasterSearchData]="stockCodeData"
            (newRowClick)="stockCodeSelected($event)"
          ></master-search>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-checkbox
          appNextInput
          class="example-margin"
          formControlName="fixMetalRate"
          [checked]="true"
          id="ID003"
          >Outside Gold</mat-checkbox
        >
      </div>
      <div class="col-md-2">
        <mat-form-field style="width: max-content" appearance="outline">
          <input
            appNextInput
            type="text"
            [readonly]="viewOnly"
            (focusout)="openTab($event, 'goldType')"
            matInput
            formControlName="goldType"
          />
          <master-search
            class="masterSearch"
            #overlayOutsideCode
            *ngIf="!viewOnly"
            [MasterSearchData]="outSideGoldCodeData"
            (newRowClick)="outSideGoldSelected($event)"
          ></master-search>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1">
        <label for="inputPassword" class="col-sm-12 col-form-label" id="ID004"
          >Description</label
        >
      </div>
      <div class="col-md-3">
        <mat-form-field style="width: 100%" appearance="outline">
          <input
            appNextInput
            type="text"
            matInput
            [readonly]="viewOnly"
            formControlName="stockCodeDescription"
          />
        </mat-form-field>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="row mb-3">
          <label for="inputPassword" class="col-sm-3 col-form-label" id="ID005"
            >Loc Code</label
          >
          <div class="col-md-7">
            <mat-form-field style="width: 70%" appearance="outline">
              <input
                appNextInput
                (focusout)="openTab($event, 'locCode')"
                type="text"
                [readonly]="viewOnly"
                matInput
                formControlName="locCode"
              />
              <master-search
                class="masterSearch"
                #overlayLocationCode
                *ngIf="!viewOnly"
                [MasterSearchData]="locCodeData"
                (newRowClick)="locCodeSelected($event)"
              ></master-search>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 mx-2">
      <div class="col-md-3 mx-2">
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID006">Quantity</div>
          </div>
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID007"
              >Pieces</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  formControlName="pieces"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID008"
              >Gross Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  (change)="changeGrossweight($event)"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  formControlName="grossWeight"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID009"
              >Stone Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  (change)="changeStoneweight($event)"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  formControlName="stoneWeight"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID010"
              >Purity</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  (change)="changeStandardPurity($event)"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  SixDecimalInput
                  formControlName="purity"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID011"
              >Pure Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  formControlName="pureWeight"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID012"
              >Mud Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  (change)="changeMudWeight($event)"
                  [readonly]="viewOnly"
                  matInput
                  ThreeDecimalInput
                  formControlName="mudWeight"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID013"
              >Net Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  readonly
                  formControlName="netWeight"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID014"
              >Chargable Weight</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  readonly
                  formControlName="chargableWeight"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID015">
              Stone & Purity Difference
            </div>
          </div>
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID016"
              >Purity Difference</label
            >
            <div class="col-md-6">
              <mat-form-field
                style="width: -webkit-fill-available"
                appearance="outline"
              >
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  readonly
                  formControlName="purityDiffer"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID017"
              >Stone Difference</label
            >
            <div class="col-md-6">
              <mat-form-field
                style="width: -webkit-fill-available"
                appearance="outline"
              >
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  readonly
                  formControlName="stoneDiffer"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID018"
              >Oz Wt</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  [readonly]="viewOnly"
                  formControlName="ozWeight"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mx-2">
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID019">Making Charges</div>
          </div>
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label"
              id="ID020"
              >Unit</label
            >
            <div class="col-md-5">
              <mat-form-field style="width: 100%" appearance="outline">
                <mat-select formControlName="unitCode">
                  <mat-option value="gms" id="ID021">GMS</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  [readonly]="viewOnly"
                  style="text-align: right"
                  matInput
                  formControlName="unitValue"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID022"
              >Rate</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  (change)="changeMakingRate($event)"
                  matInput
                  [readonly]="viewOnly"
                  formControlName="unitRate"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID023"
              >Amount</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  (change)="changeMakingAmount($event)"
                  matInput
                  [readonly]="viewOnly"
                  formControlName="unitAmount"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID024">Stone Charges</div>
          </div>

          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID025"
              >Rate</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  (change)="changeStoneRate($event)"
                  AmountDecimalInput
                  matInput
                  [readonly]="viewOnly"
                  formControlName="stoneRate"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID026"
              >Amount</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  (change)="changeStoneAmount($event)"
                  AmountDecimalInput
                  matInput
                  [readonly]="viewOnly"
                  formControlName="stoneAmount"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID027">Wastage</div>
          </div>

          <div class="row">
            <label
              for="inputPassword"
              class="col-md-4 col-form-label text-center"
              >%</label
            >
            <label
              for="inputPassword"
              class="col-md-4 col-form-label text-center"
              id="ID028"
              >Quantity</label
            >
            <label
              for="inputPassword"
              class="col-md-4 col-form-label text-center"
              id="ID029"
              >Amount</label
            >
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  [readonly]="viewOnly"
                  formControlName="wastagePercent"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  ThreeDecimalInput
                  [readonly]="viewOnly"
                  formControlName="wastageQuantity"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  AmountDecimalInput
                  matInput
                  [readonly]="viewOnly"
                  formControlName="wastageAmount"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID030">Bag Details</div>
          </div>
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID031"
              >Bag No:</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="text"
                  [readonly]="viewOnly"
                  matInput
                  formControlName="bagNo"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mx-2">
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID032">Metal Values</div>
          </div>
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID033"
              >Rate</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  (change)="changeMetalRate($event)"
                  style="text-align: right"
                  matInput
                  SixDecimalInput
                  [readonly]="viewOnly"
                  formControlName="metalRate"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID034"
              >Amount</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  (change)="changeMetalAmount($event)"
                  style="text-align: right"
                  matInput
                  AmountDecimalInput
                  [readonly]="viewOnly"
                  formControlName="metalAmount"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-md-12 px-0">
            <div class="bg_qty text-center" id="ID035">NET VALUES</div>
          </div>
          <!-- <div class="row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">RATE</label>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;">
                                <input appNextInput type="number" style="text-align: right;" matInput AmountDecimalInput
                                    [readonly]="viewOnly" formControlName="netRate" />
                            </mat-form-field>
                        </div>
                    </div> -->
          <div class="row mt-1">
            <label
              for="inputPassword"
              class="col-sm-6 col-form-label"
              id="ID036"
              >AMOUNT</label
            >
            <div class="col-md-6">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="number"
                  style="text-align: right"
                  matInput
                  AmountDecimalInput
                  [readonly]="viewOnly"
                  formControlName="netAmount"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label
              for="inputPassword"
              class="col-sm-2 col-form-label"
              id="ID037"
              >Remarks</label
            >
            <div class="col-md-10">
              <mat-form-field style="width: 100%" appearance="outline">
                <input
                  appNextInput
                  type="text"
                  [readonly]="viewOnly"
                  matInput
                  formControlName="remarks"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
