.bg-row{
    --bs-bg-opacity: 1;
    background-color: rgb(198 201 205) !important;
}


.custom-fieldset {
    border: 1px solid #333;
    padding: 20px;
    position: relative;
    border-radius: 5px;
} 
.custom-legend {
    position: absolute;
    top: -15px;
    background: white;
    // font-weight: bold;
    width: 15%;
}
  