.bg-row{
    --bs-bg-opacity: 1;
    background-color: rgb(198 201 205) !important;
}

::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden;
    overflow-x: hidden !important;
}

.custom-fieldset {
    border: 1px solid #333;
    padding: 20px;
    position: relative;
    border-radius: 5px;
} 
.custom-legend {
    position: absolute;
    top: -15px;
    background: white;
    // font-weight: bold;
    width: 15%;
}
.custom-legend2 {
    position: absolute;
    top: -15px;
    background: white;
    // font-weight: bold;
    width: 16%;
}
.custom-legend3 {
    position: absolute;
    top: -15px;
    background: white;
    // font-weight: bold;
    width: 33%;
}

.branchDivisionelectr{
    position: absolute;
    cursor: pointer;
}

