<div class="bg-light">
    <!-- header section starts -->
    <div
        class="pos-sales-modalheader border-bottom d-flex justify-content-between">
        <h5 class="pos-modaltitle" id="modal-dia-metal">Job Card</h5>
        <button type="button" class="btn btn-close close-btn" (click)="close()">
            <i class="feather icon-x close-icon"></i>
        </button>
    </div>
    <!-- modal header component -->
    <modal-header></modal-header>
    <hr class="w-100" />

    <div>
        <div class="metal-sales-card">
            <div class="sales-card-body p-2">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="row align-items-center mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Order
                                Type :</label>
                            <div class="col-sm-3">
                                <div class="d-flex">
                                    <input class="form-control" type="text" />
                                    <div class="password-icon search-input pt-3">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Job
                                Number :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Job
                                Date :</label>
                            <div class="col-sm-3">
                                <div class="datepick">
                                    <input class="form-control flatpickr-input"
                                        type="text" placeholder="Select Date*"
                                        mwlFlatpickr dateFormat="Y-m-d"
                                        formControlName="fromDate">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Design
                                Code :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Customer
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Sales
                                Order :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Date
                                :</label>
                            <div class="col-sm-3">
                                <div class="datepick">
                                    <input class="form-control flatpickr-input"
                                        type="text" placeholder="Select Date*"
                                        mwlFlatpickr dateFormat="Y-m-d"
                                        formControlName="fromDate">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Cost
                                Code :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Prefix
                                : </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Karat
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Type
                                : </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Category
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Sub
                                Cat : </label>
                            <div class="col-sm-3">
                                <div class="datepick">
                                    <input class="form-control flatpickr-input"
                                        type="text" placeholder="Select Date*"
                                        mwlFlatpickr dateFormat="Y-m-d"
                                        formControlName="fromDate">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Color
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Brand
                                : </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Country
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Set
                                Ref : </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Comments
                                :</label>
                            <div class="col-sm-9">
                                <textarea class="form-control"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Size
                                :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Length
                                :</label>
                            <div class="col-sm-3">
                                <div class="d-flex">
                                    <input class="form-control" type="text" />
                                    <div class="password-icon search-input pt-3">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Size
                                :</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Job
                                Type :</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Purity
                                : </label>
                            <div class="col-sm-3">
                                <div class="d-flex">
                                    <input class="form-control" type="text" />
                                    <div class="password-icon search-input pt-3">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 border-end">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox" value
                                        id="flexCheckDefault">
                                    <label class="form-check-label"
                                        for="flexCheckDefault">
                                        Repair Job
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Del
                                Date : </label>
                            <div class="col-sm-7">
                                <div class="datepick">
                                    <input class="form-control flatpickr-input"
                                        type="text" placeholder="Select Date*"
                                        mwlFlatpickr dateFormat="Y-m-d"
                                        formControlName="fromDate">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Salesman
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Stock
                                Code : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Currency
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Loss
                                Booking : </label>
                            <div class="col-sm-7">
                                <select
                                    class="form-select form-control bg-white"></select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Main
                                Metal : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Time
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Range
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Seq.Code
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Total
                                Pcs </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Pending
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-3 col-form-label">Parts
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                            <label for="input" class="col-sm-3 col-form-label">Pending
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="input" class="col-sm-5 col-form-label">Parts
                                : </label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mt-5 mb-2">
                            <div class="col-sm-12">
                                <textarea class="form-control"
                                    id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="m-3 row">
                            <button
                                class="btn btn-primary rounded-pill my-2">Components</button>
                            <button
                                class="btn btn-primary rounded-pill my-2">Transactions</button>
                            <button
                                class="btn btn-primary rounded-pill my-2">Sticker
                                Point</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
                            [showBorders]="true">
                            <dxo-filter-row [visible]="showFilterRow"
                                [applyFilter]="currentFilter"></dxo-filter-row>
                            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                            <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel> -->
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                            <dxi-column *ngFor="let data of columnhead"
                                dataField="{{data}}" width="auto"
                                caption="{{data}}"
                                [allowEditing]="true" alignment="center"
                                backgroundcolor="#000">
                            </dxi-column>
                        </dx-data-grid>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-end text-end">
                            <div class="p-2 bd-highlight">
                                <button type="button" (click)="close()"
                                    class="btn btn-outline-primary rounded-pill cancel-button">
                                    Cancel
                                </button>
                            </div>
                            <div class="p-2 bd-highlight">
                                <button type="button"
                                    class="btn btn-primary rounded-pill cancel-button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
