.pos-sales-modalheader,
.pos-sales-modalbody,
.metal-sales-card,
.card-body {
  background-color: white !important;
  font-family: Poppins;
  padding: 10px;
}
.pos-modaltitle {
  font-family: Poppins;
  color: black;
}
.w-100 {
  margin: 5px !important;
}

.btn-primary {
  background-color: #0d4f9e !important;
  border-color: #0d4f9e !important;
  font-size: 12px;
  padding: 6px 15px 6px 15px !important;
  border-radius: 5px !important;
}

.btn-outline-primary {
  font-size: 12px;
  padding: 6px 15px 6px 15px !important;
}

.ribbon-button {
  height: auto;
  min-height: 64px;
  width: auto;
  padding: 11.5px;
  margin: 0;
}

.excel-row {
  margin-left: 90px;
}

.icon-common {
  color: #012c57;
}

.first-row {
  border-right: 1px solid #d5f2ff;
  border-width: 4px;
}

.bg-lighted {
  background: #f5f2ed;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.09);
}

.btn_print {
  color: #f5f2ed !important;
  border-color: #3599cc;
  background-color: #3599cc !important;
  font-size: 12px;
  padding: 2px 10px 2px 10px;

}
.form-control {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #cececf !important;
  background: transparent;
}

.cancel-button {
  border-radius: 10px !important;
}
.rounded-pill{
    height: 26px;
}

::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.upload-btn-wrapper 
.btnnew {
  color: white;
  font-size: 14px;
  background: #ffffff;
  margin-left: 14px;
  width: 262px;
  height: 200px;
  
}

.upload-btn-wrapper 
.uploadproduct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}
.tx-1{
  border-color: #b5b0b0;
}
.bgColourUpdate{
  background-color: #1a61a9 !important;
  color: #fff !important;
}
.upload-btn {
  position: relative;
  overflow: hidden;
  // display: inline-block;
  // text-align: center;
  padding-left: 77px;
}

.upload-btn
.btnnew {
  color: white;
  border-radius: 5px;
  font-size: 14px;
  background: #34a4dc;
  border-color: transparent;
  padding: 2px 15px;
  margin-left: 45px;
}

.upload-btn
.uploadproduct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}