

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.upload-btn-wrapper 
.btnnew {
  color: white;
  font-size: 40px;
  background: #ffffff;
  // padding: 70px 80px;
  margin-left: 14px;
  height: 209px;
  width: 225px;
}

.upload-btn-wrapper 
.uploadproduct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}
::ng-deep {
  .mat-form-field {
    font-weight: 600 !important;
  }
}