

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.upload-btn-wrapper 
.btnnew {
  color: white;
  font-size: 40px;
  background: #ffffff;
  // padding: 70px 80px;
  margin-left: 14px;
  height: 209px;
  width: 225px;
}

.upload-btn-wrapper 
.uploadproduct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}
::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
  .mat-form-field{
    padding: 0px !important;
    font-weight: 600 !important;
  }
  .mat-form-field {
    .mat-form-field-outline {
      &-end {
        border-radius: 0 25px 25px 0 !important;
      }

      &-start {
        border-radius: 25px 0 0 25px !important;
        flex-grow: 1;
      }
    }

  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    border-radius: 15px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px !important;
    margin: 0px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px;
    height: 39px;
  }
}