<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Stone Issue Details</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit('SAVE')" (cancelClick)="close()"
  (changeJobClick)="changeJobClicked()" [isViewChangeJob]="!viewMode"
  [isViewSave]="!viewMode" [isViewContinue]="!viewMode"
  (continueClick)="formSubmit('CONTINUE')"
  [isViewDelete]="false" [isViewSaveGridData]="!viewMode"
  [isViewMore]="false"></modal-header>

<div class="container-fluid pt-3">
  <form [formGroup]="stoneIssueDetailsFrom">
    <div class="row">
      <div class="col-md-12 border-bottom">
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Job Number
            * : </label>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="jobNumber"
                [readonly]="viewMode" UpperCaseDirective
                (focusout)="jobNumberValidate($event)"
                (keydown)="lookupKeyPress($event,'jobNumber')"
                #jobNumberInput />
              <master-search class="masterSearch"
                [MasterSearchData]="jobNumberCodeData" #overlayjobNumberSearch
                (newRowClick)="jobNumberCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="jobDes" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Sub Job No
            * : </label>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="subjobnumber"
                [readonly]="viewMode" UpperCaseDirective />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="subjobDes"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Design
            Code: </label>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="DESIGN_CODE"
                readonly />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Part Code:
          </label>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="PART_CODE"
                readonly />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Salesorder
            No: </label>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="salesorderno"
                class="text-right" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Process * :
          </label>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="process"
                [readonly]="viewMode" UpperCaseDirective
                (focusout)="SPvalidateLookupField($event,processCodeData,'process')"
                (keydown)="lookupKeyPress($event,'process')" />
              <master-search class="masterSearch"
                [MasterSearchData]="processCodeData" #overlayprocessSearch
                (newRowClick)="processCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="processname"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Worker * :
          </label>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="worker"
                [readonly]="viewMode" UpperCaseDirective
                (focusout)="SPvalidateLookupField($event,workerCodeData,'worker')"
                (keydown)="lookupKeyPress($event,'worker')" />
              <master-search class="masterSearch"
                [MasterSearchData]="workerCodeData" #overlayworkerSearch
                (newRowClick)="workerCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="workername"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Stock * :
          </label>
          <div class="col-md-1">
            <mat-form-field appearance="outline" style="width: 145%;">
              <input type="text" matInput formControlName="DIVCODE"
                placeholder="Div Code" [readonly]="viewMode"
                UpperCaseDirective />
                <master-search class="masterSearch"
                [MasterSearchData]="divCodeData" #overlaystockCodeSearch
                (newRowClick)="stockCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline"
              style="width: 90%; margin-left: 28px;">
              <input type="text" matInput formControlName="stockCode"
                placeholder="Stock Code"
                (focusout)="stockCodeValidate($event)" UpperCaseDirective
                (keydown)="lookupKeyPress($event,'stockCode')"
                [readonly]="viewMode" />
              <master-search class="masterSearch"
                [MasterSearchData]="stockCodeData" #overlaystockCodeSearch
                (newRowClick)="stockCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="stockCodeDes"
                placeholder="Description"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Batch ID :
          </label>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="batchid"
                [readonly]="viewMode" />
            </mat-form-field>
          </div>
          <div class="col-sm-4 mt-3">
            <mat-checkbox class="example-margin" [disabled]="viewMode"
              formControlName="consignment">Consignment</mat-checkbox>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Location *
            : </label>
          <div class="col-md-5">
            <mat-form-field appearance="outline" style="width: 90%;">
              <input type="text" matInput formControlName="LOCTYPE_CODE"
                (keydown)="lookupKeyPress($event,'LOCTYPE_CODE')"
                UpperCaseDirective
                (focusout)="validateLookupField($event,locationCodeData,'LOCTYPE_CODE')"
                [readonly]="viewMode" />
              <master-search class="masterSearch"
                [MasterSearchData]="locationCodeData" #overlaylocationSearch
                (newRowClick)="locationCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="upload-btn-wrapper mt-2">
          <div class="square-box">
            <image-slider [imageArray]="imagepath"></image-slider>
          </div>
          <!-- <input type="file" name="uploadproduct" accept=".png, .jpg, .jpeg"
            #fileInput class="uploadproduct" (change)="onFileChanged($event)"> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 border-top">
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Pieces :
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="pieces"
                maxlength="13" class="text-right" NumberOnly
                [readonly]="viewMode" />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Shape :
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="shape" readonly />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Clarity:
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="clarity" readonly
                maxlength="12" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Carat * :
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="carat"
                AmountDecimalInput maxlength="15"
                style="text-align: right;" [readonly]="viewMode" />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Size:
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="size" readonly />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Sieve Set :
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="SIEVE_SET"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Unit
            Rate:</label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="unitrate"
                AmountDecimalInput readonly class="text-right" />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Sieve:
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="sieve" maxlength="12"
                readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="SIEVE_DESC"
                maxlength="40" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Amount:
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="amount"
                AmountDecimalInput readonly
                style="text-align: right;" maxlength="12" />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Color:
          </label>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="color" readonly
                maxlength="12" />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Stock Bal:
          </label>
          <div class="col-md-1">
            <mat-form-field appearance="outline" style="width: 80%;">
              <input type="text" matInput formControlName="stockbal"
                maxlength="12" class="text-right" NumberOnly
                readonly />
            </mat-form-field>
          </div>
          <label for="inputPassword" class="col-sm-1 col-form-label">Pointer Wt:
          </label>
          <div class="col-md-1">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="pointerwt"
                maxlength="12" MetalDecimalInput
                style="text-align: right;" [readonly]="viewMode" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Other Attr
            : </label>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="otheratt"
                maxlength="20" [readonly]="viewMode" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-12 border-top">
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-1 col-form-label">Remarks :
          </label>
          <div class="col-md-10">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="remarks"
                maxlength="40" [readonly]="viewMode" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dx-data-grid #dataGrid id="gridContainer" [showBorders]="true"
          [allowColumnReordering]="true"
          [dataSource]="tableData" [allowColumnResizing]="true"
          [columnAutoWidth]="true">
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-editing mode="cell" [allowUpdating]="true">
          </dxo-editing>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-scrolling mode="virtual"></dxo-scrolling>

          <dxi-column *ngFor="let data of columnhead1" dataField="{{ data }}"
            caption="{{ data }}" [allowEditing]="true"
            alignment="center" backgroundcolor="#000">
          </dxi-column>
          <dxi-column [allowEditing]="false" dataField="DIVCODE"
            caption="DIVCODE"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="STOCK_CODE"
            caption="STOCK_CODE"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="KARAT_CODE"
            caption="KARAT"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="COLOR"
            caption="COLOR"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="MTL_PCS"
            caption="MTL_PCS"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="MTL_WT"
            caption="MTL_WT"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="ISS_MTL_PCS"
            caption="ISS_MTL_PCS"></dxi-column>
          <dxi-column [allowEditing]="false" dataField="ISS_MTL_WT"
            caption="ISS_MTL_WT"></dxi-column>
          <dxi-column dataField="BAL_MTL_PCS"
            caption="BAL_MTL_PCS"></dxi-column>
          <dxi-column dataField="BAL_MTL_WT" caption="BAL_MTL_WT"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </form>
</div>