.add-btn {
  font-size: 12px;
  padding: 3px 20px !important;
  border-radius: 5px !important;
}

.del-btn {
  font-size: 12px;
  padding: 2px 10px 2px 10px;
}

table tbody tr th.fs-7 {
  font-size: 12px;
  text-align: center;
  background: #51b2e2;
  color: #fff;
}

::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
  table tbody tr td .mat-form-field-infix {
    width: 65px !important;
  }
}
