<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Melting Process Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
<div class="container-fluid pt-3">

    <form [formGroup]="meltingprocessdetailsForm">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-7">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Job Number :</label>
                            <div class="col-sm-9 d-flex">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="jobno" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="jobnoCodeData"
                                    (newRowClick)="jobnoCodeSelected($event)"></master-search>&nbsp;    
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="jobdes" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Process : </label>
                            <div class="col-sm-5">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="process" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="processdes" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Worker : </label>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="worker" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="workerdes" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Tree No : </label>
                            <div class="col-sm-3 d-flex">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="treeno" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-3 col-form-label">Wax Weight: </label>
                            <div class="col-sm-3 d-flex">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="waxweight" />
                                </mat-form-field>&nbsp;
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Stock Code : </label>
                            <div class="col-sm-3 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="stockcode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="stockcodedes" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="tostockcode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Gross Weight :
                            </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="grossweight" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-3 col-form-label">Stone Weight:
                            </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="stoneweight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Purity : </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="purity" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-3 col-form-label"> Purity %:
                            </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="purityper" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Purity Diff :
                            </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="purediff" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Remarks:
                            </label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <textarea matInput rows="3" formControlName="remark"></textarea>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Loss Weight :
                            </label>
                            <div class="col-sm-5">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="lossweight" />
                                </mat-form-field>&nbsp;
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Lot No:</label>
                            <div class="col-sm-9 d-flex">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="lotno" />
                                </mat-form-field>&nbsp;
                                <label for="inputPassword" class="col-sm-3 col-form-label">Bar No:</label>
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="barno" />
                                </mat-form-field>&nbsp;
                                <label for="inputPassword" class="col-sm-3 col-form-label">Ticket No:
                                </label>
                                <div class="col-sm-8 d-flex">
                                    <mat-form-field style="width: 40%;">
                                        <input type="text" matInput formControlName="ticketno" />
                                    </mat-form-field>
                                    <div class="row mb-1 ">
                                        <div class="form-check">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Avoid Alloy
                                            </label>
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="flexRadioDefault1">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">T Gold:</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="tgold" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-3 col-form-label">Sliver:</label>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="sliver" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Job Purity:</label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="jobpurity" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Diff Grwt:</label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Location:</label>
                            <div class="col-sm-8 d-flex">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="location" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="locationCodeData"
                                    (newRowClick)="locationCodeSelected($event)"></master-search>
                               
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Pcs: </label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput  formControlName="pcs" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Net Weight: </label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="netweight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Pure Weight: </label>
                            <div class="col-sm-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput formControlName="pureweight" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>