::ng-deep {
  .p-overlaypanel {
    z-index: 1070 !important;
    display: fixed !important;
  }
  .mat-input-element {
    font-size: 12px !important;
  }
  .mat-form-field {
    font-size: 13px !important;
  }
}
.arrow-icon {
  font-size: 24px;
  transition: transform 0.3s ease; /* Animation transition */
}

.arrow-icon.rotate-up {
  transform: rotate(180deg);
}
.lazyTable {
  min-width: 40vw;
  th {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    color: #fff;
    background-color: #2dacdf;
  }
  td {
    font-size: 13px;
    padding: 5px;
    padding: 3px;
    border: 1px solid #e1e1e1;
  }
  tr:hover {
    background-color: #f1f1f1;
  }
}
.icon-common:hover{
  cursor: pointer;
}
.letters{
  min-width: 40vw;
  font-size: 13px; 
  color: #0597cb;
  margin-top: 4px;
  a:not(:first-of-type){
    padding: 0px 6px 0px 6px;
  }
}
.letters:hover{
  cursor: pointer;
}