::ng-deep {
  .searchDropdown {
    position: absolute;
    z-index: 1090 !important;
    min-width: 46rem;
    min-height: 20rem;
    padding: 6px;
  // }
  // .p-overlaypanel {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .p-overlaypanel {
    z-index: 1070 !important;
  }

  .mat-input-element {
    font-size: 12px !important;
  }

  .mat-form-field {
    font-size: 13px !important;
  }
}
.text-right{
  text-align: right;
}
.search-btn {
  font-weight: 13px;
}

.searchspan {
  text-transform: uppercase;
}

.arrow-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
  /* Animation transition */
}

.search-btn:hover {
  cursor: pointer;
}

.arrow-icon.rotate-up {
  transform: rotate(180deg);
}

.lazyTable {
  min-width: 43vw;

  th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    /* table head will be placed from the top of the table and sticks to it */
    font-size: 15px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    color: #fff;
    background-color: #778da9;
  }

  td {
    font-size: 14px;
    padding: 5px;
    padding: 3px;
    border: 1px solid #e1e1e1;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.icon-common:hover {
  cursor: pointer;
}

.letters {
  min-width: 40vw;
  font-size: 14px;
  color: #778da9;
  margin-top: 4px;

  a:not(:first-of-type) {
    padding: 0px 6px 0px 6px;
  }
}

.letters:hover {
  cursor: pointer;
}
.focused {
  background-color: #f0f8ff; /* Light blue background */
  outline: 2px solid #1e90ff; /* Outline for focused row */
}