<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Cost Center Cosumables Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<modal-header></modal-header>

<div class="container-fluid pt-3">
    <form [formGroup]="costCenterComsumablesDetailsForm">
        <div class="row align-items-center mb-1">
            <label for="inputPassword" class="col-sm-1 col-form-label">Branch :</label>
            <div class="col-md-2">
                <mat-form-field style="width: 70%;">
                    <input type="text" matInput formControlName="branch" />
                </mat-form-field>
                <master-search [MasterSearchData]="branchCodeData" (newRowClick)="branchCodeSelected($event)">
                </master-search>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-10">
                <div class="row align-items-center border text-center">
                    <label for="inputPassword" class="col-sm-12 col-form-label"><b>Account Setup</b></label>
                </div>
                <div class="row justify-content-between mb-2 border">
                    <div class="col-md-5">
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Purchase:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="purchase" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="purchaseCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Purchase Return:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="purchaseReturn" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="purchaseReturnCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Manufacturing:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="Manufacturing" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="ManufacturingCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Branch Transfer
                                IN:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="branchTransferIn" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="branchTransferInCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Branch Transfer
                                OUT:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="branchTransferOUT" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="branchTransferOUTCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Import Purchase:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="importPurchase" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="purchaseImportCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Import Purchase
                                Return:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="importPurchaseReturn" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="importPurchaseReturnCodeSelected($event)"></master-search>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Issue / Sales:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="issueSales" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="issueSalesCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Issue / Sales
                                Return:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="issueSalesReturn" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="issueSalesReturnCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Opening Stock:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="openStock" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="openStockCodeSelected($event)"></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Closing Stock:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="closingStock" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="closingStockCodeSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Physical Stock:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="physicalStock" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="physicalStockSelected($event)"></master-search>
                            </div>
                        </div>

                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Issue
                                Manufacture:</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="issueManufacture" />
                                </mat-form-field>
                                <master-search [MasterSearchData]="purchaseCodeData"
                                    (newRowClick)="issueManufactureSelected($event)"></master-search>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>