<app-loader [isLoading]="isLoading"></app-loader>
<div class="col-md-12 col-sm-12">
    <div class="card">
        <div class="ps-2 pt-2" style="border-bottom: 1px solid #afafaf;">
            <h4>Menu Updation</h4>
        </div>
        <!-- <div class="p-1">
            <modal-header [isViewDelete]="false" [isViewMore]="false" 
            [isViewArrow]="false" (saveClick)="updateMenu()"></modal-header>
        </div> -->
        <!-- <form [formGroup]="menuMasterForm">
            <div class="row p-3" >
                <div class="col-md-2">
                    <span>
                        <label class="col-form-label">Menu ID : </label>
                        <mat-form-field style="width: 50%">
                            <input type="text" matInput
                                formControlName="strMenuID" />
                        </mat-form-field>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        <label class="col-form-label">Module Path : </label>
                        <mat-form-field style="width: 50%">
                            <input type="text" matInput
                                formControlName="strPathName" />
                        </mat-form-field>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        <label class="col-form-label">Module Name :
                        </label>
                        <mat-form-field style="width: 50%">
                            <input type="text" matInput
                                formControlName="strComponentName" />
                        </mat-form-field>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        <label class="col-form-label">Form Component :</label>
                        <mat-form-field style="width: 50%">
                            <input type="text" matInput
                                formControlName="strFormComponentName" />
                        </mat-form-field>
                    </span>
                </div>
            </div>
            
        </form> -->
        <div class="row p-3">
            <div class="col-md-4">
                <span>
                    <label class="col-form-label"><h6>Module:</h6></label>
                    &nbsp;
                    <mat-form-field style="width: 50%">
                        <mat-select placeholder="Select"
                         (selectionChange)="getSubmenuList($event)">
                            <mat-option [value]="item.MODULE_NAME" *ngFor="let item of menuList">
                                {{item.MODULE_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-12 col-sm-12 p-2" *ngIf="isViewTable">
                <dx-data-grid id="gridContainer" [dataSource]="tableData"
                    [allowColumnResizing]="true"
                    height="450"
                    [columnAutoWidth]="true" [showRowLines]="true"
                    [showBorders]="true" 
                    (onRowUpdated)="updateMenu($event)">
                    <dxo-paging [pageSize]="tableData.length"> </dxo-paging>
                    <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
                    <dxo-filter-row visible="true"></dxo-filter-row>
                    <dxo-editing mode="row" [allowUpdating]="true"
                        [allowAdding]="false"
                        [allowDeleting]="false"
                        fixed="true">
                    </dxo-editing>
                    <!-- <dxi-column dataField="slno" caption="#"> </dxi-column> -->
                    <dxi-column dataField="MENU_ID"
                    width="150" caption="Menu ID" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="MENU_MODULE"
                    width="150" caption="Module Name" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="MENU_SUB_MODULE" 
                    width="150" caption="Module Type" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="MENU_CAPTION_ENG"
                    width="200" caption="Form Name" [allowEditing]="false">
                    </dxi-column>
                    <dxi-column dataField="ANG_WEB_COMPONENT_NAME" 
                    width="200" caption="Module">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        <dxo-lookup [dataSource]="menuList"
                        displayExpr="ANG_CMB_PATH_NAME" valueExpr="ANG_CMB_PATH_NAME">
                    </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="ANG_WEB_PATH_NAME" width="180"
                        caption="Gird Path Name">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="ANG_WEB_FORM_NAME" width="200"
                        caption="Form Component Name">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>