<div>
    <!-- header section starts -->
    <div class="card-content border-bottom d-flex justify-content-between p-2">
        <h5 class="pos-modaltitle" id="modal-dia-metal">Model Master</h5>
        <button type="button" class="btn btn-close close-btn" (click)="close()">
            <i class="feather icon-x close-icon"></i>
        </button>
    </div>
    <!-- modal header component -->
    <modal-header
    [isViewSave]="!viewMode" [isViewCancel]="!viewMode" [isViewMore]="!viewMode"
    (saveClick)="formSubmit()"
    (cancelClick)="close()"[isViewDelete]="!viewMode && editableMode"
    (deleteClick)="deleteRecord()"
    ></modal-header>
    <!-- content section -->
    <div class="row p-4 ">
        <div class="col-md-12">
            <form [formGroup]="modelMasterForm">
                <mat-tab-group>
                    <mat-tab label="General">
                        <div class="row  py-2">
                            <div class="col-md-10">
                                <div class="row">
                                    <label for="inputPassword" id="ID001" class="col-sm-3 col-form-label">
                                        Model Code :</label>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" #codeInput matInput formControlName="model_code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" #codeInput matInput formControlName="model_description"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID001" class="col-sm-3 col-form-label">
                                        Type Code :</label>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="type_code" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="TypeCode"
                                                (newRowClick)="TypeCodeDataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword" id="ID001" class="col-sm-3 col-form-label">
                                        Sub Category :</label>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="subcategory_code" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="SubCategoryMaster"
                                                (newRowClick)="SubCategoryDataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID001" class="col-sm-3 col-form-label">
                                        Category Code :</label>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="category_code" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="CategoryMaster"
                                                (newRowClick)="CategoryDataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword" id="ID001" class="col-sm-3 col-form-label">
                                        Brand :</label>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="branch_code" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="Brand"
                                                (newRowClick)="BranchCodeDataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="boxed-label">
                                    <h6>Making/VA</h6>
                                </div>
                                <div class="your-box-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <mat-radio-group aria-label="Select an option"
                                                        formControlName="fixed_rate">
                                                        <mat-radio-button value="F" id="ID012"
                                                            class="mx-2">Fixed</mat-radio-button>
                                                        <mat-radio-button value="P" id="ID013" class="mx-2">Markup
                                                            %</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Standard Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" class="text-right" #codeInput AmountDecimalInput matInput formControlName="markup_per"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Minumum Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" #codeInput class="text-right" matInput AmountDecimalInput formControlName="markup_min_per"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Maximum Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" #codeInput class="text-right" matInput AmountDecimalInput formControlName="markup_max_per"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mt-3">
                                                <mat-radio-group aria-label="Select an option"
                                                    formControlName="calc_on_wt" class="d-flex flex-column">
                                                    <mat-radio-button value= true id="ID014" class="m-1">Gross
                                                        Wt</mat-radio-button>
                                                    <mat-radio-button value= true id="ID015" class="m-1">
                                                        Net Wt
                                                    </mat-radio-button>
                                                    <mat-radio-button value= true id="ID016" class="m-1">
                                                        Pcs
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="boxed-label">
                                    <h6>Stone Rate</h6>
                                </div>
                                <div class="your-box-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <mat-radio-group aria-label="Select an option"
                                                        formControlName="cal_stone_on">
                                                        <mat-radio-button value=true id="ID017"
                                                            class="mx-2">Fixed</mat-radio-button>
                                                        <mat-radio-button value=true id="ID018" class="mx-2">Markup
                                                            %</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Standard Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" #codeInput AmountDecimalInput class="text-right" matInput formControlName="making_std_rate"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Minumum Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" #codeInput class="text-right" AmountDecimalInput matInput formControlName="min_stone_rate"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="inputPassword" id="ID001" class="col-sm-6 col-form-label">
                                                    Maximum Rate :</label>
                                                <div class="col-sm-6">
                                                    <mat-form-field style="width: 100%" appearance="outline">
                                                        <input type="text" #codeInput AmountDecimalInput class="text-right" matInput formControlName="max_stone_rate"
                                                            UpperCaseDirective autocomplete="off" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="UDF Grouping">
                        <div class="row py-2">
                            <div class="col-md-5">
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf1" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined1DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf2" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined2Data"
                                                (newRowClick)="UserDefined2DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf3" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined3Data"
                                                (newRowClick)="UserDefined3DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf4" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined4Data"
                                                (newRowClick)="UserDefined4DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf5" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined5Data"
                                                (newRowClick)="UserDefined5DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf6" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined6Data"
                                                (newRowClick)="UserDefined6DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf7" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined7Data"
                                                (newRowClick)="UserDefined7DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf8" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined8Data"
                                                (newRowClick)="UserDefined8DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf9" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined9Data"
                                                (newRowClick)="UserDefined9DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf10" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined10Data"
                                                (newRowClick)="UserDefined10DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf11" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined11Data"
                                                (newRowClick)="UserDefined11DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf12" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined12Data"
                                                (newRowClick)="UserDefined12DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf13" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined13Data"
                                                (newRowClick)="UserDefined13DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf14" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined14Data"
                                                (newRowClick)="UserDefined14DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="udf15" UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefined15Data"
                                                (newRowClick)="UserDefined15DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>