.metal-issue-add-btn {
    font-size: 12px;
    padding: 3px 20px !important;
    border-radius: 5px !important;
  }
  
  .metal-issue-del-btn {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
  }
  
  ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
  }
  ::ng-deep {
      .cdk-overlay-container {
          position: fixed;
          z-index: 1070 !important;
      }
  }
  .text-button a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  
  .text-button a:hover {
    text-decoration: underline;
  }

  .st_txt_right {
    text-align: right;
  }
  