<!-- header section starts -->
<div>

  <div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">
      Advance Receipt
    </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <!-- modal header component -->
  <modal-header (saveClick)="formSubmit()" [isViewPrint]="viewOnly||midForInvoce!=0"  [isViewDelete]="!viewOnly" (printClick)="printReceiptDetailsWeb()"  (auditTrailClick)="auditTrailClick()" (cancelClick)="close()" (deleteClick)="deleteCurrencyReceipt()"
    [isViewAuditTrail]="true" [isViewPost]="true"></modal-header>
    <audit-trail></audit-trail>
</div>

<!-- content section -->
<div class="container-fluid">
  <!-- form starts -->
  <form [formGroup]="posCurrencyReceiptForm">
    <div class="row">
      <div class="col-md-12 py-2">
        <div class="row border-bottom">
          <div class="col-md-5">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Voucher Type :</label>
              <div class="col-md-4">
                <mat-form-field style="width: 100%">
                  <input type="text" matInput readonly formControlName="vocType" />
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%">
                  <input type="number" matInput readonly formControlName="vocNo" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Voucher Date :</label>
              <div class="col-md-4">
                <mat-form-field>
                  <!-- <mat-label></mat-label> -->
                  <input matInput [matDatepicker]="vocDate" [max]="vocMaxDate" name="vocDate" formControlName="vocDate"
                    placeholder="DD/MM/YYYY" DateValidation />
                  <mat-datepicker-toggle matSuffix [for]="vocDate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate" #vocDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Party Code :</label>
              <div class="col-md-4">
                <mat-form-field style="width: 70%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="partyCode" (change)="partyCodeChange($event)" />
                </mat-form-field>
                <master-search *ngIf="!viewOnly" [MasterSearchData]="partyCodeData"
                  (newRowClick)="partyCodeSelected($event)"></master-search>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="partyCodeDesc" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Party currency :</label>
              <div class="col-md-4">
                <mat-form-field style="width: 70%">
                  <input type="text" [readonly]="viewOnly||isCurrencyUpdate" matInput formControlName="partyCurrency" readonly />
                </mat-form-field>
                <!-- <master-search [MasterSearchData]="partyCurrencyCodeData" readonly
                                (newRowClick)="partyCurrencyCodeSelected($event)"></master-search> -->
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%">
                  <input type="number" [readonly]="viewOnly||isCurrencyUpdate" matInput formControlName="partyCurrencyRate" readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Entered By :</label>
              <div class="col-md-4">
                <mat-form-field style="width: 70%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="enteredby" />
                </mat-form-field>
                <master-search *ngIf="!viewOnly" [MasterSearchData]="enteredByCode"
                  (newRowClick)="enteredBySelected($event)"></master-search>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="enteredbyuser" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword"  class="col-sm-3 col-form-label">Due Days :</label>
              <div class="col-md-4">
                <mat-form-field style="width: 100%">
                  <input matInput type="number" [readonly]="viewOnly" class="text-right" [min]="0"
                  [max]="365"  (keyup)="this.comService.enforceMinMax($event.target)" matInput formControlName="dueDaysdesc"
                    (change)="updateDueDays($event)" />
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%">
                  <input matInput [matDatepicker]="dueDays" [readonly]="viewOnly" name="dueDays" formControlName="dueDays"
                    placeholder="DD/MM/YYYY" DateValidation (dateChange)="changeDueDate($event)" />
                  <mat-datepicker-toggle matSuffix [for]="dueDays"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate" #dueDays></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Customer Code :</label>
              <div class="col-md-3">
                <mat-form-field style="width: 70%">
                  <input type="text" matInput [readonly]="viewOnly" formControlName="customerCode" />
                </mat-form-field>
                <master-search *ngIf="!viewOnly" [MasterSearchData]="customerCodeData"
                  (newRowClick)="customerCodeSelected($event)"></master-search>
                
              </div>
              <div class="col-md-3">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="customerName" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-primary metal-issue-add-btn" (click)="openCustMaster()">
                    {{ this.customerData != null? 'Edit Customer' : 'New Customer' }}
                  </button>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Mobile :</label>
              <div class="col-md-3">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" [readonly]="viewOnly" formControlName="mobile" inputmode="numeric" appAllowLeadingZero />
                </mat-form-field>
              </div>
              <label for="inputPassword"  class="col-sm-3 col-form-label">Email :</label>
              <div class="col-md-3">
                <mat-form-field style="width: 100%">
                  <input type="email" [readonly]="viewOnly" matInput formControlName="email" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Party Address :</label>
              <div class="col-md-9">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="partyAddress" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-3 col-form-label">Scheme Code :</label>
              <div class="col-md-3">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="schemaCode" />
                </mat-form-field>
              </div>
              <label for="inputPassword" class="col-sm-3 col-form-label">Scheme Id :</label>
              <div class="col-md-3">
                <mat-form-field style="width: 100%">
                  <input type="text" [readonly]="viewOnly" matInput formControlName="schemaId" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row justify-content-between">

              <div class="col-sm-3 d-flex">

                <menu-buttons *ngIf="!viewOnly" [viewAddBtn]="true" [viewDeleteBtn]="false" [viewImportBtn]="false"
                  (addClick)="openAddPosARdetails()">
                </menu-buttons>
                <!-- <menu-buttons *ngIf="!viewOnly" [viewAddBtn]="true" [viewDeleteBtn]="true" [viewImportBtn]="false"
                (addClick)="openAddPosARdetails()" (deleteClick)="deleteDetailRecord()">
              </menu-buttons> -->
                <!-- <div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-primary metal-issue-add-btn" (click)="openAddPosARdetails()">
                    Add
                  </button>
                </div>
                <div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                    Delete
                  </button>
                </div> -->
              </div>
              <div class="col-sm-4">
                <div class="row mb-1">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Party Amount :</label>
                  <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                      <input type="text"  [readonly]="viewOnly" matInput formControlName="partyCurr" readonly />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                      <input type="text" [readonly]="viewOnly" matInput formControlName="partyAmountFC" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                
                <dx-data-grid #dataGrid id="gridContainer" keyExpr="SRNO" [dataSource]="posCurrencyDetailsData"
                [showBorders]="true" (onSelectionChanged)="onSelectionChanged($event)"(onRowRemoved)="removeLineItemsGrid($event)"
                (onEditingStart)="onRowDoubleClicked($event)">
                <!-- <dx-data-grid #dataGrid id="gridContainer" keyExpr="SRNO" [dataSource]="posCurrencyDetailsData"
                  [showBorders]="true" (onSelectionChanged)="onSelectionChanged($event)"
                  (onRowDblClick)="onRowDoubleClicked($event)"> -->
                  <!-- <dxo-paging [enabled]="false"></dxo-paging> -->
                  <dxo-editing [allowUpdating]="true"
                  [allowDeleting]="!viewOnly">
                  <dxo-texts alignment="right"
                    [editRow]="viewOnly ? 'View' : 'Edit'"
                    deleteRow="Remove">
                  </dxo-texts>
                </dxo-editing>
                <dxo-selection mode="single"></dxo-selection>
                  <!-- <dxo-selection mode="multiple"></dxo-selection> -->

                

                  <dxi-column *ngFor="let data of columnsList" dataField="{{ data.field }}" caption="{{ data.title }}"
                    [allowEditing]="true" alignment="center" backgroundcolor="#000">
                  </dxi-column>


                  <!-- <dxi-column dataField="SRNO" dataType="SR_NO"></dxi-column> -->

                  <dxo-summary>
                    <dxi-total-item column="Sr #">
                    </dxi-total-item>
                    <dxi-total-item column="AMOUNTCC" summaryType="sum" displayFormat="{0}" type="fixedPoint"
                      precision="2" [valueFormat]="gridAmountDecimalFormat">
                    </dxi-total-item>
                    <dxi-total-item column="CGST_AMOUNTCC" summaryType="sum" displayFormat="{0}" type="fixedPoint"
                      precision="2" [valueFormat]="gridAmountDecimalFormat">
                    </dxi-total-item>
                    <dxi-total-item column="NET_TOTAL" summaryType="sum" displayFormat="{0}" type="fixedPoint"
                      precision="2" [valueFormat]="gridAmountDecimalFormat">
                    </dxi-total-item>
                  </dxo-summary>
                </dx-data-grid>
              </div>
            </div>
            <div class="row my-2 justify-content-between align-items-center">
              <div class="col-md-4">
                <div class="row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Narration :</label>
                  <div class="col-md-9">
                    <mat-form-field style="width: 100%">
                      <input [readonly]="viewOnly" type="text" matInput formControlName="narration" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Total Tax :</label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                      <input [readonly]="viewOnly" type="number" matInput formControlName formControlName="totalTax" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Total :</label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                      <input [readonly]="viewOnly" type="number" matInput formControlName="total" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>