<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Gift Voucher Master</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" (saveClick)="formSubmit()" (deleteClick)="deleteRecord()"  [isViewDelete]="editMode" [isViewSave]="!viewMode"></modal-header>


<!-- content section -->
<div class="container-fluid pt-3">
    <form [formGroup]="giftVoucherMasterForm">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Code:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="text" formControlName="code"  [readonly]="viewMode || editMode" #code (input)="code.value = code.value.toUpperCase()"/>
                        </mat-form-field>
                    </div>
                    <label for="code" class="col-sm-2 offset-md-1 col-form-label" id="ID029">Branches</label>

                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm">Branch</button>
                        </div>
                </div>

                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Description:</label>
                    <div class="col-md-7">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="text" formControlName="description"  [readonly]="viewMode" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Gift On:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-select  formControlName="giftOn" [disabled]="viewMode">
                                <mat-option value="All">All</mat-option>
                                <mat-option value="Metal">Metal</mat-option>
                                <mat-option value="Diamond">Diamond</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <label for="code" class="col-sm-2 offset-md-1 col-form-label" id="ID029">Division</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-select formControlName="division" multiple [disabled]="viewMode">
                                <mat-option *ngFor="let option of diamond_drop" [value]="option.DIVISION_CODE">
                                    {{ option.DIVISION_CODE }}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>


                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Validity:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput  type="number" formControlName="validity"  [readonly]="viewMode"  class="text-right"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <mat-checkbox class="example-margin"  formControlName="skip" [disabled]="viewMode" >Skip</mat-checkbox>
                    </div>
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Cost Centre</label>

                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="text" formControlName="costCentre"  [readonly]="viewMode"  (focusout)="validateLookupField($event,costCenterData,'costCentre')"  (keydown)="lookupKeyPress($event,'costCentre')"/>

                            <master-search [MasterSearchData]="costCenterData" class="masterSearch"  *ngIf=" viewMode == false"
                            (newRowClick)="costCenterSelected($event)" #costCentrecodeSearch>
                        </master-search>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Amount:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="number" formControlName="amount"  [readonly]="viewMode"  class="text-right" AmountDecimalInput/>
                        </mat-form-field>
                    </div>
                    <label for="code" class="col-sm-2 offset-md-1 col-form-label" id="ID029">Base currency</label>

                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="number" formControlName="baseCurrency"  [readonly]="viewMode" class="text-right" AmountDecimalInput/>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Actual Amt:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="number" formControlName="actualAmt"  [readonly]="viewMode"  class="text-right" AmountDecimalInput/>
                        </mat-form-field>
                    </div>
                  
                </div>


                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Min Invoice Amt:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="number" formControlName="minInvoiceAmt"  [readonly]="viewMode" class="text-right" AmountDecimalInput/>
                        </mat-form-field>
                    </div>

                    <label for="code" class="col-sm-2 offset-md-1 col-form-label" id="ID029">Issue Type</label>

                    <div class="col-md-4">
                        <mat-radio-group aria-label="Select an option"
                                formControlName="issueType" [disabled]="viewMode">
                                <mat-radio-button value="D"  class="mx-2">One Voucher Per Invoice</mat-radio-button>
                                <mat-radio-button value="M"  class="mx-2">Multi Voucher Per Invoice</mat-radio-button>
                       </mat-radio-group>

                    </div>

                  
                </div>


                <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Prefix:</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput type="text" formControlName="prefix"  [readonly]="viewMode"  (focusout)="validateLookupField($event,prefixCodeData,'prefix')"  (keydown)="lookupKeyPress($event,'prefix')"/>
                            <master-search [MasterSearchData]="prefixCodeData" class="masterSearch"  *ngIf=" viewMode == false"
                            (newRowClick)="prefixCodeSelected($event)"  #prefixcodeSearch >
                        </master-search>
                        </mat-form-field>
                    </div>
                    <label for="code" class="col-sm-2 offset-md-1 col-form-label" id="ID029">Status</label>

                    <div class="col-md-2">
                        <mat-checkbox class="example-margin" formControlName="active"  [disabled]="viewMode" >Active</mat-checkbox>
                    </div>
                </div>
                <div class="row mb-1">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-primary metal-issue-del-btn" (click)="openaddGiftVoucherDetail()">Details</button>
                </div>
                </div>

                
                <!-- <div class="row mb-1">
                    <label for="code" class="col-sm-2 col-form-label" id="ID029">Validity Till Date:</label>

                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input
                              matInput
                              [matDatepicker]="dob"
                              [max]="vocMaxDate"
                              name="dob"
                              placeholder="DD/MM/YYYY"
                              DateValidation
                              formControlName="dob"
                              readonly="true"
                              (dateChange)="dobValueSetting($event)"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="dob"
                            ></mat-datepicker-toggle>
                            <mat-datepicker [startAt]="currentDate" #dob></mat-datepicker>
                          </mat-form-field>
                    </div>

                </div> -->

            </div>
        </div>
    </form>
</div>