.boxed-label {
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
  }

  .your-box-container {
    border: 1px solid #ccc;
    padding: 10px;
   
}

