.boxed-label {
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
  }

  .your-box-container {
    border: 1px solid #ccc;
    padding: 10px;
   
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 20px !important;
}


::ng-deep {

  // form field starts
  .mat-form-field-outline-start {
    border-radius: 3px 0 0 3px !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }

  .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0 !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }
}