<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal"> Festival Master
    </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" (saveClick)="formSubmit()"></modal-header>
<!-- content section -->

<div class="container-fluid pt-3">
    <form [formGroup]="festivalmasterform" class="p-1">
        <div class="row">
            <div class="col-md-8">

                <div class="row align-items-center">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="code"
                                [readonly]="viewOnly" />
                        </mat-form-field>
                    </div>

                </div>

                <div class="row align-items-center my-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="description"
                                [readonly]="viewOnly" />
                        </mat-form-field>
                    </div>
                </div>

                <!-- <dx-data-grid id="gridContainer" [dataSource]="maindetails" [showBorders]="true"
                    [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true" keyExpr="SRNO">

                    <dxi-column dataField="SRNO" caption="S.NO">
                    </dxi-column>

                    <dxi-column dataField="YEAR" caption="Year" format="dd/MM/yyyy">
                    </dxi-column>

                    <dxi-column dataField="FROM_DATE" caption="From Date">
                        <ng-template let-cellData="cellData">
                            <div class="datepick">
                                <mat-form-field style="width: 100%" appearance="outline">
                                    <input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY"
                                        [formControl]="cellData" [disabled]="viewMode"
                                        (dateChange)="onDateChanged($event, cellData)">
                                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </dxi-column>

                    <dxi-column dataField="TO_DATE" caption="To Date">
                        <ng-template let-cellData="cellData">
                            <div class="datepick">
                                <mat-form-field style="width: 100%" appearance="outline">
                                    <input matInput [matDatepicker]="toDate" placeholder="DD/MM/YYYY"
                                        [formControl]="cellData" [disabled]="viewMode"
                                        (dateChange)="onDateChanged($event, cellData)">
                                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                    <mat-datepicker #toDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </dxi-column>

                    <dxi-column dataField="TARGET" caption="Target" width="auto">
                    </dxi-column>

                </dx-data-grid> -->
                <!-- <dx-data-grid id="gridContainer" [dataSource]="maindetails" [showBorders]="true"
                    [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true" keyExpr="SRNO">

                    <dxo-selection mode="single"></dxo-selection>

                    <dxi-column dataField="SRNO" caption="S.No"> </dxi-column>
                    <dxi-column dataField="YEAR" caption="Year" cellTemplate="year">
                    </dxi-column>
                    <dxi-column dataField="FROM_DATE" caption="From date" cellTemplate="fromdate">
                    </dxi-column>
                    <dxi-column dataField="TO_DATE" caption="To Date" cellTemplate="todate">
                    </dxi-column>
                    <dxi-column dataField="TARGET" caption="Target" cellTemplate="target">
                    </dxi-column>


                    <div *dxTemplate="let data of 'year'">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="year"
                                [readonly]="viewOnly" />
                        </mat-form-field>
                    </div>

                    <div *dxTemplate="let data of 'fromdate'">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" formControlName="fromDate" [disabled]="viewMode" />
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>



                    <div *dxTemplate="let data1 of 'todate'">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <input matInput [matDatepicker]="todate" placeholder="DD/MM/YYYY" formControlName="todate" [disabled]="viewMode" />
                            <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
                            <mat-datepicker #todate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div *dxTemplate="let data of 'target'">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" id="inputPassword" matInput formControlName="target"
                                [readonly]="viewOnly" AmountDecimalInput style="text-align: right;" />
                        </mat-form-field>
                    </div>

                </dx-data-grid> -->

                <dx-data-grid id="gridContainer" [dataSource]="maindetails" [showBorders]="true"
              [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true" keyExpr="SRNO">
  
  <dxo-selection mode="single"></dxo-selection>
  
  <dxi-column dataField="SRNO" caption="S.No"> </dxi-column>
  <dxi-column dataField="YEAR" caption="Year" cellTemplate="year"> </dxi-column>
  <dxi-column dataField="FROMDATE" caption="From date" cellTemplate="fromdate"> </dxi-column>
  <dxi-column dataField="TODATE" caption="To Date" cellTemplate="todate"> </dxi-column>
  <dxi-column dataField="FEST_TARGET" caption="Target" cellTemplate="target"> </dxi-column>

  <div *dxTemplate="let data of 'year'">
    <mat-form-field style="width: 100%;" appearance="outline">
      <input type="text" matInput formControlName="year" [readonly]="viewOnly" />
    </mat-form-field>
  </div>

  <div *dxTemplate="let data of 'fromdate'">
    <mat-form-field style="width: 100%" appearance="outline">
      <input matInput [matDatepicker]="fromDate" placeholder="DD/MM/YYYY" formControlName="fromDate" [disabled]="viewMode" />
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div *dxTemplate="let data1 of 'todate'">
    <mat-form-field style="width: 100%" appearance="outline">
      <input matInput [matDatepicker]="todate" placeholder="DD/MM/YYYY" formControlName="todate" [disabled]="viewMode" />
      <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
      <mat-datepicker #todate></mat-datepicker>
    </mat-form-field>
  </div>

  <div *dxTemplate="let data of 'target'">
    <mat-form-field style="width: 100%;" appearance="outline">
      <input type="number" matInput formControlName="target" [readonly]="viewOnly" style="text-align: right;" />
    </mat-form-field>
  </div>
</dx-data-grid>


            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true " [viewImportBtn]="false"
                    [viewAddBtn]="!viewMode" [viewDeleteBtn]="!viewMode" (addClick)="addTableData()"
                    (deleteClick)="deleteTableData()">
                </menu-buttons>
            </div>
        </div>
    </form>
</div>