<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Jewellary Altration Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header  (cancelClick)="close()" [isViewContinue]="true"> </modal-header> 
<div class="container-fluid pt-2">
        <form [formGroup]="jewelleryaltrationdetailsFrom">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 ">
                                        <div class="row d-flex">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Stock
                                                        Code :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="stockcode" />
                                                            </mat-form-field>
                                                            <master-search [MasterSearchData]="stockCodeData"
                                                            (newRowClick)="stockCodeSelected($event)">
                                                        </master-search>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword"
                                                        class="col-sm-7 col-form-label">Description :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="description" />
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Pcs
                                                        :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="number" matInput formControlName="pcs" style="text-align: right;" />
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Ref Voc * :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="refvoc" />
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Cost Code
                                                        :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="costcode" />
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Dated
                                                        :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input matInput [matDatepicker]="dated"  formControlName="dated"
                                                                placeholder="YYYY/MM/DD" DateValidation />
                                                              <mat-datepicker-toggle matSuffix [for]="dated"></mat-datepicker-toggle>
                                                              <mat-datepicker [startAt]="currentDate" #dated></mat-datepicker>
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Karat
                                                        :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="karat" />
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-7 col-form-label">Metal Color * :</label>
                                                    <div class="col-md-5">
                                                        <div class="position-relative d-flex">
                                                            <mat-form-field style="width: 100%;">
                                                                <input type="text" matInput formControlName="metalcolor" />
                                                            </mat-form-field>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-5">
                                               <div class="row">
                                                    <div class="col-md-8 t-a2">
                                                        <h6>Summary(OLD)</h6> 
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h6>Summary(New)</h6>
                                                    </div>
                                               </div>
                                               

                                                <div class="row">
                                                    <div class="col-4">Description</div>
                                                    <div class="col-2"><label>Weight</label></div>
                                                    <div class="col-2"><label>Value</label></div>
                                                    <div class="col-2"><label>Weight</label></div>
                                                    <div class="col-2"><label>Value</label></div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-4 col-form-label">Metal :</label>
                                                        <div class="col-md-2">
                                                        <mat-form-field style="width: 70%;">
                                                            <input type="number" matInput formControlName="metalWT" style="text-align: right;" />
                                                        </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field style="width: 70%;">
                                                                <input type="number" matInput formControlName="metalAMTFC" style="text-align: right;" />
                                                            </mat-form-field>
                                                            </div>
                                                        <div class="col-md-2">
                                                                <mat-form-field style="width: 70%;">
                                                                    <input type="number" matInput formControlName="metalWTNEW" style="text-align: right;" />
                                                                </mat-form-field>
                                                                </div>
                                                        <div class="col-md-2">
                                                                    <mat-form-field style="width: 70%;">
                                                                        <input type="number" matInput formControlName="metalAMTCC" style="text-align: right;" />
                                                                    </mat-form-field>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-4 col-form-label">Diamonds :</label>
                                                        <div class="col-md-2">
                                                        <mat-form-field style="width: 70%;">
                                                            <input type="text" matInput formControlName="diamonds" />
                                                        </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field style="width: 70%;">
                                                                <input type="text" matInput  />
                                                            </mat-form-field>
                                                            </div>
                                                        <div class="col-md-2">
                                                                <mat-form-field style="width: 70%;">
                                                                    <input type="text" matInput  />
                                                                </mat-form-field>
                                                                </div>
                                                        <div class="col-md-2">
                                                                    <mat-form-field style="width: 70%;">
                                                                        <input type="text" matInput  />
                                                                    </mat-form-field>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-4 col-form-label">Gross :</label>
                                                        <div class="col-md-2">
                                                        <mat-form-field style="width: 70%;">
                                                            <input type="number" matInput formControlName="gross" style="text-align: right;" />
                                                        </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field style="width: 70%;">
                                                                <input type="text" matInput  />
                                                            </mat-form-field>
                                                            </div>
                                                        <div class="col-md-2">
                                                                <mat-form-field style="width: 70%;">
                                                                    <input type="number" matInput formControlName="grossWTNEW" style="text-align: right;" />
                                                                </mat-form-field>
                                                                </div>
                                                        <div class="col-md-2">
                                                                    <mat-form-field style="width: 70%;">
                                                                        <input type="text" matInput  />
                                                                    </mat-form-field>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <label for="inputPassword" class="col-sm-4 col-form-label">Cost  :</label>
                                                    <div class="col-md-2">
                                                    <mat-form-field style="width: 70%;">
                                                        <input type="number" matInput formControlName="costFC" style="text-align: right;" />
                                                    </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-form-field style="width: 70%;">
                                                            <input type="number" matInput formControlName="costCC" style="text-align: right;" />
                                                        </mat-form-field>
                                                        </div>
                                                    <div class="col-md-2">
                                                            <mat-form-field style="width: 70%;">
                                                                <input type="number" matInput formControlName="costFCNEW" style="text-align: right;" />
                                                            </mat-form-field>
                                                            </div>
                                                    <div class="col-md-2">
                                                                <mat-form-field style="width: 70%;">
                                                                    <input type="number" matInput formControlName="costCCNEW" style="text-align: right;" />
                                                                </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row mt-4"></div>
                                                <div class="row mt-5">
                                                    <div class="col-6">
                                                        <mat-radio-button value="1">Unfix Jewellery</mat-radio-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pt-1">
                                                <div class="icons">
                                                    <div class="image_box"></div>
                                                    <div class="icons_footer">
                                                         <i class="fas fa-step-backward icon-common"></i>
                                                        <i class="fas fa-caret-right icon-common"></i> 
                                                        <span>0/10</span>
                                                        <i class="fas fa-caret-right icon-common"></i> 
                                                        <i class="fas fa-step-forward"></i>
                                                        <i class="fas fa-plus icon-common"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="p-2 bd-highlight t-a1">
                                                        <button type="button" class="btn btn-primary metal-issue-add-btn" >
                                                            Tag Details
                                                        </button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="icon">
                                                        <div class="text-area">
                                                            <textarea matInput style="height: 100px;"></textarea>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Remarks
                                                :</label>
                                            <div class="col-sm-5">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="remarks" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                     
                                        <div class="row pt-5">
                                            <div class="row">
                                                <div class="col-md-12 d-flex">
                                                    <div class="col-md-11">
                                                        <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                                                        [viewImportBtn]="false"
                                                        (addClick)="addTableData()"
                                                        (deleteClick)="deleteTableData()"
                                                        >
                                                    </menu-buttons>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-tab-group  class="tops"
                                                [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
                                                <mat-tab label="New Changes">

                                                    <div class="row">
                                                        <div class="col">
                                                            <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
                                                                [showBorders]="true">
                                                                <dxo-paging [enabled]="false"></dxo-paging>
                                                                <dxo-editing mode="cell" [allowUpdating]="true">
                                                                </dxo-editing>
                                                                <dxo-selection mode="multiple"></dxo-selection>
                                                                <dxo-scrolling mode="virtual"></dxo-scrolling>

                                                                <dxi-column *ngFor="let data of columnheads"
                                                                    dataField="{{ data }}" 
                                                                    caption="{{ data }}" [allowEditing]="true"
                                                                    alignment="center" backgroundcolor="#000">
                                                                </dxi-column>
                                                            </dx-data-grid>
                                                        </div>
                                                    </div>
                                                </mat-tab>
                                                <mat-tab label="Original Components">
                                                    <div class="row">
                                                        <div class="col">
                                                            <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
                                                                [showBorders]="true">
                                                                <dxo-paging [enabled]="false"></dxo-paging>
                                                                <dxo-editing mode="cell" [allowUpdating]="true">
                                                                </dxo-editing>
                                                                <dxo-selection mode="multiple"></dxo-selection>
                                                                <dxo-scrolling mode="virtual"></dxo-scrolling>

                                                                <dxi-column *ngFor="let data of columnheads1"
                                                                    dataField="{{ data }}" 
                                                                    caption="{{ data }}" [allowEditing]="true"
                                                                    alignment="center" backgroundcolor="#000">
                                                                </dxi-column>
                                                            </dx-data-grid>
                                                        </div>
                                                    </div>
                                                </mat-tab>

                                            </mat-tab-group>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">

                                            <div class="col-4"><label>Currency</label></div>
                                            <div class="col-1"><label>%</label></div>
                                            <div class="col-3"><label>Cost(FC)</label></div>
                                            <div class="col-3"><label>Cost(LC)</label></div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price Scheme:</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 50%;">
                                                    <input type="text" matInput formControlName="pricescheme" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price 1 :</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput formControlName="price1PER" />
                                                </mat-form-field>
                                                <master-search [MasterSearchData]="price1CodeData"
                                                            (newRowClick)="price1CodeSelected($event)">
                                                        </master-search>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price1FC" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price1LC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price 2 :</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput formControlName="price2PER" />
                                                </mat-form-field>
                                                <master-search [MasterSearchData]="price2CodeData"
                                                            (newRowClick)="price2CodeSelected($event)">
                                                        </master-search>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price2FC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price2LC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price 3 :</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput formControlName="price3PER" />
                                                </mat-form-field>
                                                <master-search [MasterSearchData]="price3CodeData"
                                                            (newRowClick)="price3CodeSelected($event)">
                                                        </master-search>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price3FC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price3LC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price 4 :</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput formControlName="price4PER" />
                                                </mat-form-field>
                                                <master-search [MasterSearchData]="price4CodeData"
                                                            (newRowClick)="price4CodeSelected($event)">
                                                        </master-search>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price4FC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price4LC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Price 5 :</label>
                                            <div class="col-2">
                                                <mat-form-field style="width: 70%;">
                                                    <input type="text" matInput formControlName="price5PER" />
                                                </mat-form-field>
                                                <master-search [MasterSearchData]="price5CodeData"
                                                            (newRowClick)="price5CodeSelected($event)">
                                                        </master-search>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price5FC" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="price5LC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-2">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-4"><label>Labour Charges</label></div>
                                            <div class="col-2"><label>Current</label></div>
                                            <div class="col-3"><label>New</label></div>
                                            <div class="col-2"><label>Accounts</label></div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Settings:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="settings" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="settingsAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="settingsAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Polishing:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="polishing" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="polishingAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="polishingAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Rhodium:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="rhodium" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="rhodiumAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="rhodiumAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Making:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="making" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="makingAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="makingAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Plate Charges:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="platecharges" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="platechargesFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="platechargesCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Cert Charges:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="certcharges" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="certchargesFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="certchargesCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Misc Charges:</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="misccharges" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="miscchargesAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 80%;">
                                                    <input type="number" matInput formControlName="miscchargesAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Total :</label>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="totalAMTFC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput formControlName="totalAMTCC" style="text-align: right;" />
                                                </mat-form-field>
                                            </div>
                                           
                                        

                                        </div>

                                    </div>

                                </div>
                            </div>
                 

                      
                     
                  </form>
                </div>