<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Reverse Price Ratio Works</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" (deleteClick)="delete()" [isViewDelete]="false" [isViewSave]="!viewMode" [isViewCancel]="!viewMode"
[isViewMore]="!viewMode"></modal-header>
<!-- content section -->

<div class="pos-sales-modalbody modelbody">
    <div class="card-body sales-card-body p-2">
        <form [formGroup]="reversepriceratioForm">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <mat-radio-group aria-label="Select an option" formControlName="metalDiamond"  [disabled]="viewMode">
                            <mat-radio-button [value]="true"  class="mx-3"> Metal </mat-radio-button>
                            <mat-radio-button [value]="false"  class="mx-3">Diamond</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row mb-2">
                        <label for="input" class="col-sm-4 col-form-label">Division
                            :</label>
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input #codeField  type="text" #codeInput maxlength="1" matInput formControlName="divisioncode" (focusout)="validateLookupField($event,divisionCodeData,'divisioncode')" (keydown)="lookupKeyPress($event,'divisioncode')"  [readonly]="viewMode || editMode">
                                <master-search  [MasterSearchData]="divisionCodeData" *ngIf=" viewMode == false"  (newRowClick)="divisionCodeSelected($event)"  class="masterSearch" #overlaydivisionSearch>
                                </master-search>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-2">
                        <label for="input"  class="col-sm-2 col-form-label">Branches
                            :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text"  maxlength="3"   matInput formControlName="branchCode"   [readonly]="viewMode">
                                </mat-form-field>
                            </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-primary metal-issue-del-btn">Branch</button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="Metal">
                    <div class="row mb-3">
                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="directPropotion"  [disabled]="viewMode">Direct Propotion</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="metalRatio"  [disabled]="viewMode">Metal Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" matInput formControlName="metalRatioDetail" [readonly]="viewMode" maxlength="3" AmountDecimalInput (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneRatio"  [disabled]="viewMode">Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="stoneRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="labourRatio"  [disabled]="viewMode">Labour Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="labourRatioDetail"  [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 py-5">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="kundanRatio"  [disabled]="viewMode">Kundan Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="kundanRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="wastageRatio"  [disabled]="viewMode">Wastage Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="wastageRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                      <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="total"  [disabled]="viewMode">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="totalDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="Diamond">
                    <div class="row mb-3">
                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="directPropotion"  [disabled]="viewMode">Direct Propotion</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="metalRatioDia"  [disabled]="viewMode">Metal Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="metalRatioDiaDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneRatioDia"  [disabled]="viewMode">Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="stoneRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="labourRatioDia"  [disabled]="viewMode">Labour Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="labourRatioDiaDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                            
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="totalDia"  [disabled]="viewMode">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="totalDiaDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneSplittingRatio"  [disabled]="viewMode">Stone Splitting Ratio</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="LooseSplittingRatio"  [disabled]="viewMode">Loose Diamond Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="LooseSplittingRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="colorstoneRatio"  [disabled]="viewMode">Color Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="colorstoneRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="pearlsRatio"  [disabled]="viewMode">Pearls Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="pearlsRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="zirconRatio"  [disabled]="viewMode">Zircon Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="zirconRatioDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                      <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="totalDiaone"  [disabled]="viewMode">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="text" #codeInput maxlength="3" AmountDecimalInput  matInput formControlName="totalDiaoneDetail" [readonly]="viewMode" (input)="allowNumbersOnly($event)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

</div>