<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Reverse Price Ratio Works</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" (deleteClick)="delete()"></modal-header>
<!-- content section -->

<div class="pos-sales-modalbody modelbody">
    <div class="card-body sales-card-body p-2">
        <form [formGroup]="reversepriceratioForm">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <mat-radio-group aria-label="Select an option" formControlName="metalDiamond">
                            <mat-radio-button [value]="true"  class="mx-3"> Metal </mat-radio-button>
                            <mat-radio-button [value]="false"  class="mx-3">Diamond</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row mb-2">
                        <label for="input" class="col-sm-4 col-form-label">Division
                            :</label>
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input type="text" #codeInput maxlength="1" matInput formControlName="divisioncode">

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-2">
                        <label for="input"  class="col-sm-2 col-form-label">Branches
                            :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" #codeInput maxlength="15" matInput formControlName="branchCode">
                                </mat-form-field>
                            </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-primary metal-issue-del-btn">Branch</button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="Metal">
                    <div class="row mb-3">
                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" id="ID001" formControlName="directPropotion">Direct Propotion</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="metalRatio">Metal Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="metalRatioDetail"  >
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneRatio">Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="stoneRatioDetail"  >
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="labourRatio">Labour Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="labourRatioDetail"  >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 py-5">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="kundanRatio">Kundan Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="kundanRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="wastageRatio">Wastage Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="wastageRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                      <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3"  formControlName="total">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="totalDetail">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="Diamond">
                    <div class="row mb-3">
                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" id="ID001" formControlName="directPropotion">Direct Propotion</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="metalRatioDia">Metal Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="metalRatioDiaDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneRatioDia">Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="stoneRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="labourRatioDia">Labour Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="labourRatioDiaDetail">
                                </mat-form-field>
                            </div>
                        </div>
                            
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="totalDia">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="totalDiaDetail">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 py-2">
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="stoneSplittingRatio">Stone Splitting Ratio</mat-checkbox>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="LooseSplittingRatio">Loose Diamond Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="LooseSplittingRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="colorstoneRatio">Color Stone Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="colorstoneRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="pearlsRatio">Pearls Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="pearlsRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="zirconRatio">Zircon Ratio</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="zirconRatioDetail">
                                </mat-form-field>
                            </div>
                        </div>
                      <div class="row mb-3">
                            <mat-checkbox class="example-margin" class="col-md-3" formControlName="totalDiaone">Total %</mat-checkbox>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input class="text-right" type="number" #codeInput maxlength="15" matInput formControlName="totalDiaoneDetail">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

</div>