input:disabled {
    color: #000;
}

::ng-deep {
    .cdk-overlay-container {
      position: fixed;
      z-index: 1070 !important;
    }
  }
  .st-1{
    padding-left: 53px;
  }
  .p-b1{
    padding-bottom: 10px;
  }


.mat-input-element {
    font-size: 14px !important;
}