<div>
    <!-- header section starts -->
    <div class="card-content border-bottom d-flex justify-content-between p-2">
        <h5 class="pos-modaltitle" id="modal-dia-metal">Stone Pricing
            Master</h5>
        <button type="button" class="btn btn-close close-btn" (click)="close()">
            <i class="feather icon-x close-icon"></i>
        </button>
    </div>
    <!-- modal header component -->
    <modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
    (deleteClick)="deleteStonepriceMaster()" [isViewDelete]="!viewMode"></modal-header>
    <!-- content section -->
    <div class="row">
        <div class="p-4 ">
            <div class="row">
                <form [formGroup]="stonePrizeMasterForm">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6">
                                <br>
                                <div class="row mb-1 head2">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Price
                                        Code * :</label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="editPrice"
                                                #codeInput matInput
                                                maxlength="15"
                                                formControlName="price_code"
                                                (focusout)="checkCodeExists($event)"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sieve
                                        Set : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="15"
                                                formControlName="sieve_set" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,sieve_setData,'sieve_set')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="sieve_setData"
                                            (newRowClick)="sieve_setDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Shape *
                                        : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="shape" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,shapeData,'shape')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="shapeData"
                                            (newRowClick)="shapeDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sieve
                                        From : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="sieve_form" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,sievefromData,'sieve_form')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="sievefromData"
                                            (newRowClick)="sievefromDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sieve To
                                        : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="sieve_to"
                                               (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,sievetoData,'sieve_to')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="sievetoData"
                                            (newRowClick)="sievetoDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Color :
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="color" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,colorData,'color')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="colorData"
                                            (newRowClick)="colorDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Clarity
                                        * : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="clarity" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,clarityData,'clarity')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="clarityData"
                                            (newRowClick)="clarityDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label"> Size
                                        From : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="size_from" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,sizefromData,'size_from')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="sizefromData"
                                            (newRowClick)="sizefromDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Size To
                                        : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="size_to" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,sizetoData,'size_to')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="sizetoData"
                                            (newRowClick)="sizetoDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pt-5">
                                <br>
                                <div class="row mb-1 head2" style="margin-top: -46px;">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Currency
                                        * :</label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 90%">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="6"
                                                formControlName="currency" (input)="inputValidate($event)"
                                                UpperCaseDirective
                                                (focusout)="validateLookupField($event,currencyData,'currency')"/>
                                        </mat-form-field>
                                        <master-search
                                            [MasterSearchData]="currencyData"
                                            (newRowClick)="currencyDataSelected($event)"
                                            *ngIf=" viewDisable == false">
                                        </master-search>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Carat
                                        Weight * : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px; text-align: right;">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput
                                                formControlName="carat_wt"
                                                StoneDecimalInput
                                                (input)="onInputChange($event,'carat_wt', 12)"
                                                />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sieve
                                        From Desc :
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text" matInput
                                                [readonly]="viewMode"
                                                formControlName="sieve_from_desc" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Sieve to
                                        Desc : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text" matInput
                                            (change)="onSievetto($event)"
                                                formControlName="sieve_to_desc"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Weight
                                        From: </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="15"
                                                class="text-right"
                                                formControlName="wt_from"
                                                StoneDecimalInput
                                                (input)="onInputChange($event,'wt_from', 12)"

                                                 />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Weight
                                        To : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="15"
                                                class="text-right"
                                                formControlName="wt_to"
                                                (change)="onweighttto($event)"
                                                StoneDecimalInput
                                                (input)="onInputChange($event,'wt_to', 12)"
                                                />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Issue
                                        Rate * : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text"
                                                [readonly]="viewModeAll"
                                                matInput maxlength="15"
                                                class="text-right"
                                                formControlName="issue_rate"
                                                AmountDecimalInput
                                                (input)="onInputChange($event,'issue_rate', 12)"
                                                 />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Selling
                                        % * : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text"
                                                [readonly]="viewModeAll || viewselling"
                                                matInput
                                                class="text-right"
                                                AmountDecimalInput
                                                CommaSeparatedNumber [max]="3"
                                                formControlName="selling"  
                                                (keypress)="salesChange1('selling')" 
                                               />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <label for="inputPassword"
                                        class="col-sm-4 col-form-label">Selling
                                        Rate * : </label>
                                    <div class="col-sm-8">
                                        <mat-form-field
                                            style="width: 100%; margin-left: 7px;">
                                            <input type="text"       AmountDecimalInput
                                            CommaSeparatedNumber [max]="13"
                                                [readonly]="viewModeAll || viewsellingrate"
                                                matInput class="text-right"
                                                formControlName="selling_rate"
                                                (keypress)="salesChange('selling_rate')"
                                             />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>