<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Certificate Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>

<!-- modal header component -->
<modal-header
  (saveClick)="certificateMasterMainFormSubmit()"
  (cancelClick)="close()"
  (deleteClick)="DeleteController()"
  [isViewDelete]="false"
  [isViewCancel]="!['VIEW', 'DELETE'].includes(flag)"
  [isViewSave]="!['VIEW', 'DELETE'].includes(flag)"
></modal-header>

<!-- content section -->
<div class="container-fluid pt-3">
  <form [formGroup]="certificateMasterMainForm">
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="row mb-1">
              <label for="code" class="col-sm-5 col-form-label" id="ID029"
                >Code <span class="text-danger">*</span>
              </label>
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW' || flag === 'EDIT'"
                    matInput
                    maxlength="6"
                    formControlName="code"
                    #codeField
                  />
                  <mat-error
                    *ngIf="
                      certificateMasterMainForm.controls['code'].hasError(
                        'required'
                      )
                    "
                  >
                    Code is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="stdcharges" class="col-sm-5 col-form-label" id="ID029"
                >Std. charges</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="stdCharges"
                    AmountDecimalInputCustom
                    class="text-right"
                    (keydown)="preventInvalidInput($event)"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="ledger" class="col-sm-5 col-form-label" id="ID029"
                >Ledger</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    formControlName="ledger"
                    matInput
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        ledgerCodeData,
                        ['ledger'],
                        false,
                        ['ACCODE'],
                        false
                      )
                    "
                  />

                  <master-search
                    (focusout)="openTab($event, 'ledger')"
                    *ngIf="flag != 'VIEW'"
                    #overlayLedger
                    class="masterSearch"
                    [MasterSearchData]="ledgerCodeData"
                    (newRowClick)="lookupSelect($event, ['ledger'], ['ACCODE'])"
                  >
                  </master-search>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="email" class="col-sm-5 col-form-label" id="ID029"
                >Email</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    maxlength="50"
                    formControlName="email"
                  />
                  <mat-error
                    *ngIf="
                      certificateMasterMainForm
                        .get('email')
                        ?.hasError('domainInvalid')
                    "
                    >Invalid Email ID.</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="web" class="col-sm-5 col-form-label" id="ID029"
                >Web</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="web"
                    maxlength="50"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-1">
              <label
                for="description"
                class="col-sm-5 col-form-label"
                id="ID029"
                >Description <span class="text-danger">*</span>
              </label>
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [maxlength]="40"
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="description"
                  />

                  <mat-error
                    *ngIf="
                      certificateMasterMainForm.controls[
                        'description'
                      ].hasError('required')
                    "
                  >
                    Description is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label for="leadDays" class="col-sm-5 col-form-label" id="ID029"
                >Lead Days</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="number"
                    matInput
                    maxlength="13"
                    class="text-right"
                    (keydown)="preventInvalidInput($event)"
                    formControlName="leadDays"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1">
              <label
                for="offsetAccount"
                class="col-sm-5 col-form-label"
                id="ID029"
                >Offset Account</label
              >
              <div class="col-md-7">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    type="text"
                    [readonly]="flag === 'VIEW'"
                    matInput
                    formControlName="offsetAccount"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        offSetAccCodeData,
                        ['offsetAccount'],
                        false,
                        ['ACCODE'],
                        false
                      )
                    "
                  />

                  <master-search
                    *ngIf="flag != 'VIEW'"
                    (focusout)="openTab($event, 'offsetAccount')"
                    #overlayOffsetAccount
                    [MasterSearchData]="offSetAccCodeData"
                    class="masterSearch"
                    (newRowClick)="
                      lookupSelect($event, ['offsetAccount'], ['ACCODE'])
                    "
                  ></master-search>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </form>
</div>
