.branchDivisionelectr{
    position: absolute;
    cursor: pointer;
}

::ng-deep .mat-tooltip.custom-tooltip {
    background-color: #151414;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    // padding: 8px;
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.5;
}