.table_header {
    // background: #3599cc;
    background: #778da9;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-white {
      background: #fff;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: 500;
      margin-right: 10px;
    }
    .icons_wrap {
      display: flex;
      align-items: center;
      a {
        margin-left: 10px;
      }
      .icons {
        font-size: 24px;
        margin-right: 10px;
        color: #fff;
      }
      .custom-control-label {
        font-size: 16px;
        font-weight: 400;
        margin-top: 2px;
        color: #fff;
      }
    }
  }
  .skeltonLoading{
    width: 100% !important;
    height: 100% !important;
  }

.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 5px;  
}

.retailGridCellInput{
  width: -webkit-fill-available; 
  line-height: 2.35715;
  border: 1px solid #dadada;
}