<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Jewellery Assembling</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" [isViewAttachment]="true" (attachmentClick)="attachmentClicked()"></modal-header>
<!-- component to upload attachment -->
<attachment-upload (uploadSubmit)="uploadSubmited($event)" [savedAttachment]="savedAttachments"></attachment-upload>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form>

        <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
          <mat-tab label="Invoice Details">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Branch: </label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput formControlName="branch"
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search></master-search>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Voucher:
                    </label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput formControlName="vocType" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput formControlName="vocNo" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Voucher Date:
                    </label>
                    <div class="col-sm-7">
                      <!-- <mat-form-field style="width: 80%;">
                        <input type="date" matInput />
                      </mat-form-field> -->
                      <mat-form-field style="width: 100%">
                        <input matInput [matDatepicker]="vocdate" name="vocdate"
                          formControlName="vocdate"
                          placeholder="YYYY/MM/DD" DateValidation />
                        <mat-datepicker-toggle matSuffix
                          [for]="vocdate"></mat-datepicker-toggle>
                        <mat-datepicker [startAt]="currentDate"
                          #vocdate></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Party Code:
                    </label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput formControlName="partyCode"
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search></master-search>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Item Currency:
                    </label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput
                          formControlName="itemCurrency" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput
                          formControlName="itemcurrencDesc" />
                      </mat-form-field>
                    </div>
                  </div>

                </div>

                <div class="col-md-5">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row mb-1">
                        <label for="inputPassword" class="col-sm-2">Rate:
                        </label>
                        <div class="col-sm-3">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput
                              formControlName="rate" />
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput
                              formControlName="rateTwo" />
                          </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput
                              formControlName="retaThree" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mb-1">
                        <label for="inputPassword" class="col-sm-2">Entered:
                        </label>
                        <div class="col-sm-5">
                          <mat-form-field style="width: 70%;">
                            <input type="text" matInput
                              formControlName="enteredBy"
                              (keypress)="lookupKeyPress($event)" />
                          </mat-form-field>
                          <master-search></master-search>
                        </div>
                        <div class="col-sm-4">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput
                              formControlName="partyCode" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mb-1">
                        <label for="inputPassword" class="col-sm-2"></label>
                        <div class="col-sm-9">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-12 d-flex">
                        <div class="p-2 bd-highlight">
                          <button type="button"
                            class="btn btn-primary metal-issue-add-btn">
                            Metal
                          </button>
                        </div>
                        <div class="p-2 bd-highlight">
                          <button type="button"
                            class="btn btn-primary metal-issue-add-btn">
                            Stone
                          </button>
                        </div>
                        <div class="p-2 bd-highlight">
                          <button type="button"
                            class="btn btn-primary metal-issue-add-btn">
                            Show Pulled
                          </button>
                        </div>

                      </div>

                    </div>

                    <div class="col-md-4 pt-5">
                      <div class=" bd-highlight">
                        <button type="button"
                          class="btn btn-primary metal-issue-add-btn">
                          Apply Chargess Acs
                        </button>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="row">
                    <h6 class="t-a1">Party Ref</h6>
                  </div>

                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Number:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Date:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 100%;">
                        <input type="date" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="row">
                    <mat-checkbox formControlName="pepperoni">
                      <h6>Registered</h6>
                    </mat-checkbox>

                  </div>

                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">Status
                      Code:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search></master-search>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-5">No:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="number" matInput [dir]="'rtl'"
                          style="text-align: right;" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </mat-tab>
          <mat-tab label></mat-tab>
        </mat-tab-group>

        <div class="row">
          <div class="col-md-12">
            <mat-tab-group>
              <mat-tab label="Line Details">
                <div class="row d-flex">
                  <div class="col-12 d-flex">
                    <!-- <div class="p-2 bd-highlight">
                      <button type="button" class="btn btn-primary metal-issue-add-btn"
                        (click)="openjewelleryassemblingdetails()">
                        Add
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                        Delete
                      </button>
                    </div> -->
                    <div class="p-1">
                      <button type="button" mat-flat-button color="primary"
                        (click)="openjewelleryassemblingdetails()">
                        <i class="fa fa-plus" style="font-size: 11px;"></i>
                      </button>
                    </div>
                    <div class="p-1">
                      <button type="button" mat-flat-button color="primary">
                        <i class="fa fa-trash" style="font-size: 11px;"></i>
                      </button>
                    </div>
                    <div class="p-1">
                      <button type="button" mat-flat-button color="primary">
                        <i class="fa fa-trash" style="font-size: 11px;"></i>
                      </button>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search>
                      </master-search>
                    </div>
                    <div class="col-sm-5">
                      <div class="row mb-1">
                        <label for="inputPassword"
                          class="col-sm-3">Customer:</label>
                        <div class="col-sm-7">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row m-2">
                  <div class="col">
                    <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
                      [allowColumnResizing]="true" [showBorders]="true">
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-editing mode="cell" [allowUpdating]="true">
                      </dxo-editing>
                      <dxo-selection mode="multiple"></dxo-selection>
                      <dxo-scrolling mode="virtual"></dxo-scrolling>

                      <dxi-column *ngFor="let data of column1"
                        dataField="{{ data }}" caption="{{ data }}"
                        [allowEditing]="true" alignment="center"
                        backgroundcolor="#000">
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Metal & Stone Details"></mat-tab>
              <mat-tab label="Pulled Items"></mat-tab>
            </mat-tab-group>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-11 p-l1">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4">Net
                      Amount:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-3">Total
                      TRN:</label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-3">Total
                      Consumed:</label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword"
                      class="col-sm-2">Narration:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="row">
                <div class="col-md-8">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-2">Rate: </label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-2">Entered:
                    </label>
                    <div class="col-sm-5">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search></master-search>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-2"></label>
                    <div class="col-sm-9">
                      <mat-form-field style="width: 100%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-12 d-flex">
                    <div class="p-2 bd-highlight">
                      <button type="button"
                        class="btn btn-primary metal-issue-add-btn">
                        Metal
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button type="button"
                        class="btn btn-primary metal-issue-add-btn">
                        Stone
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button type="button"
                        class="btn btn-primary metal-issue-add-btn">
                        Show Pulled
                      </button>
                    </div>

                  </div>

                </div>

                <div class="col-md-4 pt-5">
                  <div class=" bd-highlight">
                    <button type="button"
                      class="btn btn-primary metal-issue-add-btn">
                      Apply Chargess Acs
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-2 ">
              <div class="row">
                <h6 class="t-a1">Party Ref</h6>
              </div>

              <div class="row mb-1">
                <label for="inputPassword" class="col-sm-5">Number:</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-1">
                <label for="inputPassword" class="col-sm-5">Date:</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%;">
                    <input type="date" matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-2 ">
              <div class="row">
                <mat-checkbox formControlName="pepperoni">
                  <h6>Registered</h6>
                </mat-checkbox>

              </div>

              <div class="row mb-1">
                <label for="inputPassword" class="col-sm-5">Status Code:</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 70%;">
                    <input type="text" matInput
                      (keypress)="lookupKeyPress($event)" />
                  </mat-form-field>
                  <master-search></master-search>
                </div>
              </div>
              <div class="row mb-1">
                <label for="inputPassword" class="col-sm-5">No:</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 70%;">
                    <input type="number" matInput [dir]="'rtl'"
                      style="text-align: right;" />
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-tab-group>
              <mat-tab label="Line Details">
                <div class="row d-flex">
                  <div class="col-12 d-flex">
                    <!-- <div class="p-2 bd-highlight">
                      <button type="button" class="btn btn-primary metal-issue-add-btn"
                        (click)="openjewelleryassemblingdetails()">
                        Add
                      </button>
                    </div>
                    <div class="p-2 bd-highlight">
                      <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                        Delete
                      </button>
                    </div> -->
                    <div class="p-1">
                      <button type="button" mat-flat-button color="primary"
                        (click)="openjewelleryassemblingdetails()">
                        <i class="fa fa-plus" style="font-size: 11px;"></i>
                      </button>
                    </div>
                    <div class="p-1">
                      <button type="button" mat-flat-button color="primary">
                        <i class="fa fa-trash" style="font-size: 11px;"></i>
                      </button>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 80%;">
                        <input type="text" matInput
                          (keypress)="lookupKeyPress($event)" />
                      </mat-form-field>
                      <master-search>
                      </master-search>
                    </div>
                    <div class="col-sm-5">
                      <div class="row mb-1">
                        <label for="inputPassword"
                          class="col-sm-3">Customer:</label>
                        <div class="col-sm-7">
                          <mat-form-field style="width: 100%;">
                            <input type="text" matInput />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row m-2">
                  <div class="col">
                    <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID"
                      [allowColumnResizing]="true" [showBorders]="true">
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-editing mode="cell" [allowUpdating]="true">
                      </dxo-editing>
                      <dxo-selection mode="multiple"></dxo-selection>
                      <dxo-scrolling mode="virtual"></dxo-scrolling>

                      <dxi-column *ngFor="let data of column1"
                        dataField="{{ data }}" caption="{{ data }}"
                        [allowEditing]="true" alignment="center"
                        backgroundcolor="#000">
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Metal & Stone Details"></mat-tab>
              <mat-tab label="Pulled Items"></mat-tab>
            </mat-tab-group>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-11 p-l1">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4">Net
                      Amount:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-3">Total
                      TRN:</label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-3">Total
                      Consumed:</label>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-1">
                    <label for="inputPassword"
                      class="col-sm-2">Narration:</label>
                    <div class="col-sm-7">
                      <mat-form-field style="width: 70%;">
                        <input type="text" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>