::ng-deep {
  .mat-flat-button {
    line-height: 0px !important;
    height: 27px !important;
    background-color: #0279ba !important;
    span {
      color: #ffff;
      font-size: 0.9em;
    }
  }
}
