.icons {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 2px;
  }
  
  .icons .image_box {
    height: 150px;
    width: 100%;
  }

  .mat-flat-button.mat-primary {
    background-color: #428cc9 !important;
    color: #fff;
  }
  
  .mat-flat-button.mat-primary:disabled {
    color: #fff;
    background-color: #7e8790 !important;
    border-color: #7e8790 !important;
    cursor: not-allowed !important;
  }

  // /* In your component's CSS file */

.items {
    background-color: #eaeaea;
    width: 100%;
    font-family: Poppins;
    padding: 5px;
    display: flex;
  }
  
  .arrowicons {
    font-size: 23px;
  }
  
  .btn-primary {
    // background-color: #415a77 !important;
    // border-color: #415a77 !important;
    background: linear-gradient(0deg, #2a5298 30%, #1e3c72 60%) !important;
    font-size: 12px;
    border-radius: 3px !important;
    padding: 6px 15px 6px 15px !important;
  }
  
  .btn-danger {
    font-size: 12px;
    padding: 6px 15px 6px 15px !important;
    border-radius: 5px !important;
  }
  
  // loader style starts
  .loader {
    width: 14px;
    height: 14px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  } 
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  
  .hidden-tab {
    display: none !important;
  }