<div>
  <!-- header section starts -->
  <div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Deduction Master</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <!-- modal header component -->
  <modal-header
    (saveClick)="deductionMasterFormSubmit()"
    (cancelClick)="close()"
    (deleteClick)="DeleteController()"
    [isViewDelete]="false"
    [isViewCancel]="!['VIEW', 'DELETE'].includes(flag)"
    [isViewSave]="!['VIEW', 'DELETE'].includes(flag)"
  ></modal-header>
  <!-- content section -->
  <div class="p-4">
    <form [formGroup]="deductionMasterForm">
      <mat-tab-group>
        <mat-tab label="General">
          <div class="row py-2">
            <div class="col-md-10">
              <div class="row mb-1">
                <label
                  for="inputPassword"
                  id="ID001"
                  class="col-sm-2 col-form-label"
                >
                  Code
                  <span class="text-danger">*</span>
                </label>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (change)="onInput($event, 'code', true)"
                      [readonly]="flag === 'VIEW' || flag === 'EDIT'"
                      type="text"
                      maxlength="6"
                      matInput
                      formControlName="code"
                      autocomplete="off"
                      #codeField
                    />
                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['code'].hasError(
                          'required'
                        )
                      "
                    >
                      Code is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-1">
                <label
                  for="inputPassword"
                  id="ID001"
                  class="col-sm-2 col-form-label"
                >
                  Description
                  <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      #codeInput
                      maxlength="21"
                      matInput
                      formControlName="description"
                      autocomplete="off"
                    />
                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['description'].hasError(
                          'required'
                        )
                      "
                    >
                      Desc is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox
                    formControlName="considerForLeaveSalary"
                    (change)="boxChecker($event, 'considerForLeaveSalary')"
                    class="example-margin"
                  >
                    Consider for Leave Salary</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-2 col-form-label"
                  >GL Code
                  <span class="text-danger">*</span>
                </label>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (keydown)="
                        onKeyDown($event, ['glCode', 'glCodeDesc'], glCodeData)
                      "
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          glCodeData,
                          ['glCode', 'glCodeDesc'],
                          false,
                          ['ACCODE', 'ACCOUNT_HEAD'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="glCode"
                    />
                    <master-search
                      (focusout)="openTab($event, 'glCode')"
                      #overlayGlCode
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="glCodeData"
                      (newRowClick)="
                        lookupSelect(
                          $event,
                          ['glCode', 'glCodeDesc'],
                          ['ACCODE', 'ACCOUNT_HEAD']
                        )
                      "
                    >
                    </master-search>

                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['glCode'].hasError(
                          'required'
                        )
                      "
                    >
                      GL Code is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="glCodeDesc"
                      (keydown)="
                        onKeyDown($event, ['glCode', 'glCodeDesc'], glCodeData)
                      "
                    />
                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['glCodeDesc'].hasError(
                          'required'
                        )
                      "
                    >
                      GL Desc is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-2 col-form-label"
                  >Country Code
                  <span class="text-danger">*</span>
                </label>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (keydown)="
                        onKeyDown(
                          $event,
                          ['countryCode', 'countryDesc'],
                          countryCodeData
                        )
                      "
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          countryCodeData,
                          ['countryCode', 'countryDesc'],
                          false,
                          ['CODE', 'DESCRIPTION'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="countryCode"
                    />
                    <master-search
                      (focusout)="openTab($event, 'countryCode')"
                      #overlayCountryCode
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="countryCodeData"
                      (newRowClick)="
                        lookupSelect(
                          $event,
                          ['countryCode', 'countryDesc'],
                          ['CODE', 'DESCRIPTION']
                        )
                      "
                    >
                    </master-search>

                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['countryCode'].hasError(
                          'required'
                        )
                      "
                    >
                      Country Code is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="countryDesc"
                      (keydown)="
                        onKeyDown(
                          $event,
                          ['countryCode', 'countryDesc'],
                          countryCodeData
                        )
                      "
                    />
                    <mat-error
                      *ngIf="
                        deductionMasterForm.controls['countryDesc'].hasError(
                          'required'
                        )
                      "
                    >
                      Country Desc is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="boxed-label">
                <h6>Calculation Method</h6>
              </div>
              <div class="your-box-container">
                <div class="row">
                  <div class="col-md-6">
                    <mat-radio-group
                      aria-label="Select an option"
                      formControlName="method"
                      class="d-flex flex-column"
                    >
                      <mat-radio-button value="F" class="mx-2"
                        ><b>Fixed</b></mat-radio-button
                      >
                      <mat-radio-button value="P" class="mx-2"
                        ><b>Percentage</b></mat-radio-button
                      >
                    </mat-radio-group>
                    <mat-error
                      style="font-size: 11px; color: red"
                      *ngIf="
                        deductionMasterForm.controls['method'].hasError(
                          'required'
                        )
                      "
                    >
                      Please select a method. <span class="text-danger">*</span>
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <div class="row mb-1">
                      <label
                        for="inputPassword"
                        id="ID001"
                        class="col-sm-4 col-form-label"
                      >
                        Value
                        <span class="text-danger">*</span></label
                      >
                      <div class="col-sm-8">
                        <mat-form-field
                          style="width: 100%"
                          appearance="outline"
                        >
                          <input
                            [readonly]="flag == 'VIEW'"
                            type="text"
                            matInput
                            class="text-right"
                            AmountDecimalInput
                            formControlName="value"
                            autocomplete="off"
                            (keydown)="handleInputRestrictions($event)"
                          />
                          <mat-error
                            *ngIf="
                              deductionMasterForm.controls['value'].hasError(
                                'required'
                              )
                            "
                          >
                            Value is required.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div>
                      <mat-checkbox
                        formControlName="avoidFraction"
                        (change)="boxChecker($event, 'avoidFraction')"
                        class="example-margin"
                      >
                        Aviod Fraction</mat-checkbox
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="isViewReport" class="row my-2">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-3 col-form-label"
                  >Report Heading
                </label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          countryCodeData,
                          ['reportHeadingCode'],
                          false,
                          ['DESCRIPTION'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="reportHeadingCode"
                    />
                    <master-search
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="countryCodeData"
                      (newRowClick)="
                        lookupSelect(
                          $event,
                          ['reportHeadingCode', 'reportHeadingDesc'],
                          ['CODE', 'DESCRIPTION']
                        )
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <label for="inputPassword" class="col-sm-3 col-form-label"
                  >Calculation Basis
                </label>
                <div class="col-md-9">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-select formControlName="calculationBasis">
                      <mat-option
                        *ngFor="let data of calculationBasisDropdown"
                        [value]="data.SRNO"
                        >{{ data.ENGLISH }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <fieldset class="custom-fieldset">
                    <legend class="custom-legend">Period</legend>
                    <mat-radio-group
                      aria-label="Select an option"
                      formControlName="period"
                      (change)="periodController($event)"
                    >
                      <mat-radio-button value="M" id="ID012" class="mx-2"
                        >Monthly</mat-radio-button
                      >
                      <mat-radio-button value="Y" id="ID013" class="mx-2"
                        >Yearly</mat-radio-button
                      >
                    </mat-radio-group>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="User Defined">
          <div class="row py-2">
            <div class="col-md-4">
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 1
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData1,
                          ['userDefined1'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined1"
                    />
                    <master-search
                      #overlayUserDefined1
                      (focusout)="openTab($event, 'userDefined1')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData1"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined1', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 2
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData2,
                          ['userDefined2'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined2"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined2
                      (focusout)="openTab($event, 'userDefined2')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData2"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined2', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 3
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData3,
                          ['userDefined3'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined3"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined3
                      (focusout)="openTab($event, 'userDefined3')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData3"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined3', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 4
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData4,
                          ['userDefined4'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined4"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined4
                      (focusout)="openTab($event, 'userDefined4')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData4"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined4', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 5
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData5,
                          ['userDefined5'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined5"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined5
                      (focusout)="openTab($event, 'userDefined5')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData5"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined5', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 6
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData6,
                          ['userDefined6'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined6"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined6
                      (focusout)="openTab($event, 'userDefined6')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData6"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined6', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 7
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData7,
                          ['userDefined7'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined7"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined7
                      (focusout)="openTab($event, 'userDefined7')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData7"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined7', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 8
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData8,
                          ['userDefined8'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined8"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined8
                      (focusout)="openTab($event, 'userDefined8')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData8"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined8', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 9
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData9,
                          ['userDefined9'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined9"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined9
                      (focusout)="openTab($event, 'userDefined9')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData9"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined9', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 10
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData10,
                          ['userDefined10'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined10"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined10
                      (focusout)="openTab($event, 'userDefined10')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData10"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined10', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 11
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData11,
                          ['userDefined11'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined11"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined11
                      (focusout)="openTab($event, 'userDefined11')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData11"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined11', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 12
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData12,
                          ['userDefined12'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined12"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined12
                      (focusout)="openTab($event, 'userDefined12')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData12"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined12', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 13
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData13,
                          ['userDefined13'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined13"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined3
                      (focusout)="openTab($event, 'userDefined13')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData13"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined13', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 14
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData14,
                          ['userDefined14'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined14"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined14
                      (focusout)="openTab($event, 'userDefined14')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData14"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined14', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label
                  for="inputPassword"
                  id="ID002"
                  class="col-sm-4 col-form-label"
                  >User Defined 15
                </label>
                <div class="col-sm-8">
                  <mat-form-field style="width: 100%" appearance="outline">
                    <input
                      (focusout)="
                        SPvalidateLookupFieldModified(
                          $event,
                          userDefinedData15,
                          ['userDefined15'],
                          false,
                          ['CODE'],
                          false
                        )
                      "
                      [readonly]="flag == 'VIEW'"
                      type="text"
                      matInput
                      formControlName="userDefined15"
                      UpperCaseDirective
                    />
                    <master-search
                      #overlayUserDefined15
                      (focusout)="openTab($event, 'userDefined15')"
                      *ngIf="flag != 'VIEW'"
                      class="masterSearch"
                      [MasterSearchData]="userDefinedData15"
                      (newRowClick)="
                        lookupSelect($event, 'userDefined15', 'CODE')
                      "
                    >
                    </master-search>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>
