<div class="modal-header" style="padding: 10px 20px">
  <h4 class="modal-title" id="modal-dia-metal">
    {{ lineItemModalForSalesReturn ? "Sales Return " : "Item Details" }}
  </h4>
  <button type="button" *ngIf="!updateBtn" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="lineItemForm">

    <div class="row" style="padding-top: 15px">
      <div class="errormsg col-md-12" id="modelerrmsg">
      </div>
      <span>
        <div class="col-md-12">
          <div class="bg-gray-card">
            <div class="form-group row">
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Division </mat-label>
                  <input type="text" matInput formControlName="fcn_li_division" id="fcn_li_division" readonly />
                </mat-form-field>

              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Item Code </mat-label>
                  <input type="text" matInput formControlName="fcn_li_item_code" id="fcn_li_item_code" autofocus
                    (change)="getStockDesc($event)" [readonly]="viewOnly" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Item Description </mat-label>
                  <input type="text" matInput formControlName="fcn_li_item_desc" id="fcn_li_item_desc"
                    [readonly]="true" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Location </mat-label>
                  <input type="text" matInput formControlName="fcn_li_location" id="fcn_li_location" readonly />
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-3">
                  <mat-form-field aria-readonly="true">
                    <mat-label>PCs</mat-label>
                    <!-- <input class="st_txt_right" [min]="0" [maxLength]="14"
                    (keyup)="this.comFunc.enforceMinMax($event.target)" matInput id="fcn_li_pcs"
                    formControlName="fcn_li_pcs" (change)="changeRate($event)" readonly="{{ viewOnly }}"
                    RemoveLeadingZeros /> -->
                    <input class="st_txt_right" type="text" [maxLength]="14" matInput id="fcn_li_pcs"
                      formControlName="fcn_li_pcs" (change)="changePCS($event)" [readonly]="viewOnly" NumberOnly />

                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_pcs.hasError(
                          'required'
                        )
                      ">
                      PCS is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_pcs.hasError('min')
                      ">
                      {{ "PCS should Not Be Zero" }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>{{
                      newDictionary?.lblGrossWeight || "Gross Wt"
                      }}</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_gross_wt"
                      id="fcn_li_gross_wt" (change)="changeGrossWt($event)" [readonly]="viewOnly" MetalDecimalInput />
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_gross_wt.hasError(
                          'required'
                        )
                      ">
                      Gross Weight is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_gross_wt.hasError(
                          'min'
                        )
                      ">
                      {{ this.comFunc.getMsgByID("MSG1306") }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="this.divisionMS == 'S' ? false : true">
                  <mat-form-field>
                    <mat-label>{{
                      newDictionary?.lblStoneWeight || "Stone Wt"
                      }}</mat-label>
                    <input class="st_txt_right" type="text" [max]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_stone_wt"
                      id="fcn_li_stone_wt" (change)="changeStoneWt($event)"
                      [readonly]="!lineItemService.isStoneIncluded" MetalDecimalInput />
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="this.divisionMS == 'S' ? false : true">
                  <mat-form-field>
                    <mat-label>Net Wt </mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)"
                      max="{{ this.lineItemForm.value.fcn_li_gross_wt }}" matInput formControlName="fcn_li_net_wt"
                      id="fcn_li_net_wt" (focusout)="changeNettWt($event)" readonly MetalDecimalInput />
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row" *ngIf="this.divisionMS == 'M'">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Purity </mat-label>
                    <input type="number" [min]="0" [maxLength]="14" (keyup)="this.comFunc.enforceMinMax($event.target)"
                      class="st_txt_right" matInput formControlName="fcn_li_purity" id="fcn_li_purity" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Pure Weight</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_pure_wt"
                      id="fcn_li_pure_wt" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row" *ngIf="this.divisionMS == 'S' ? false : true">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Metal Rate</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_ad_metal_rate"
                      id="fcn_ad_metal_rate" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Metal Amount</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_ad_metal_amount"
                      id="fcn_ad_metal_amount" AmountDecimalInput readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row" *ngIf="this.divisionMS == 'S' ? false : true">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Stone Rate</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_ad_stone_rate"
                      id="fcn_ad_stone_rate" (change)="changeStoneRate($event)" value="{{ li_stone_rate_val }}"
                      [readonly]="!lineItemService.isStoneIncluded" AmountDecimalInput />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Stone Amount</mat-label>
                    <input class="st_txt_right" type="text" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" id="fcn_ad_stone_amount" matInput
                      formControlName="fcn_ad_stone_amount" value="{{ li_stone_amount_val }}"
                      (change)="changeStoneAmt($event)" [readonly]="!lineItemService.isStoneIncluded"
                      AmountDecimalInput />
                  </mat-form-field>
                </div>

              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>{{
                      divisionMS == "M" ? "Making Rate" : "Rate"
                      }}</mat-label>
                    <input class="st_txt_right" [max]="14" type="text" matInput id="fcn_li_rate"
                      formControlName="fcn_li_rate" (change)="changeRate($event)" readonly="{{ viewOnly }}"
                      (focus)="setValToLocalStorage($event, 'fcn_li_rate')" AmountDecimalInput />

                    <!-- 
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput id="fcn_li_rate"
                      formControlName="fcn_li_rate" (change)="changeRate($event)" readonly="{{ viewOnly }}"
                      (focus)="setValToLocalStorage($event, 'fcn_li_rate')" AmountDecimalInput /> -->
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_rate.hasError(
                          'required'
                        )
                      ">
                      {{ divisionMS == "M" ? "Making Rate" : "Rate" }}
                      is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_rate.hasError('min')
                      ">
                      {{ divisionMS == "M" ? "Making Rate" : "Rate" }}
                      should Not Be Zero
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>
                      {{
                      divisionMS == "M" ? "Making Amount" : "Amount"
                      }}</mat-label>
                    <input class="st_txt_right" type="text" [max]="14" id="fcn_li_total_amount" matInput
                      formControlName="fcn_li_total_amount" (change)="changeTotalAmt($event)" id="fcn_li_total_amount"
                      readonly="{{ viewOnly }}" AmountDecimalInput />

                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_total_amount.hasError(
                          'required'
                        )
                      ">
                      {{ divisionMS == "M" ? "Making Amount" : "Amount" }}
                      is
                      <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                        lineItemForm.controls.fcn_li_total_amount.hasError(
                          'min'
                        )
                      ">
                      {{
                      divisionMS == "M"
                      ? "Making Amount"
                      : "Total Amount"
                      }}
                      should Not Be Zero
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row" *ngIf="this.divisionMS == 'M' ? false : true">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Discount %</mat-label>
                    <input class="st_txt_right" [min]="0" [max]="100"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_discount_percentage" (change)="changeDisPer($event)"
                      id="fcn_li_discount_percentage" (focus)="
                          setValToLocalStorage(
                            $event,
                            'fcn_li_discount_percentage'
                          )
                        " [readonly]="viewOnly" AmountDecimalInput />
                    <!-- <input class="st_txt_right" type="number" [min]="0" [max]="100"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_discount_percentage" (change)="changeDisPer($event)"
                      id="fcn_li_discount_percentage" [readonly]="viewOnly" AmountDecimalInput /> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Discount Amount</mat-label>
                    <input class="st_txt_right" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_discount_amount" id="fcn_li_discount_amount"
                      (change)="changeDisAmount($event)" [readonly]="viewOnly" (focus)="
                      setValToLocalStorage($event, 'fcn_li_discount_amount')
                    " AmountDecimalInput />
                    <!-- <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_discount_amount" id="fcn_li_discount_amount"
                      (change)="changeDisAmount($event)" [readonly]="viewOnly" AmountDecimalInput /> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div style="height: 150px; text-align: center" class="productImage">
                  <img class="card-img-top" [src]="this.curr_line_item_images" alt="Product image" loading="lazy" style="
                      border: 1px solid #ccc;
                      height: 150px;
                      width: 150px;
                    " />
                </div>
              </div>

            </div>
            <div class="row mt-1">
              <div class="col-md-12 form-group row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>
                      Total Amount

                    </mat-label>

                    <input class="st_txt_right" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_gross_amount"
                      id="fcn_li_gross_amount" [readonly]="true" (change)="changeGrossAmt($event)" (focus)="
                          setValToLocalStorage($event, 'fcn_li_gross_amount')
                        " AmountDecimalInput />

                    <mat-error *ngIf="
                      lineItemForm.controls.fcn_li_gross_amount.hasError(
                        'required'
                      )
                    ">
                      Total Amount

                      is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                      lineItemForm.controls.fcn_li_gross_amount.hasError(
                        'min'
                      )
                    ">
                      Total Amount

                      should Not Be Zero
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="taxType == 1">
                  <mat-form-field>
                    <mat-label>Tax %</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_tax_percentage" id="fcn_li_tax_percentage" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="taxType == 2">
                  <mat-form-field>
                    <mat-label>CGST %</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_cgst_percentage" id="fcn_li_cgst_percentage" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="taxType == 1">
                  <mat-form-field>
                    <mat-label>Tax Amount</mat-label>


                    <input class="st_txt_right" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_tax_amount"
                      id="fcn_li_tax_amount" AmountDecimalInput readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-3" *ngIf="taxType == 2">
                  <mat-form-field>
                    <mat-label>CGST Amount</mat-label>
                    <input class="st_txt_right" type="number" [min]="0" [maxLength]="14"
                      (keyup)="this.comFunc.enforceMinMax($event.target)" matInput formControlName="fcn_li_cgst_amount"
                      id="fcn_li_cgst_amount" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>

                    <mat-label>Net Amount</mat-label>
                    <input class="st_txt_right" (focus)="
                    setValToLocalStorage($event, 'fcn_li_net_amount')
                  " [min]="0" [maxLength]="14" (keyup)="this.comFunc.enforceMinMax($event.target)" matInput
                      formControlName="fcn_li_net_amount" id="fcn_li_net_amount" (change)="changeNettAmt($event)"
                      [readonly]="viewOnly" AmountDecimalInput />
                    <mat-error *ngIf="
                      lineItemForm.controls.fcn_li_net_amount.hasError(
                        'required'
                      )
                    ">
                      Net Amount
                      is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="
                      lineItemForm.controls.fcn_li_net_amount.hasError(
                        'min'
                      )
                    ">
                      Net Amount
                      should Not Be Zero
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>

  </form>


  <div style="padding-bottom: 0px">
    <div style="text-align: right; padding: 10px" *ngIf="!viewOnly">
      <button mat-flat-button color="accent" class="btn btn btn-dark" *ngIf="!lineItemModalForSalesReturn"
        (click)="addItemtoList('newitem_btn')">
        Next Item</button>&nbsp;
      <button mat-flat-button color="primary" *ngIf="!lineItemModalForSalesReturn"
        (click)="addItemtoList('finish_btn')">
        {{ updateBtn ? "Update" : "Finish" }}</button>&nbsp;

      <button color="primary" mat-flat-button class="btn btn btn-primary" *ngIf="lineItemModalForSalesReturn"
        (click)="updateRetailSalesReturnVal()">
        {{ updateBtn ? "Update" : "Finish" }}</button>&nbsp;


      <button mat-flat-button color="warn" (click)="modal.dismiss('Cross click')">
        Cancel</button>&nbsp;

       
    </div>
    <div style="text-align: right; padding: 10px" *ngIf="viewOnly">
      <button
        mat-flat-btn
        class="btn btn btn-danger"
        (click)="modal.dismiss('Cross click')"
      >
        Close</button
      >&nbsp;
    </div>


  </div>

</div>