<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Production (MFG)</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
<div class="container-fluid">
  <form [formGroup]="productionFrom">
    <div class="row p-3">
      <div class="col-md-12">
        <div class="row mb-2">
          <div class="col-md-9 d-flex justify-content-start">
            <div class="p-2">
              <h6>{{branchCode}} - {{companyName}}</h6>
            </div>
          </div>
          <div class="col-md-1">
            <h6>Posted</h6>
          </div>
          <div class="col-md-2 text-right">
            <button type="button" class="btn btn-primary add-btn">
              Authorize/Post
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label class="col-sm-4 col-form-label">
                    Voc Type<b>*</b></label>
                  <mat-form-field style="width: 50%;">
                    <input type="text" matInput formControlName="voctype" />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label class="col-sm-4 col-form-label">
                    Voc Date </label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <!-- <input type="date" matInput formControlName="vocdate" />
                        </mat-form-field> -->
                      <input matInput [matDatepicker]="vocDate" name="vocDate"
                        formControlName="vocDate"
                        placeholder="DD/MM/YYYY" DateValidation />
                      <mat-datepicker-toggle matSuffix [for]="vocDate"></mat-datepicker-toggle>
                      <mat-datepicker [startAt]="currentDate" #vocDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label class="col-sm-4 col-form-label">Voc No * </label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput formControlName="vocno" readonly/>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label class="col-sm-4 col-form-label">Entered
                    By</label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput formControlName="enteredby" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label for="input"
                    class="col-sm-4 pe-2 col-form-label">Currency *</label>
                  <div class="col-sm-2">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput
                        (change)="currencyDataSelected($event)"
                        formControlName="currency" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-5">
                    <mat-form-field style="width: 70%;">
                      <input type="number" matInput
                        SixDecimalInput
                        class="text-right" readonly
                        formControlName="currencyrate" />
                    </mat-form-field>
                    <master-search
                      [MasterSearchData]="currencyMasterData"
                      (newRowClick)="currencyDataSelected($event)">
                    </master-search>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="d-flex align-items-center">
                  <label class="col-sm-4 col-form-label">Time</label>
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <input type="text" readonly matInput
                        formControlName="time" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-5 pt-3">
                <mat-checkbox formControlName="UnfixTransaction"><b>Unfix
                    Transaction</b></mat-checkbox><br>
                <mat-checkbox formControlName="STONE_INCLUDE"><b>Include Stone
                    Weight</b></mat-checkbox>
              </div>
              <div class="col-md-7">
                <div class="row mb-2 pt-2 text-right">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <label class="col-md-4 col-form-label">
                        Metal Rate</label>
                      <div class="col-sm-8">
                        <mat-form-field style="width: 20%">
                          <input type="text" matInput readonly
                            formControlName="metalratetype" />
                        </mat-form-field>
                        <mat-form-field
                          style="width: 40%; margin-left: 7px;">
                          <input type="text" matInput
                            SixDecimalInput
                            class="text-right"
                            formControlName="metalrate" />
                        </mat-form-field>
                        <master-search
                          [MasterSearchData]="rateTypeMasterData"
                          (newRowClick)="rateTypeSelected($event)">
                        </master-search>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row mb-2 pt-5">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <label class="col-sm-3 col-form-label">
                        Branch To</label>
                      <div class="col-md-5">
                        <mat-form-field style="width: 100%;">
                          <input type="number" matInput
                            formControlName="branchto" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <label class="col-sm-3 col-form-label">
                        Base Currency</label>
                      <div class="col-md-2">
                        <mat-form-field style="width: 100%;">
                          <input type="text" matInput
                            formControlName="basecurrency" />
                        </mat-form-field>
                      </div> &nbsp;
                      <div class="col-md-4">
                        <mat-form-field style="width: 100%;">
                          <input type="number" matInput
                            formControlName="basecurrencyrate" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row pt-3">
            <div class="col-md-12 d-flex">
              <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                [viewImportBtn]="false"
                (addClick)="openProductionEntryDetails()"
                (deleteClick)="deleteTableData()">
              </menu-buttons>
              <div class="col-sm-2">
                <mat-form-field style="width: 80%;">
                  <input type="text" matInput />
                </mat-form-field>
                <master-search>
                </master-search>
              </div>
            </div>
            <div class="col-md-12">
              <!-- JOB DETAILS TAB STARTS -->
              <mat-tab-group>
                <mat-tab label="Job Details">
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <dx-data-grid #dataGrid id="gridContainer"
                        [showRowLines]="true"
                        [showBorders]="true"
                        [dataSource]="DetailScreenDataToSave">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxo-editing mode="cell" [allowUpdating]="true">
                        </dxo-editing>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxi-column dataField="data" width="auto" caption="No"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="JOB_NUMBER" width="auto"
                          caption="Job #" alignment="center">
                        </dxi-column>
                        <dxi-column dataField="UNQ_JOB_ID" width="auto"
                          caption="Sub Job" alignment="center">
                        </dxi-column>
                        <dxi-column dataField="DESIGN_CODE" width="auto"
                          caption="Design"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="JOB_PCS" width="auto" caption="Pcs"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="METAL_WT" width="auto"
                          caption="Metal"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="STONE_WT" width="auto"
                          caption="Stone"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Gross Wt"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="St Pcs"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Process"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Worker"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="So number"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="WIP A/C"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Location"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Cost_code"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Supplier Ref"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Customer"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Prefix"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Karat"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Job Description"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="set Ref"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Stock Description"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Process Name"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Worker Name"
                          alignment="center">
                        </dxi-column>
                        <dxi-column dataField="data" width="auto"
                          caption="Loss Wt"
                          alignment="center">
                        </dxi-column>
                      </dx-data-grid>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Stock Details">
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <dx-data-grid #dataGrid id="gridContainer"
                        [columnAutoWidth]="true"
                        [dataSource]="STOCK_FORM_DETAILS"
                        [allowColumnResizing]="true"
                        [showRowLines]="true"
                        [showBorders]="true">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column *ngFor="let data of columnheads"
                          dataField="{{ data }}" width="130"
                          caption="{{ data }}"
                          alignment="center">
                        </dxi-column>
                      </dx-data-grid>
                    </div>

                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

            <div class="col-md-12">
              <div class="col-md-12 mt-2">
                <div class="row">
                  <label for="inputPassword" class="col-sm-1 col-form-label">Narration</label>
                  <div class="col-md-3">
                    <mat-form-field style="width: 70%;">
                      <input type="text" matInput formControlName="narration" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>
</div>