.metal-issue-add-btn {
    font-size: 12px;
    padding: 3px 20px !important;
    border-radius: 5px !important;
  }
  
  .metal-issue-del-btn {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
  }
  .t-a1{
    text-align: right;
  }
  .t-a2{
    text-align: end;
  }