.price_box{
    background-color: #b1ebed;
    color: #54739f;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    text-decoration: underline;
}

.image_box h4{
    font-size: 14px;
    font-weight: 300;
    background: #eaeaea;
    padding: 5px;
    text-align: center;
    border: 1px solid #495057;
}

.img_box {
    width: 100%;
    height: 165px;
    border: 1px solid #ddd;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.btnnew {
    color: white;
    border-radius: 5px;
    font-size: 14px;
    background: #34a4dc;
    border-color: transparent;
    padding: 2px 15px;
    margin-left: 45px;
}

.uploadproduct {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    cursor: pointer;
}