<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Point Of Sales Order Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" [isViewContinue]="true"></modal-header>
<!-- content section -->
<div class="container-fluid pt-3">
    <form [formGroup]="posOrderDetailsForm">
        <div class="row">
            <div class="col-md-2">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Design</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="loaction" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="LocationData"
                            (newRowClick)="locationcodeSelected($event)"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="loaction" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="LocationData"
                            (newRowClick)="locationcodeSelected($event)"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">State</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="loaction" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="LocationData"
                            (newRowClick)="locationcodeSelected($event)"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Supplier</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="loaction" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="LocationData"
                            (newRowClick)="locationcodeSelected($event)"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Location</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="loaction" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="LocationData"
                            (newRowClick)="locationcodeSelected($event)"></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Remarks</label>
                    <div class="col-md-10">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="remarks" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-1">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Stock Code</label>
                    <div class="col-md-2">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="stockCodeItem" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="stockCodeData"
                            (newRowClick)="stockCodeSelected($event)"></master-search>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%;">
                            <input type="text" matInput formControlName="stockCode" />
                        </mat-form-field>
                        <!-- <master-search></master-search> -->
                    </div>
                    <div class="col-md-5">
                        <mat-form-field style="width: 100%;">
                            <input type="text" matInput formControlName="stockCodeDesc" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-1 align-items-center">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Delivery Date</label>
                    <div class="col-md-4">
                        <mat-form-field style="width: 100%;">
                            <input matInput [matDatepicker]="deliveryDate" [max]="deliveryDate"
                                formControlName="deliveryDate" placeholder="DD/MM/YYYY" DateValidation />
                            <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
                            <mat-datepicker [startAt]="currentDate" #deliveryDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-checkbox class="example-margin" formControlName="holdforSalesTill">Lock</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1" headerPosition="below" class="border p-2">
            <mat-tab label="Metal">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row mb-1 ">
                            <div class="col-md-12">
                                <h6 class="col-header">Quantity</h6>
                            </div>
                            <label for="inputPassword" class="col-sm-4 col-form-label">Pieces</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;" formControlName="metalpieces" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Gross Weight</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;"
                                        formControlName="metalgrossWeight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Stone Weight</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;"
                                        formControlName="metalstoneWeight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Net Weight</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;"
                                        formControlName="metalnetWeight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Chargeable weight</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;"
                                        formControlName="metalchargableWeight" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-checkbox class="example-margin" formControlName="customerSampleStock">Customer
                                    Sample Stock</mat-checkbox>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-9">
                        <div class="row mb-1 ">
                            <div class="col-md-12">
                                <h6 class="col-header">Rates & Values</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class="col-header">Making Values</h6>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalmakingRate" />
                                                </mat-form-field>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalmakingAmount" />
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-12">
                                                <h6 class="col-header">Stones Values</h6>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalStoneRate" />
                                                </mat-form-field>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalStoneAmount" />
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class="col-header">Metal Values</h6>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Rate</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalValueRate" />
                                                </mat-form-field>
                                            </div>
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Amount</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metalValueAmount" />
                                                </mat-form-field>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-6 col-form-label">Total Amount</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="number" matInput style="text-align: right;"
                                                        formControlName="metaltotalAmount" />
                                                </mat-form-field>
                                            </div>
                                            <label for="inputPassword" class="col-sm-12 col-form-label">GST Rates</label>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Type</label>
                                            <label for="inputPassword" class="col-sm-3 col-form-label">%</label>
                                            <label for="inputPassword" class="col-sm-5 col-form-label">Amount</label>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">CGST</label>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalcgstper" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalcgstAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">SGST</label>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalSgstPer" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalSgstAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">IGST</label>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalIgstPer" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalIgstAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Total >></label>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalTotalPer" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="metalTotalAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <label for="inputPassword" class="col-md-2 col-form-label">NET RATE</label>
                            <div class="col-md-4">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;" formControlName="metalNetAmount" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-md-2 col-form-label">Available Stock</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  formControlName="metalAvailableStock"/>
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-md-2 col-form-label">Stone Difference</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalStoneDiff"/>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalStoneDiffOne"/>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalStoneDiffTwo" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalStoneDiffThree" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-md-2 col-form-label">HSH CODE</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalhsnCode"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-md-2 col-form-label">GST CODE</label>
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalgstCode"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-md-2 col-form-label">GST GROUP</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="metalgstGroup"/>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label for="inputPassword" class="col-md-6 col-form-label">NET AMOUNT</label>
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%;">
                                    <input type="number" matInput style="text-align: right;" foControlName="metalnet_amount" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

              




            </mat-tab>
            <mat-tab label="Diamond">              
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Pieces</label>
                                    <div class="col-md-8">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondPieces" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight</label>
                                    <div class="col-md-8">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondWeight" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Loc Code</label>
                                    <div class="col-md-8">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondLocCode" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <mat-checkbox class="example-margin" formControlName="lollayStock">Loyally Stock</mat-checkbox>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Unit Rate</label>
                                            <div class="col-md-9">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondUnitRate" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Amount</label>
                                            <div class="col-md-9">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Discount</label>
                                            <div class="col-md-9">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondDiscount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">Discount Amount</label>
                                            <div class="col-md-9">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondDisAmount" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-12 col-form-label">Tag Details</label>
                                            <div class="col-md-12">
                                                <mat-form-field style="width: 100%;">
                                                    <textarea matInput rows="4" formControlName="diamondTagDetails"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput  />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">HSN CODE</label>
                                            <div class="col-md-7">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondHSNCode" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">GST CODE</label>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondGSTCode" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">GST Group</label>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="diamondGSTGroup" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-3 col-form-label">Total Amount</label>
                                    <div class="col-md-9">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondTotalAmount" />
                                        </mat-form-field>
                                    </div>
                                    <label for="inputPassword" class="col-sm-12 col-form-label">GST Rates</label>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Type</label>
                                    <label for="inputPassword" class="col-sm-3 col-form-label">%</label>
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Amount</label>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">CGST</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondCGSTPer" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondCGSTAmount" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">SGST</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondSGSTPer" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondsGSTAmount" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">IGST</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondIGSTPer" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondIGSTAmount" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Total >></label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondTotalPer" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondAmountPer" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="inputPassword" class="col-sm-12 col-form-label">Net Amount</label>
                                    <div class="col-md-12">
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput formControlName="diamondnetamount" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>                
                    <div class="col-md-2">
                        <div class="box_wrapper">

                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Custome Sample">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Item Description</label>
                            <div class="col-md-9">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Pcs</label>
                            <div class="col-md-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword" class="col-sm-3 col-form-label">Type of Items</label>
                            <div class="col-md-3">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Gross Wt</label>
                            <div class="col-md-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Total Amount</label>
                            <div class="col-md-3">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-checkbox class="example-margin" formControlName="checkedTheDiamond">Checked the
                                    Diamond/Product Before Accepting for Sampling</mat-checkbox>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Repair Bag No</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Remarks</label>
                            <div class="col-md-10">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="remarks" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-checkbox class="example-margin" formControlName="withStone">With
                                            Stone</mat-checkbox>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPassword" class="col-form-label">Stone Type</label>
                                        <div class="">
                                            <mat-form-field style="width: 70%;">
                                                <input type="text" matInput formControlName="remarks" />
                                            </mat-form-field>
                                            <master-search></master-search>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPassword" class="col-form-label">No of Stones</label>
                                        <div class="">
                                            <mat-form-field style="width: 100%;">
                                                <input type="text" matInput formControlName="remarks" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPassword" class="col-form-label">Cul</label>
                                        <div class="">
                                            <mat-form-field style="width: 70%;">
                                                <input type="text" matInput formControlName="remarks" />
                                            </mat-form-field>
                                            <master-search></master-search>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPassword" class="col-form-label">Approx Size</label>
                                        <div class="">
                                            <mat-form-field style="width: 70%;">
                                                <input type="text" matInput formControlName="remarks" />
                                            </mat-form-field>
                                            <master-search></master-search>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box_wrapper">

                        </div>
                        <div class="icons">
                            <i class="fas fa-camera"></i>
                            <i class="far fa-image"></i>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>