<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Box Master</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header
  *ngIf="flag !== 'VIEW'"
  (cancelClick)="close()"
  (saveClick)="boxMasterMainFormSubmit()"
  (deleteClick)="DeleteController()"
  [isViewDelete]="flag == 'VIEW'"
></modal-header>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="boxMasterMainForm">
      <div class="container-fluid pt-3">
        <div class="row justify-content-between">
          <div class="col-md-8">
            <div class="row align-items-center mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Box No * :</label
              >
              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    class="text-right"
                    [readonly]="flag === 'VIEW' || flag === 'EDIT'"
                    type="text"
                    matInput
                    formControlName="boxno"
                    maxlength="12"
                  />

                  <mat-error
                    *ngIf="
                      boxMasterMainForm.controls['boxno'].hasError('required')
                    "
                  >
                    Box No is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >From Serial No * :</label
              >
              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    style="text-align: right"
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="fromserialno"
                  />

                  <mat-error
                    *ngIf="
                      boxMasterMainForm.controls['fromserialno'].hasError(
                        'required'
                      )
                    "
                  >
                    From Serial No is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Pcs * :</label
              >
              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    style="text-align: right"
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="pcs"
                  />

                  <mat-error
                    *ngIf="
                      boxMasterMainForm.controls['pcs'].hasError('required')
                    "
                  >
                    Pcs is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Sub Pcs. * :</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    style="text-align: right"
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="subpcs"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >To Serial No * :</label
              >
              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    style="text-align: right"
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="toserialno"
                  />
                </mat-form-field>
              </div>
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Location * :</label
              >
              <div class="col-md-3">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="location"
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        locationCodeData,
                        ['location'],
                        false,
                        ['LOCATION_CODE']
                      )
                    "
                  />

                  <master-search
                    *ngIf="flag != 'VIEW'"
                    (focusout)="openTab($event, 'location')"
                    #overlaylocationCode
                    [MasterSearchData]="locationCodeData"
                    class="masterSearch"
                    (newRowClick)="
                      lookupSelect($event, 'location', 'LOCATION_CODE')
                    "
                  ></master-search>

                  <mat-error
                    *ngIf="
                      boxMasterMainForm.controls['location'].hasError(
                        'required'
                      )
                    "
                  >
                    Location is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Stock Code * :</label
              >
              <div class="col-md-2">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="stockcode"
                    (keydown)="
                      onKeyDown($event, ['stockcode', 'stockcodedesc'])
                    "
                    (focusout)="
                      SPvalidateLookupFieldModified(
                        $event,
                        stockCodeData,
                        ['stockcode', 'stockcodedesc'],
                        false,
                        ['STOCK_CODE', 'DESCRIPTION']
                      )
                    "
                  />

                  <master-search
                    *ngIf="flag != 'VIEW'"
                    (focusout)="openTab($event, 'stockcode')"
                    #overlayStockCode
                    [MasterSearchData]="stockCodeData"
                    class="masterSearch"
                    (newRowClick)="
                      lookupSelect(
                        $event,
                        ['stockcode', 'stockcodedesc'],
                        ['STOCK_CODE', 'DESCRIPTION']
                      )
                    "
                  ></master-search>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%" appearance="outline">
                  <input
                    [readonly]="flag === 'VIEW'"
                    type="text"
                    matInput
                    formControlName="stockcodedesc"
                    (keydown)="
                      onKeyDown($event, ['stockcode', 'stockcodedesc'])
                    "
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dx-data-grid
              id="gridContainer"
              [showBorders]="true"
              [dataSource]="itemDetailsData"
              [showColumnLines]="true"
              [showRowLines]="true"
              class="mt-3"
              [paging]="{ pageSize: 5 }"
            >
              <dxo-paging [enabled]="true"></dxo-paging>
              <dxo-pager [showInfo]="true"></dxo-pager>
              <dxo-selection mode="single"></dxo-selection>

              <dxi-column
                *ngFor="let data of columnHeadings"
                [dataField]="data.field"
                [caption]="data.caption"
                [allowEditing]="true"
                alignment="center"
                backgroundcolor="#000"
              >
              </dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
