::ng-deep {
    .cdk-overlay-container {
        position: fixed;
        z-index: 1070 !important;
    }
}

.branchDivisionelectr{
    position: absolute;
    // top: 0px;
    // margin-left: -0.3rem !important;
}

.cancelBTN{
    background-color: #B9C3D3;
    width: 100px;
}

::ng-deep .mat-tooltip.custom-tooltip {
    background-color: #151414;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    // padding: 8px;
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.5;
}

.icon-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75px;
}
  
.label {
    font-size: 14px;
    color: #000;
}