<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Process Transfer(New) Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <!-- modal header component -->
  <modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="processTransferdetailsForm">
        <div class="p-3">
          <div class="row">
            <div class="col-md-6">
              <div class="row align-items-center mb-2">
                <div class="col-sm-2">
                  <!-- ./../../assets/images/barcode-scanner.png -->
                  <img class="image" width="40px" height="40px"
                    src="../../../../../../assets/images/Icons/barcode-scanner.png" />
                </div>
                <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput
                      (focusout)="barcodeNumberValidate($event)"
                      formControlName="barCodeNumber" />
                  </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox"
                      (change)="toggleSwitchChange($event)"
                      id="flexSwitchCheckDefault"
                      formControlName="toggleSwitchtIssue">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{MetalorProcessFlag}}</label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label for="inputPassword" class="col-sm-3 col-form-label"
                  style="font-weight: bold;">
                  Job Number</label>
                <div class="col-sm-3">
                  <mat-form-field style="width: 76%;">
                    <input type="text" matInput
                      (focusout)="jobNumberValidate($event)"
                      formControlName="jobno" />
                  </mat-form-field>
                  <master-search [MasterSearchData]="jobNoSearch"
                    (newRowClick)="jobNumberSelected($event)">
                  </master-search>
                </div>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="jobdes" />
                  </mat-form-field>
                </div>
  
              </div>
              <div class="row mb-2">
                <label for="inputPassword" class="col-sm-3 col-form-label">Sub Job
                  Number</label>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="subjobno" />
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput
                      formControlName="subJobDescription" />
                  </mat-form-field>
                </div>
                <label for="inputPassword" class="col-sm-3 col-form-label">
                  <b>Issue Ref # </b></label>
              </div>
            </div>
            <div class="col-md-4 pt-1" style="border: 1px solid #b0b0b0;">
              <h6>Approval Details</h6>
              <div class="row mb-2">
                <label for="inputPassword" class="col-sm-4 col-form-label">Approved
                  By</label>
                <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="approvedby" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2">
                <label for="inputPassword" class="col-sm-4 col-form-label">Approved
                  Date</label>
                <div class="col-sm-6">
                  <mat-form-field style="width: 100%;">
                    <input type="date" matInput formControlName="approveddate" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab section starts -->
          <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
            <!-- Diamond section starts -->
            <mat-tab label="Diamond Jewellery" *ngIf="designType == 'DIAMOND'">
              <div class="row">
                <div class="p-3">
                  <b>Transfer Details</b>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                  <table>
                    <thead>
                      <tr>
                        <td>
                          <div class="tablerowheading"></div>
                        </td>
                        <th>From</th>
                        <th>To</th>
                      </tr>
                      <tr>
                        <th>Process</th>
                        <td>
                          <div class="d-flex align-items-center">
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                (focusout)="processMasterValidate($event,'FROM')"
                                formControlName="processFrom" />
                            </mat-form-field>
                            <master-search
                              [MasterSearchData]="processMasterSearch"
                              (newRowClick)="processCodeFromSelected($event)">
                            </master-search>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                (focusout)="processMasterValidate($event,'TO')"
                                formControlName="processTo" />
                            </mat-form-field>
                            <master-search
                              [MasterSearchData]="processMasterSearch"
                              (newRowClick)="processCodeToSelected($event)">
                            </master-search>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>Worker</th>
                        <td>
                          <div class="d-flex align-items-center">
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                formControlName="workerFrom" />
                            </mat-form-field>
                            <master-search [MasterSearchData]="workerMasterSearch"
                              (newRowClick)="workerCodeFromSelected($event)">
                            </master-search>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                formControlName="workerTo" />
                            </mat-form-field>
                            <master-search [MasterSearchData]="workerMasterSearch"
                              (newRowClick)="workerCodeToSelected($event)">
                            </master-search>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Metal Pcs</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="MetalPcsFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="MetalPcsTo" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>Metal Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="MetalWeightFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="MetalWeightTo" />
                          </mat-form-field>
                        </td>
                        <th colspan="3" class="text-center">Transfer to</th>
                        <th>Loss Qty</th>
                        <td><b>%</b></td>
                        <th rowspan="2" style="text-align: center;">Balance</th>
                      </tr>
                      <tr>
                        <td>From Job Pcs</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="FromJobPcs" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="ToJobPcs" />
                          </mat-form-field>
                        </td>
                        <th>Stock Code</th>
                        <th>QTY</th>
                        <th>Location</th>
                        <th>Std.Loss</th>
                        <th>
                        </th>
                      </tr>
                      <tr>
                        <th>Gross Weight</th>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="GrossWeightFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="GrossWeightTo" />
                          </mat-form-field>
                        </td>
                        <!-- stockcode -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput
                              (focusout)="stockCodeScrapValidate()"
                              formControlName="stockCode" />
                          </mat-form-field>
                        </td>
                        <!-- quantity -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="number" matInput
                              formControlName="scrapQuantity" />
                          </mat-form-field>
                        </td>
                        <!-- location -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="location" />
                          </mat-form-field>
                        </td>
                        <!-- stdLoss -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="stdLoss" />
                          </mat-form-field>
                        </td>
                        <!-- stdLossper -->
                        <td>
                          <mat-form-field style="width: 50px;">
                            <input type="text" matInput
                              formControlName="stdLossper" />
                          </mat-form-field>
                        </td>
                        <!-- balance wt -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput
                              formControlName="Balance_WT" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>Stone Pcs</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              maxlength="12"
                              formControlName="StonePcsFrom" NumberOnly/>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              maxlength="12"
                              formControlName="StonePcsTo" NumberOnly/>
                          </mat-form-field>
                        </td>
                        <td></td>
                        <td></td>
                        <td>Stone Pcs</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                            StoneDecimalInput
                              formControlName="StoneWeightTo" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>Stone Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                            StoneDecimalInput
                              formControlName="StoneWeighFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                            StoneDecimalInput
                              formControlName="StoneWeightTo" />
                          </mat-form-field>
                        </td>
                        <td></td>
                        <td></td>
                        <td>Stone Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                            StoneDecimalInput
                              formControlName="StoneWeightTo" />
                          </mat-form-field>
                        </td>
                      </tr>
                    </thead>
                  </table><br><br>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12">
                  <div class="row  d-flex justify-content-center">
                    <div class="square-box"></div>
                  </div>
                  <div class="row  d-flex justify-content-center">
                    <mat-form-field style="width: 70%;">
                      <input type="text" matInput formControlName="DESIGN_CODE" />
                    </mat-form-field>
                  </div>
                  <div class="row  d-flex justify-content-center">
                    <mat-form-field style="width: 70%;">
                      <input type="text" matInput formControlName="partCode" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
  
            </mat-tab>
            <!--   section starts -->
            <mat-tab label="Other details" *ngIf="designType == 'DIAMOND'">
              <div class="row">
                <div class="p-3">
                  <b>Transfer Details</b>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                  <table>
                    <thead>
                      <tr>
                        <td>
                          <div class="tablerowheading"></div>
                        </td>
                        <th>From</th>
                        <th>To</th>
                        <th rowspan="2">Transfer to Stock</th>
                        <th>Std Loss</th>
                        <td>
                           <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_quantity" />
                          </mat-form-field> 
                        </td>
                      </tr>
                      <tr>
                        <th>Process</th>
                        <td>
                          <span>
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                (focusout)="processMasterValidate($event,'FROM')"
                                formControlName="METAL_processFrom" />
                            </mat-form-field>
                            <master-search
                              [MasterSearchData]="processMasterSearch"
                              (newRowClick)="metalprocessCodeFromSelected($event)">
                            </master-search>
                          </span>
                        </td>
                        <td>
                          <span>
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                (focusout)="processMasterValidate($event,'TO')"
                                formControlName="METAL_processTo" />
                            </mat-form-field>
                            <master-search
                              [MasterSearchData]="processMasterSearch"
                              (newRowClick)="metalprocessCodeToSelected($event)">
                            </master-search>
                          </span>
                        </td>
                        <td>Act. Loss</td>
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_LossBooked" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- worker row starts-->
                        <th>Worker</th>
                        <td>
                          <span>
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                formControlName="METAL_workerFrom" />
                            </mat-form-field>
                            <master-search [MasterSearchData]="workerMasterSearch"
                              (newRowClick)="metalworkerCodeFromSelected($event)">
                            </master-search>
                          </span>
                        </td>
                        <td>
                          <span>
                            <mat-form-field style="width: 110px;">
                              <input type="text" matInput
                                formControlName="METAL_workerTo" />
                            </mat-form-field>
                            <master-search [MasterSearchData]="workerMasterSearch"
                              (newRowClick)="metalworkerCodeToSelected($event)">
                            </master-search>
                          </span>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ScrapLocCode" />
                          </mat-form-field>
                        </td>
                        <th>Gain</th>
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_GainGrWt" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Stock Code row starts-->
                        <td>Stock Code</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_FromStockCode" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ToStockCode" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ScrapStockCode" />
                          </mat-form-field>
                        </td>
                        <td colspan="2">Balance</td>
                      </tr>
                      <tr><!-- PCS row starts-->
                        <td>PCS</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_FromPCS" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ToPCS" />
                          </mat-form-field>
                        </td>
                        <!-- scrap pcs -->
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ScrapPCS" />
                          </mat-form-field>
                        </td>
                        <td colspan="2">
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_BalPCS" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Gross Weight starts-->
                        <td>Gross Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_GrossWeightFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_GrossWeightTo" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_ScrapGrWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                        <td colspan="2">
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_BalGrWt" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Stone Weight starts-->
                        <th>Stone Weight</th>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              StoneDecimalInput
                              formControlName="METAL_StoneWeightFrom" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              StoneDecimalInput
                              formControlName="METAL_StoneWeightTo" />
                          </mat-form-field>
                        </td>
                        <!-- ScrapStoneWt -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput
                              formControlName="METAL_ScrapStoneWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                        <!-- BalStoneWt -->
                        <td colspan="2">
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_BalStoneWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Iron Weight starts-->
                        <td>Iron Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              formControlName="METAL_FromIronWeight" MetalDecimalInput/>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              formControlName="METAL_ToIronWt" MetalDecimalInput/>
                          </mat-form-field>
                        </td>
                        <!-- ToIronScrapWt -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_ToIronScrapWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                        <!-- BalIronWt -->
                        <td colspan="2">
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_BalIronWt" MetalDecimalInput class="text-right" />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Net Weight starts-->
                        <td>Net Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_FromNetWeight" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="text" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ToNetWt" />
                          </mat-form-field>
                        </td>
                        <!-- METAL_ScrapNetWt -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_ScrapNetWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                        <!-- BalNetWt -->
                        <td colspan="2">
                          <mat-form-field style="width: 100px;">
                            <input type="text" matInput formControlName="METAL_BalNetWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr><!-- Pure Weight starts-->
                        <td>Pure Weight</td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_FromPureWt" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field style="width: 110px;">
                            <input type="number" matInput class="text-right"
                              MetalDecimalInput
                              formControlName="METAL_ToPureWt" />
                          </mat-form-field>
                        </td>
                        <!-- ScrapPureWt -->
                        <td>
                          <mat-form-field style="width: 100px;">
                            <input type="number" matInput formControlName="METAL_ScrapPureWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                        <td colspan="2">
                          <mat-form-field style="width: 100px;">
                            <input type="number" matInput formControlName="METAL_BalPureWt" MetalDecimalInput class="text-right"/>
                          </mat-form-field>
                        </td>
                      </tr>
                    </thead>
                  </table><br><br>
                  <!-- Table metal transfer details Ends -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="row  d-flex justify-content-center">
                    <p>Drag a column header here to group by that column</p>
                  </div>
                  <div class="row  square-box d-flex justify-content-center">
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div class="row">
            <div class="col-md-3">
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">Start Date</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%;">
                    <input type="date" matInput formControlName="startdate" id="startdate"  (change)="onStartDateChange()"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">End Date</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%;">
                    <input type="date" matInput formControlName="enddate" id="enddate" [min]="minEndDate"/>
                  </mat-form-field>
                </div>
                <div *ngIf="processTransferdetailsForm.hasError('dateError')">
                  <p class="error-message">End date cannot be before the start date.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">Std Time</label>
                <div class="col-sm-7">
                  <mat-form-field>
                    <input type="time" matInput formControlName="stdtime" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">Time Taken</label>
                <div class="col-sm-7">
                  <mat-form-field>
                    <input type="time" matInput formControlName="timetaken" />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">Consumed</label>
                <div class="col-sm-7">
                  <mat-form-field>
                    <input type="time" matInput
                      formControlName="consumed" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <label for="input" class="col-sm-4 col-form-label">Variance %</label>
                <div class="col-sm-4">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="variance" class="text-right"  StoneDecimalInput/>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="variance" class="text-right"  StoneDecimalInput/>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row mb-2">
                <label for="input" class="col-sm-4 col-form-label">Tree No</label>
                <div class="col-sm-7">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="treeno" class="text-right" CommaSeparatedNumber />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2 justify-content-end">
                <div class="col-md-7">
                  <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Select All
                    </label>
                    <input class="form-check-input" type="checkbox"
                      name="flexRadioDefault" id="flexRadioDefault1">
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-2 border-top">
            <div class="col-md-12">
              <dx-data-grid #dataGrid id="gridContainer"
                [showBorders]="true" [dataSource]="metalDetailData"
                [columnAutoWidth]="true"
                (onRowUpdated)="formatMetalDetailDataGrid()"
                [showRowLines]="true">
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing mode="cell" [allowUpdating]="true">
                </dxo-editing>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="DIVCODE" caption="Div"
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="STOCK_CODE" caption="Stock Code"
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="COLOR" caption="Color" 
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="CLARITY" caption="Clarity"
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="SIZE" caption="Size" 
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="SHAPE" caption="Shape" 
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="PCS" caption="Pcs" 
                    alignment="left"></dxi-column>
                <dxi-column dataField="PCS" caption="Setted" alignment="center"></dxi-column>
                <dxi-column dataField="GROSS_WT" caption="Weight"
                  alignment="right"></dxi-column>
                <dxi-column dataField="LOSS_QTY" caption="Loss" 
                  [allowEditing]="false" alignment="right"></dxi-column>
                <dxi-column dataField="Div" caption="Gain Wt" 
                  [allowEditing]="false" alignment="right"></dxi-column>
                <dxi-column dataField="Type" caption="Type" 
                  [allowEditing]="false" alignment="right"></dxi-column>
                <dxi-column dataField="Rate" caption="Rate" 
                  [allowEditing]="false" alignment="right"></dxi-column>
                <dxi-column dataField="AMOUNTFC" caption="Amount" 
                  [allowEditing]="false" alignment="right"></dxi-column>
                <dxi-column dataField="SETTED_FLAG" [allowEditing]="false"
                  caption="Setted" alignment="center"
                  cellTemplate="Setted">
                  <div *dxTemplate="let data1 of 'Setted'">
                    <input type="checkbox"
                      [checked]="data1.value" />
                  </div>
                </dxi-column>
                <dxi-column dataField="GEN" caption="Process Type"
                  alignment="left">
                  <dxo-lookup [dataSource]="ProcessTypeList"
                    displayExpr="type"
                    valueExpr="type">
                  </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="SIEVE_SET" caption="Sieve Set"
                  [allowEditing]="false" alignment="left"></dxi-column>
                <dxi-column dataField="GROSS_WT" caption="Issue Gross Wt"
                  alignment="right"></dxi-column>
                <dxi-column dataField="STONE_WT" caption="Issue Stone Wt"
                  alignment="right"></dxi-column>
                <dxi-column dataField="NET_WT" caption="Issue Net Wt"
                  alignment="right"></dxi-column>
                <dxi-column dataField="KARAT_CODE" caption="Karat"
                  alignment="left"></dxi-column>
                <dxi-column dataField="PURITY" caption="Purity" alignment="right"></dxi-column>
                <dxi-column dataField="PUREWT" caption="Gain Pure Wt"
                  alignment="right"></dxi-column>
                <dxi-column dataField="VOCNO" caption="Voucher Number"
                  alignment="left"></dxi-column>
                <dxi-column dataField="VOCTYPE" caption="Voucher Type"
                  alignment="left"></dxi-column>
                <dxi-column dataField="VOCDATE" caption="Voucher Date"
                  alignment="left"></dxi-column>
                <dxi-column dataField="JOB_NUMBER" caption="Job Number"
                  alignment="left"></dxi-column>
                <dxi-column dataField="JOB_SO_NUMBER" caption="Job So Number"
                  alignment="left"></dxi-column>
                <dxi-column dataField="UNQ_JOB_ID" caption="Unq Job ID"
                  alignment="left"></dxi-column>
                <dxi-column dataField="JOB_DESCRIPTION" caption="Job Description"
                  alignment="left"></dxi-column>
                <dxi-column dataField="BRANCH_CODE" caption="BRANCH_CODE"
                  alignment="left"></dxi-column>
                <dxi-column dataField="DESIGN_CODE" caption="DESIGN_CODE"
                  alignment="left"></dxi-column>
                <dxi-column dataField="METALSTONE" caption="METALSTONE"
                  alignment="left"></dxi-column>
                <dxi-column dataField="DIVCODE" caption="DIVCODE" alignment="left"></dxi-column>
                <dxi-column dataField="STOCK_CODE" caption="STOCK_CODE"
                  alignment="left"></dxi-column>
                <dxi-column dataField="STOCK_DESCRIPTION"
                  caption="STOCK_DESCRIPTION"
                  alignment="left"></dxi-column>
                <dxi-column dataField="COLOR" caption="COLOR" alignment="left"></dxi-column>
                <dxi-column dataField="CLARITY" caption="CLARITY" alignment="left"></dxi-column>
                <dxi-column dataField="SHAPE" caption="SHAPE" alignment="left"></dxi-column>
                <dxi-column dataField="SIZE" caption="SIZE" alignment="left"></dxi-column>
                <dxi-column dataField="PCS" caption="PCS" alignment="left"></dxi-column>
                <dxi-column dataField="GROSS_WT" caption="GROSS WT"
                  alignment="right"></dxi-column>
                <dxi-column dataField="Rate" caption="Rate" alignment="right"></dxi-column>
                <dxi-column dataField="Amount" caption="Amount" alignment="right"></dxi-column>
                <dxi-column dataField="PROCESS_CODE" caption="Process Code"
                  alignment="center"></dxi-column>
                <dxi-column dataField="WORKER_CODE" caption="Worker Code"
                  alignment="center"></dxi-column>
                <dxi-column dataField="UNQ_DESIGN_ID" caption="Unq Design Id"
                  alignment="center"></dxi-column>
                <dxi-column dataField="REFMID" caption="RefMID" alignment="center"></dxi-column>
                <dxi-column dataField="AMOUNTLC" caption="Amount LC"
                  alignment="right"></dxi-column>
                <dxi-column dataField="AMOUNTFC" caption="Amount FC"
                  alignment="right"></dxi-column>
                <dxi-column dataField="WASTAGE_QTY" caption="Wastage Qty"
                  alignment="right"></dxi-column>
                <dxi-column dataField="WASTAGE_PER" caption="Wastage Per"
                  alignment="right"></dxi-column>
                <dxi-column dataField="WASTAGE_AMT" caption="Wastage Amt"
                  alignment="right"></dxi-column>
                <dxi-column dataField="CURRENCY_CODE" caption="Currency Code"
                  alignment="right"></dxi-column>
                <dxi-column dataField="CURRENCY_RATE" caption="Currency Rate"
                  alignment="right"></dxi-column>
                <dxi-column dataField="YEARMONTH" caption="YEARMONTH"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LOSS_QTY" caption="LOSS QTY"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LABOUR_CODE" caption="LABOUR CODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LAB_RATE" caption="LAB RATE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LAB_AMT" caption="LAB AMT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN STOCK CODE"
                  caption="BRKSTN_STOCK_CODE" alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN_DIVISION_CODE"
                  caption="BRKSTN_DIVISION_CODE" alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN_WEIGHT" caption="BRKSTN WEIGHT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN_RATEFC" caption="BRKSTN RATEFC"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN_RATELC" caption="BRKSTN RATELC"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BRKSTN_AMTFC" caption="BRKSTN AMTLC"
                  alignment="center"></dxi-column>
                <dxi-column dataField="MAIN_WORKER" caption="MAIN WORKER"
                  alignment="center"></dxi-column>
                <dxi-column dataField="FRM_WORKER" caption="FRM WORKER"
                  alignment="center"></dxi-column>
                <dxi-column dataField="FRM_PROCESS" caption="FRM PROCESS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="CRACCODE" caption="CRACCODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LAB_ACCODE" caption="LAB ACCODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LAB_AMTFC" caption="LAB AMTFC"
                  alignment="center"></dxi-column>
                <dxi-column dataField="TO_PROCESS" caption="TO PROCESS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="TO_WORKER" caption="TO WORKER"
                  alignment="center"></dxi-column>
                <dxi-column dataField="LAB_RATEFC" caption="Lab Rate FC"
                  alignment="right"></dxi-column>
                <dxi-column dataField="RATEFC" caption="Rate FC"
                  alignment="right"></dxi-column>
                <dxi-column dataField="PRINTED" caption="Printed"
                  alignment="center"></dxi-column>
                <dxi-column dataField="PUREWT" caption="PUREWT" alignment="center"></dxi-column>
                <dxi-column dataField="SQLID" caption="ISBROCKEN"
                  alignment="center"></dxi-column>
                <dxi-column dataField="TREE_NO" caption="TREE NO"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SETTED" caption="SETTED" alignment="center"></dxi-column>
                <dxi-column dataField="SIEVE" caption="SIEVE" alignment="center"></dxi-column>
                <dxi-column dataField="FULL_RECOVERY" caption="FULL RECOVERY"
                  alignment="center"></dxi-column>
                <dxi-column dataField="RECOVERY_DATE" caption="RECOVERY DATE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="RECOV_LOSS" caption="RECOV LOSS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="RECOV_LOSS_PURE" caption="RECOV LOSS PURE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="STONE_WT" caption="STONE WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SYSTEM_DATE" caption="SYSTEM DATE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BROKENSTONE_PCS" caption="BROKENSTONE PCS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="BROKENSTONE_WT" caption="BROKENSTONE WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="PUREWTTEMP" caption="PUREWTTEMP"
                  alignment="center"></dxi-column>
                <dxi-column dataField="ISMISSING" caption="ISMISSING"
                  alignment="center"></dxi-column>
                <dxi-column dataField="IS_AUTHORISE" caption="IS AUTHORISE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_STOCK_CODE"
                  caption="SCRAP_STOCK_CODE" alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_SUB_STOCK_CODE"
                  caption="SCRAP_SUB_STOCK_CODE" alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_PURITY" caption="SCRAP_PURITY"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_WT" caption="SCRAP_WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_PURE_WT" caption="SCRAP_PURE_WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_PUDIFF" caption="SCRAP_PUDIFF"
                  alignment="center"></dxi-column>
                <dxi-column dataField="SCRAP_ACCODE" caption="SCRAP_ACCODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="JOB_PCS" caption="JOB_PCS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="TO_STOCK_CODE" caption="TO_STOCK_CODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="FROM_STOCK_CODE" caption="FROM_STOCK_CODE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="FROM_SUB_STOCK_CODE"
                  caption="FROM_SUB_STOCK_CODE" alignment="center"></dxi-column>
                <dxi-column dataField="LOSS_PURE_WT" caption="LOSS_PURE_WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="IRON_SCRAP_WT" caption="IRON_SCRAP_WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="EXCLUDE_TRANSFER_WT"
                  caption="EXCLUDE_TRANSFER_WT" alignment="center"></dxi-column>
                <dxi-column dataField="IRON_WT" caption="IRON_WT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="AUTORIZE_TIME" caption="AUTORIZE_TIME"
                  alignment="center"></dxi-column>
                <dxi-column dataField="IS_REJECT" caption="IS_REJECT"
                  alignment="center"></dxi-column>
                <dxi-column dataField="REASON" caption="REASON" alignment="center"></dxi-column>
                <dxi-column dataField="REJ_REMARKS" caption="REJ_REMARKS"
                  alignment="center"></dxi-column>
                <dxi-column dataField="ATTACHMENT_FILE" caption="ATTACHMENT_FILE"
                  alignment="center"></dxi-column>
                <dxi-column dataField="REPAIR_PROCESS" caption="REPAIR_PROCESS"
                  alignment="center"></dxi-column>
              </dx-data-grid>
              <!--  backgroundcolor="#000" -->
            </div>
            <div class="col-md-4">
              <div class="row my-2">
                <label for="inputPassword" class="col-sm-3 col-form-label">Remarks
                  :</label>
                <div class="col-md-9">
                  <mat-form-field style="width: 100%;">
                    <input type="text" matInput formControlName="remarks" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>