:host ::ng-deep {
  .datepick {
    input {
      border-radius: 10px !important;
      border: 1px solid rgba(178, 178, 178, 0.26) !important;
      background-color: #3599cc !important;
      color: #ffffff !important;
    }
  }
}
::ng-deep {
  .text-red{
    color: red;
  }
  .text-green{
    color: green;
  }
  // #gridContainer {
  //   .dx-datagrid-headers {
  //     td {
  //       color: #fff;
  //       background-color: #105c8b !important;
  //     }
  //   }
  // }
  body[data-layout-mode="dark"] {
    //ng select styles
    .ng-select .ng-select-container {
      border: none !important;
      color: #fff !important;
      background-color: #326c90 !important;
    }
    #gridContainer {
      td,
      .dx-widget,
      .dx-datagrid-total-footer,
      .dx-datagrid-nowrap {
        color: #fff;
        background-color: #03314d;
      }
      .dx-datagrid-headers {
        td {
          color: #fff;
          background-color: #105c8b !important;
        }
      }
      .dx-datagrid-summary-item,
      .dx-datagrid-text-content {
        color: #fff;
      }
    }
  }
}
.innercard {
  font-family: "Mulish";
  font-style: normal;
  padding: 9px;
  background: #3599cc;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  width: 70%;
}
.header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 9px;
}
