<!-- title menu section -->
<app-menubar *ngIf="menuTitle != ''" [menuTitle]="menuTitle"
    (subMenuChange)="menuClicked($event)"></app-menubar>
<!-- content section starts -->
<div class="row d-flex justify-content-between" [ngClass]="{'siteAlignment': isRTL}"
    style="min-height: 100vh !important;">
    <div class="col-md-3 col-sm-12">
        <div class="card p-3">
            <app-favorite-menus (subMenuChange)="menuClicked($event)"></app-favorite-menus>
        </div>
        <div class="card p-3">
            <div class="card_wrap h-100">
                <h5>Defect Analysis</h5>
                <img
                    src="../../assets/images/chats/chat-7.png"
                    alt="chat"
                    width="100%" />
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card p-3">
            <div class="col-md-12">
                <div class="card_wrap">
                    <h5 class="favItems">{{menuTitle}}</h5>
                    <img
                        src="../../assets/images/chats/chat-8.png"
                        alt="detalis"
                        width="100%"
                        height="365px" />
                    <!-- <p-chart type="line" width="200" height="300" [data]="data" [options]="options"></p-chart> -->
                </div>
            </div>
        </div>
        <div class="card p-3">
            <div class="col-md-6">
                <div class="card_wrap">
                    <h5>Avg Working Hours</h5>
                    <img
                        src="../../assets/images/chats/chat-5.png"
                        alt="chat"
                        width="100%"
                        height=" 165px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card p-3">
            <div class="card_wrap">
                <h5>Reminders</h5>
                <h3>32</h3>
            </div>
        </div>
        <div class="card p-3">
            <div class="card_wrap">
                <h5>Overall</h5>
                <img
                    src="../../assets/images/chats/chat-2.png"
                    alt="chat"
                    width="100%" />
            </div>
        </div>
        <div class="card p-3">
            <div class="card_wrap">
                <h5>Quantity Produced</h5>
                <h3>32</h3>
            </div>
        </div>
    </div>
</div>