<!-- title menu section -->
<app-menubar *ngIf="menuTitle != ''" [menuTitle]="menuTitle"
    (subMenuChange)="menuClicked($event)"></app-menubar>
<!-- content section starts -->
 
<div class="row">
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Sales Performance</div>
        <div class="numeric-value">23</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Sales Performance</div>
        <div class="numeric-value">24</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Sales Performance</div>
        <div class="numeric-value">25</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Customer Metrics</div>
        <div class="numeric-value">26</div>
    </div>
  
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Customer Metrics</div>
        <div class="numeric-value">27</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards">
        <div class="menuname p-2">Customer Metrics</div>
        <div class="numeric-value">28</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Inventory Management</div>
        <div class="numeric-value">29</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Inventory Management</div>
        <div class="numeric-value">30</div>
    </div>

    <div class="col-md-2 col-sm-12 menucards">
        <div class="menuname p-2">Inventory Management</div>
        <div class="numeric-value">31</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards">
        <div class="menuname p-2">Inventory Management</div>
        <div class="numeric-value">32</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Profitability</div>
        <div class="numeric-value">33</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Profitability</div>
        <div class="numeric-value">34</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Profitability</div>
        <div class="numeric-value">35</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Profitability</div>
        <div class="numeric-value">36</div>
    </div>

    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Employee Performance</div>
        <div class="numeric-value">37</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Customer Satisfaction</div>
        <div class="numeric-value">38</div>
    </div>
    <div class="col-md-2 col-sm-12 menucards" >
        <div class="menuname p-2">Supplier Performance</div>
        <div class="numeric-value">39</div>
    </div>
</div>

