<app-loader [isLoading]="isLoading"></app-loader>
<div class="main">
    <!-- module list section starts -->
    <div class="landing_page">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-2">
                    <a routerLink="/operationals/validation-splist">
                        <div class="card_btn">
                            <img src="../../assets/images/lp-icons/4.png" loading="lazy"
                                alt="MODULE_NAME" />
                            <h6>Validation SP List</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
