.auth-wrapper-bg {
  height: 100vh !important;
  width: 100vw !important;
  background: url('/assets/images/loginbg.png');
}
.auth-side-form{
  background-color: #fff;
  height: 100vh;
}
.btn-primary {
  background-color: #31689b;
  border-color: #31689b;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

