<div class="auth-wrapper-bg">
    <div class="container">
        <div class="row">
            <!-- left section starts -->
            <div
                class="col-md-7 col-sm-10 d-flex justify-content-center flex-column">
                <h1 class="text-white">SUN FACETS 2.0</h1>
                <span class="description text-white">Presenting
                    efficient ERP software for Jewellery business providing integrated
                    automation solutions catering to the Jewellery Industry.</span>
            </div>
            <!-- right section / form section starts -->
            <div class="col-md-5 auth-side-form p-5">
                <div class="auth-content">
                    <div class="d-flex justify-content-center">
                        <img src="assets/images/logo/logo-suntech.png" w alt
                            class="img-fluid mb-4 d-block">
                    </div>
                        <span style="font-size: 24px;font-weight: 600;"
                            class="mb-4">Sign In</span>


                    <form class="example-form" [formGroup]='dataForm'
                        autocomplete="off">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" value
                                autocomplete="off" formControlName="username"
                                (keyup)="changeTextUpperCase($event)"
                                (focusout)="checkUserName($event)">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input id="password"  type="password" matInput
                                placeholder="Password" autocomplete="off"
                                formControlName="password"
                                (focusout)="checkUserNamePassword($event)">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Branch</mat-label>
                            <input id="branch" type="text" autocomplete="off"
                                matInput
                                formControlName="branch"
                                [matAutocomplete]="branch"
                                (keyup)="changeBranchText($event)"
                                (focusout)="changeBranch($event)">
                            <mat-autocomplete #branch="matAutocomplete"
                                autoActiveFirstOption>
                                <mat-option
                                    *ngFor="let option of  filteredOptions | async"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Year</mat-label>
                            <input id="year"  matInput type="text"
                                autocomplete="off" formControlName="year"
                                (keypress)="isNumeric($event)"
                                [matAutocomplete]="year" (focusout)="validateYear($event)">
                            <mat-autocomplete #year="matAutocomplete"
                                autoActiveFirstOption>
                                <mat-option
                                    *ngFor="let option of  filteredOptions_year | async"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>

                    <button class="btn btn-block btn-primary w-100 mb-0"
                        style="border-radius: 5px !important;"
                        (click)="signin()">Sign In</button>
                    <div class="text-center">
                        <div class="saprator my-4"><span></span></div>
                        <p class="mb-2 text-muted">Forgot password? <a
                                style="font-weight: 600;"
                                [routerLink]="['/auth/reset-password-v2']"
                                class="f-w-400">Reset</a></p>
                        <p class="mb-0 text-muted">Don’t have an account? <a
                                style="font-weight: 600;"
                                [routerLink]="['/auth/signup-v2']"
                                class="f-w-400">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
