.auth-wrapper-bg {
  height: 100vh !important;
  // width: 100vw !important;
  // background: url("/assets/images/loginbg.png");
  font-family: "Poppins";
}

.bg_1 {
  background: url("../../../assets/images/login/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.auth-side-form {
  // background-color: #fff;
  background: url("../../../assets/images/login/bg_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
}

.auth-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.btn-primary {
  background-color: #31689b;
  border-color: #31689b;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .description {
    font-size: 8px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .description {
    font-size: 20px;
  }
}

::ng-deep {

  /* Hide scrollbar */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  // .mat-form-field {
  //   height: 26px !important;
  //   margin-bottom: 7px !important;
  //   font-weight: 600 !important;
  //   font-size: 15px !important;
  // }
  // .mat-form-field {
  //   font-size: inherit !important;
  //   font-weight: 400 !important;
  //   line-height: 1.125 !important;
  //   margin-bottom: 0px !important;
  //   font-family: Roboto, "Helvetica Neue", sans-serif;
  //   letter-spacing: normal;
  // }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    border-radius: 15px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px !important;
    margin: 0px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
  }

  .icon_1 {
    color: #C3CFE2;
  }

}

::ng-deep .mat-form-field {
  .mat-form-field-outline {
    &-end {
      border-radius: 0 15px 15px 0 !important;
    }

    &-start {
      border-radius: 15px 0 0 15px !important;
      flex-grow: 1;
    }
  }

}


.overlay {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%);
  /* center overlay text */
  // display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_1 {
  left: -11px;
  width: 770px;
  height: 200px;
  padding: 0rem;

}

/* Position text in the middle of the page/image */
.text-head {
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 65%;
  border-radius: 15px;
  border: 1px solid var(--white, #FFF);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(5px);
  padding: 20px;
  /* text-align: center;*/

}

.text-body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 381px;
  border-radius: 10px;
  padding: 8px 10px;
  background: linear-gradient(180deg, #1E3C72 0%, #244887 100%);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}



.text-card {
  margin-top: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* width: 431px; */
  max-height: 117px;
  overflow-y: scroll;
  border-radius: 10px;
  background: #fff;
  padding: 8px 12px;
}


.text-card p {
  color: rgba(7, 0, 0, 0.91);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



// /* Caption text */
// .text {
//   color: #f2f2f2;
//   font-size: 15px;
//   padding: 8px 12px;
//   position: absolute;
//   bottom: 8px;
//   width: 100%;
//   text-align: center;
// }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.indicator .dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

.dot.active {
  width: 30px !important;
}

.l_1 {
  padding-left: 10px;
  padding-top: 4px;
}

.form-switch .form-check-input {
  width: 3em;
  height: 20px;
}