<div style="border: 1px solid rgb(210, 210, 210)">
  <!-- header section ADD CUSTOMER -->
  <div
    class="pos-sales-modalheader border-bottom d-flex justify-content-between p-2"
  >
    <h5 class="pos-modaltitle" id="modal-dia-metal">Customer Details</h5>
    <button
      type="button"
      class="btn btn-close close-btn p-2"
      (click)="closeModal()"
    >
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <!-- content section starts -->
  <!-- row p-3 -->

  <div class="row p-3 modal-body">
    <div class="col-md-12">
      <form [formGroup]="customerDetailForm">
        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="fcn_mob_code"
                id="ID135"
              >
                ISD Code <span class="text-danger">&ast;</span>
              </label>
              <div class="col-sm-8">
                <mat-form-field
                  style="width: -webkit-fill-available"
                  appearance="outline"
                >
                  <input
                  (focusout)="SPvalidateLookupField($event,countryCodeData,['fcn_mob_code', 'fcn_cust_detail_country' ],false, ['MobileCountryCode', 'DESCRIPTION'], true)"
                    [readonly]="viewOnly"
                    matInput="text"
                    formControlName="fcn_mob_code"
                  />
                  <master-search
                    [MasterSearchData]="countryCodeData"
                    class="masterSearch"
                    (newRowClick)="countrySelected($event)"
                  ></master-search>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_mob_code.hasError(
                        'required'
                      )
                    "
                    id="fcn_mob_code"
                  >
                    ISD code is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" style="width: 100%">
                  <mat-select
                    (selectionChange)="onCountryCodeSelection($event, false)"
                    formControlName="fcn_mob_code"
                    [disabled]="viewOnly"
                  >
                    <mat-option
                      *ngFor="let data of sortedCountryList"
                      [value]="data.MOBILECOUNTRYCODE"
                    >
                      {{ data.MOBILECOUNTRYCODE }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_mob_code.hasError(
                        'required'
                      )
                    "
                    id="fcn_mob_code"
                  >
                    Country is <strong>required</strong>
                  </mat-error>
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline" style="width: 100%">
                  <mat-select formControlName="fcn_mob_code" [disabled]="viewOnly">
                  </mat-select>
                  <mat-error *ngIf="
                      customerDetailForm.controls.fcn_mob_code.hasError(
                        'required'
                      )
                    " id="fcn_mob_code">
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field> -->
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_country"
                id="ID157"
              >
                Country <span class="text-danger">&ast;</span>
              </label>
              <div class="col-sm-8">
                <mat-form-field
                  style="width: -webkit-fill-available"
                  appearance="outline"
                >
                  <input
                  (focusout)="SPvalidateLookupField($event,countryCodeData,['fcn_cust_detail_country', 'fcn_mob_code'],false, ['DESCRIPTION','MobileCountryCode'], false)"
                    [readonly]="viewOnly"
                    matInput="text"
                    formControlName="fcn_cust_detail_country"
                  />
                  <master-search
                    [MasterSearchData]="countryCodeData"
                    class="masterSearch"
                    (newRowClick)="countrySelected($event)"
                  ></master-search>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_country.hasError(
                        'required'
                      )
                    "
                    id="fcn_mob_code"
                  >
                    Country is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" style="width: 100%">
                  <mat-select
                    (selectionChange)="onCountryCodeSelection($event, true)"
                    formControlName="fcn_cust_detail_country"
                    [disabled]="viewOnly"
                  >
                    <mat-option
                      *ngFor="let data of sortedCountryList"
                      [value]="data.CODE"
                    >
                      {{ data.CODE }}-{{ data.DESCRIPTION }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_country.hasError(
                        'required'
                      )
                    "
                    id="fcn_mob_code"
                  >
                    Country is <strong>required</strong>
                  </mat-error>
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="fcn_cust_detail_country" id="fcn_cust_detail_country"
                    [matAutocomplete]="country" [readonly]="viewOnly" />
                  <mat-autocomplete #country="matAutocomplete" autoActiveFirstOption
                    (optionSelected)="changeCountry($event.option.value)">
                    <mat-option *ngFor="let option of countryMasterOptions | async" [value]="option.CODE">
                      {{ option.CODE + " - " + option.DESCRIPTION }}
                    </mat-option>
                  </mat-autocomplete>
                  <i class="fas fa-chevron-down"
                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                  <mat-error *ngIf="customerDetailForm.controls.fcn_cust_detail_country.hasError('required')"
                    id="ID158">
                    Country is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="customerDetailForm.controls.fcn_cust_detail_country.hasError('notInOptions')"
                    id="ID009">
                    Invalid value
                  </mat-error>
                </mat-form-field> -->
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="fcn_cust_detail_phone"
                id="ID137"
                >Mobile 1 <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    #mobile1
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                    matInput
                    formControlName="fcn_cust_detail_phone"
                    id="fcn_cust_detail_phone"
                    [readonly]="viewOnly"
                    maxlength="20"
                  />
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_phone.hasError(
                        'required'
                      )
                    "
                    id="ID138"
                  >
                    Mobile 1 is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="customer_detail_name"
                id="ID139"
                >Name <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_customer_detail_name"
                    id="fcn_customer_detail_name"
                    (change)="nameChange($event)"
                    [readonly]="viewOnly"
                    appAlphabetsOnly
                    appNoEmptySpace
                  />
                  <!-- <input type="text" matInput [pattern]="noWhiteSpacePattern" formControlName="fcn_customer_detail_name" id="fcn_customer_detail_name"
                        (change)="nameChange($event)" [readonly]="viewOnly" /> -->
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_customer_detail_name.hasError(
                        'required'
                      )
                    "
                    id="ID140"
                  >
                    Name is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_customer_detail_name.hasError(
                        'pattern'
                      )
                    "
                    id="ID015"
                  >
                    Whitespace Not Allowed
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="customer_detail_fname"
                id="ID141"
                >First Name</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_customer_detail_fname"
                    [readonly]="true"
                    appNoEmptySpace
                  />
                  <!-- <mat-error *ngIf="
                      customerDetailForm.controls.fcn_customer_detail_fname.hasError(
                        'required'
                      )
                    " id="ID142">
                    First Name is <strong>required</strong>
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="fcn_cust_detail_Mname"
                id="ID143"
                >Middle Name</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_customer_detail_mname"
                    [readonly]="true"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="customer_detail_lname"
                id="ID144"
                >Last Name</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_customer_detail_lname"
                    [readonly]="true"
                  />
                  <!-- <mat-error *ngIf="
                      customerDetailForm.controls.fcn_customer_detail_lname.hasError(
                        'required'
                      )
                    " id="ID145">
                    Last Name is <strong>required</strong>
                  </mat-error> -->
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_customer_detail_lname.hasError(
                        'maxlength'
                      )
                    "
                    id="ID146"
                  >
                    Last Name must not exceed 100 characters.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_phone2"
                id="ID147"
                >Mobile 2</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                    matInput
                    formControlName="fcn_cust_detail_phone2"
                    [readonly]="viewOnly"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_email"
                id="ID148"
                >Email Address<span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="email"
                    matInput
                    formControlName="fcn_cust_detail_email"
                    [readonly]="viewOnly"
                    required
                  />
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_email
                        .touched &&
                      (customerDetailForm.controls.fcn_cust_detail_email.hasError(
                        'email'
                      ) ||
                        customerDetailForm.controls.fcn_cust_detail_email.hasError(
                          'required'
                        ))
                    "
                  >
                    <ng-container
                      *ngIf="
                        customerDetailForm.controls.fcn_cust_detail_email.hasError(
                          'email'
                        )
                      "
                    >
                      Please enter a valid email address
                    </ng-container>
                    <ng-container
                      *ngIf="
                        customerDetailForm.controls.fcn_cust_detail_email.hasError(
                          'required'
                        )
                      "
                    >
                      Email-ID is <strong>required</strong>
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_gender"
                id="ID150"
                >Gender <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-select
                    formControlName="fcn_cust_detail_gender"
                    [disabled]="viewOnly"
                  >
                    <mat-option
                      *ngFor="let data of genderList"
                      [value]="data.ENGLISH"
                      >{{ data.ENGLISH }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_gender.hasError(
                        'required'
                      )
                    "
                    id="ID151"
                  >
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_marital_status"
                id="ID152"
                >Marital Status</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-select
                    formControlName="fcn_cust_detail_marital_status"
                    [disabled]="viewOnly"
                  >
                    <mat-option
                      *ngFor="let data of maritalStatusList"
                      [value]="data.ENGLISH"
                      >{{ data.ENGLISH }}</mat-option
                    >
                    <!-- <mat-option value="Unknown">Unknown</mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_dob"
                id="ID153"
                >Date Of Birth <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    matInput
                    [matDatepicker]="dob"
                    [max]="vocMaxDate"
                    name="fcn_cust_detail_dob"
                    formControlName="fcn_cust_detail_dob"
                    placeholder="DD/MM/YYYY"
                    [readonly]="viewOnly"
                    DateValidation
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dob"
                  ></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate" #dob></mat-datepicker>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_dob.hasError(
                        'required'
                      )
                    "
                    id="ID154"
                  >
                    Date of Birth is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_nationality"
                id="ID155"
                >Nationality <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field
                  style="width: -webkit-fill-available"
                  appearance="outline"
                >
                  <input
                    [readonly]="viewOnly"
                    matInput="text"
                    formControlName="fcn_cust_detail_nationality"
                    required
                  />
                  <master-search
                    [MasterSearchData]="nationalityCode"
                    class="masterSearch"
                    (newRowClick)="nationalitySelected($event)"
                  ></master-search>

                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_nationality.hasError(
                        'required'
                      )
                    "
                    id="fcn_mob_code"
                  >
                    Nationality is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" style="width: 100%">
                  <input type="text" matInput formControlName="fcn_cust_detail_nationality"
                    id="fcn_cust_detail_nationality" [matAutocomplete]="nationality" [readonly]="viewOnly" />
                  <mat-autocomplete #nationality="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of nationalityMasterOptions | async" [value]="option.CODE">
                      {{ option.CODE + " - " + option.DESCRIPTION }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_nationality.hasError(
                        'required'
                      )
                    " id="ID156">
                    Nationality is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_nationality.hasError(
                        'notInOptions'
                      )
                    " id="ID009">
                    Invalid value
                  </mat-error>
                </mat-form-field> -->
              </div>
            </div>
          </div>
          <!-- 
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-form-label col-sm-4" for="cust_detail_nationality" id="ID155">Nationality <span
                  class="text-danger">&ast;</span></label>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input type="text" matInput formControlName="fcn_cust_detail_nationality"
                    id="fcn_cust_detail_nationality" [matAutocomplete]="nationality" [readonly]="viewOnly" />
                  <mat-autocomplete #nationality="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of nationalityMasterOptions | async" [value]="option.CODE">
                      {{ option.CODE + " - " + option.DESCRIPTION }}
                    </mat-option>
                  </mat-autocomplete>
                  <i class="fas fa-chevron-down"
                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                  <mat-error *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_nationality.hasError(
                        'required'
                      )
                    " id="ID156">
                    Nationality is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_nationality.hasError(
                        'notInOptions'
                      )
                    " id="ID009">
                    Invalid value
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_state"
                id="ID159"
                >State</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_state"
                    id="fcn_cust_detail_state"
                    [matAutocomplete]="state"
                    [readonly]="viewOnly"
                  />
                  <mat-autocomplete
                    #state="matAutocomplete"
                    autoActiveFirstOption
                    (optionSelected)="changeState($event.option.value)"
                  >
                    <mat-option
                      *ngFor="let option of stateMasterOptions | async"
                      [value]="option.CODE"
                    >
                      {{ option.CODE }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_state.hasError(
                        'notInOptions'
                      )
                    "
                    id="ID009"
                  >
                    Invalid value
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_city"
                id="ID160"
                >City</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <!-- <input type="text" matInput formControlName="fcn_cust_detail_city" [readonly]="viewOnly" /> -->
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_city"
                    id="fcn_cust_detail_city"
                    [matAutocomplete]="city"
                    [readonly]="viewOnly"
                  />
                  <mat-autocomplete
                    #city="matAutocomplete"
                    autoActiveFirstOption
                  >
                    <mat-option
                      *ngFor="let option of cityMasterOptions | async"
                      [value]="option.CODE"
                    >
                      {{ option.CODE }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_city.hasError(
                        'notInOptions'
                      )
                    "
                    id="ID009"
                  >
                    Invalid value
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">



          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_idType"
                id="ID163"
                >Address <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_address"
                    [readonly]="viewOnly"
                    appNoEmptySpace
                  />
                  <mat-error
                    id="ID032"
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_address.hasError(
                        'required'
                      )
                    "
                  >
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
       

          <!-- <div class="col-md-4">
            <div class="row">
              <label
                for="inputPassword"
                class="col-sm-4 col-form-label"
                id="ID002"
                >Address</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_address"
                    [readonly]="viewOnly"
                    appNoEmptySpace
                  />
                  <mat-error
                    id="ID032"
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_address.hasError(
                        'required'
                      )
                    "
                  >
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_idType"
                id="ID163"
                >ID Type <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_idType"
                    [matAutocomplete]="custIdType"
                    [readonly]="viewOnly"
                  />
                  <mat-autocomplete
                    #custIdType="matAutocomplete"
                    autoActiveFirstOption
                  >
                    <mat-option
                      *ngFor="let option of idTypeFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                  <i
                    class="fas fa-chevron-down"
                    style="
                      position: absolute;
                      right: 10px;
                      top: 50%;
                      transform: translateY(-50%);
                    "
                  ></i>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_idType.hasError(
                        'required'
                      )
                    "
                    id="ID164"
                  >
                    ID Type is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_idType.hasError(
                        'notInOptions'
                      )
                    "
                    id="ID009"
                  >
                    Invalid value
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_idcard"
                id="ID165"
                >ID Number <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_idcard"
                    [readonly]="viewOnly"
                    appNoEmptySpace
                  />
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_idcard.hasError(
                        'required'
                      )
                    "
                    id="ID166"
                  >
                    ID Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_idcard.hasError(
                        'minlength'
                      )
                    "
                    id="ID167"
                  >
                    <!-- ID Card must be 15 characters long. -->
                    ID Number be at least
                    {{
                      customerDetailForm
                        .get("fcn_cust_detail_idcard")
                        ?.getError("minlength").requiredLength
                    }}
                    characters long.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_idcard.hasError(
                        'maxlength'
                      )
                    "
                    id="ID168"
                  >
                    ID Number must not exceed
                    {{
                      customerDetailForm
                        .get("fcn_cust_detail_idcard")
                        ?.getError("maxlength").requiredLength
                    }}
                    characters.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_designation"
                id="ID169"
                >Designation <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_designation"
                    [readonly]="viewOnly"
                    appNoEmptySpace
                  />
                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_cust_detail_designation.hasError(
                        'required'
                      )
                    "
                    id="ID170"
                  >
                    Designation is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_company"
                id="ID171"
                >Employer</label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    type="text"
                    matInput
                    formControlName="fcn_cust_detail_company"
                    [readonly]="viewOnly"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label
                class="col-form-label col-sm-4"
                for="cust_detail_idcard"
                id="ID172"
                >Expiry Date <span class="text-danger">&ast;</span></label
              >
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input
                    matInput
                    [matDatepicker]="expDateCust"
                    name="fcn_customer_exp_date"
                    formControlName="fcn_customer_exp_date"
                    placeholder="DD/MM/YYYY"
                    [min]="currentDate"
                    [readonly]="viewOnly"
                    DateValidation
                    (dateChange)="datepicker($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expDateCust"
                  ></mat-datepicker-toggle>
                  <mat-datepicker
                    [startAt]="currentDate"
                    #expDateCust
                  ></mat-datepicker>

                  <mat-error
                    *ngIf="
                      customerDetailForm.controls.fcn_customer_exp_date.hasError(
                        'required'
                      )
                    "
                    id="ID173"
                  >
                    Expiry date is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-12" style="padding-bottom: 20px">
      <div style="text-align: right; padding: 10px">
        <button
          mat-flat-button
          color="primary"
          (click)="customerSave()"
          *ngIf="!viewOnly"
          [disabled]="isCustProcessing"
          id="ID043"
        >
          SAVE
        </button>
        <button
          class="ms-1"
          mat-flat-button
          color="warn"
          (click)="closeModal()"
          id="ID044"
        >
          CANCEL
        </button>
        &nbsp;
      </div>
    </div>
  </div>
</div>
