.button-update {
    // background-color: #1E3C72;
    background-color: #295094 !important;
    color: white;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 0 !important
}

.common-button {
    width: 120px; /* Set a fixed width */
    text-align: center; /* Centers text */
  }