.update-finish-button {
    // background-color: #1E3C72;
    background-color: #295094 !important;
    color: white;
    padding: 5px 10px;
    line-height: 1.5;
  }
  
  .cancel-button {
    // background-color: #428cc9;
    background-color: #B9C3D3 !important;
    color: white;
    padding: 5px 10px;
    line-height: 1.5;
  }
  .btn-width {
    width: 120px; /* Set a fixed width */
    text-align: center; /* Centers text */
  }