<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Stone Return Details</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit('SAVE')" (cancelClick)="close()"
  (changeJobClick)="changeJobClicked()"
  (continueClick)="formSubmit('CONTINUE')" [isViewContinue]="true"  [isViewSave]="!viewMode"
  [isViewChangeJob]="true" [isViewDelete]="false"
  [isViewMore]="false"></modal-header>
<div class="container-fluid pt-3">
  <form [formGroup]="stonereturndetailsFrom">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Job Number * :</label>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="jobNumber"
                [readonly]="viewMode" UpperCaseDirective #jobNumberInput
                (keydown)="lookupKeyPress($event,'jobNumber')"
                (focusout)="jobNumberValidate($event)" maxlength="12" />
              <master-search class="masterSearch"
                [MasterSearchData]="JobNoCodeData" *ngIf="!viewMode"
                #overlayjobNumberSearch
                (newRowClick)="JobNumberSelected($event)"></master-search>
            </mat-form-field>
          </div>
          <div class="col-sm-4">

            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="jobDesc"
                UpperCaseDirective readonly maxlength="40" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Sub Job No
            * :</label>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="subjobno"
                maxlength="20" UpperCaseDirective
                (keydown)="lookupKeyPress($event,'subjobno')"
                [readonly]="viewMode"
                (focusout)="validateLookupField($event,subJobNoCodeData,'subjobno')" />
              <master-search class="masterSearch"
                [MasterSearchData]="subJobNoCodeData" #overlaysubjobnoSearch
                (newRowClick)="subJobNoCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="subjobDesc"
                UpperCaseDirective readonly maxlength="40" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Design Code
            :
          </label>
          <div class="col-md-3">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 70%">
                <input type="text" matInput formControlName="designcode"
                  (keydown)="lookupKeyPress($event,'designcode')"
                  maxlength="20" readonly />
                <!-- (focusout)="validateLookupField($event,subJobNoCodeData,'designcode')" -->
              </mat-form-field>
              <!-- <master-search class="masterSearch"  [MasterSearchData]="subJobNoCodeData"
                #overlaydesigncodeSearch
                (newRowClick)="subJobNoCodeSelected($event)"
                *ngIf="!viewMode"></master-search> -->
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Salesorder
            No :
          </label>
          <div class="col-md-3">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 70%">
                <input type="text" matInput formControlName="salesorderno"
                  maxlength="20" readonly class="text-right"
                  NumberOnly />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!-- <div class="upload-btn-wrapper">
          <button class="btn btnnew border-dark"></button>
          <input type="file" name="uploadproduct" class="uploadproduct"
            [readonly]="viewMode" />
        </div> -->
        <div class="square-box">
          <image-slider [imageArray]="imagepath"></image-slider>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Process *
            :</label>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="process"
                (keydown)="lookupKeyPress($event,'process')"
                maxlength="6" [readonly]="viewMode" UpperCaseDirective
                (focusout)="processCodeValidate($event)" />
              <master-search class="masterSearch"
                [MasterSearchData]="processCodeData" #overlayprocessSearch
                (newRowClick)="processCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="processname"
                UpperCaseDirective maxlength="40" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="inputPassword" class="col-sm-3 col-form-label">
            Worker * :</label>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="worker"
                (keydown)="lookupKeyPress($event,'worker')"
                maxlength="6" [readonly]="viewMode" UpperCaseDirective
                (focusout)="WorkerCodeValidate($event)" />
              <master-search class="masterSearch"
                [MasterSearchData]="workerCodeData" #overlayworkerSearch
                (newRowClick)="workerCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>
          </div>
          <div class="col-sm-4">

            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="workername"
                UpperCaseDirective maxlength="40" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="inputPassword" class="col-sm-3 col-form-label">
            Stock * :</label>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="stockCode"
                (keydown)="lookupKeyPress($event,'stockCode')"
                UpperCaseDirective [readonly]="viewMode" maxlength="15"
                (focusout)="stockCodeValidate($event)">
              <master-search class="masterSearch"
                [MasterSearchData]="stockCodeData" #overlaywstockCodeSearch
                (newRowClick)="stockCodeSelected($event)"
                *ngIf="!viewMode"></master-search>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <input type="text" matInput formControlName="stockCodeDes"
                maxlength="40" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Batch ID
            :</label>
          <div class="col-sm-5">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="batchid"
                  maxlength="20" readonly />
              </mat-form-field>
              <!-- <master-search class="masterSearch"  [MasterSearchData]="subJobNoCodeData"
                (newRowClick)="subJobNoCodeSelected($event)"
                *ngIf="!viewMode"></master-search> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row mb-1 ml-1">
            <div class="col-sm-2">
              <input class="form-check-input" type="checkbox" value="missing"
                id="flexCheckMissing"
                [disabled]="viewMode" [checked]="selectedOption === 'broken'"
                (change)="selectOption('broken')">
              <label class="form-check-label" style="margin-left: 10px;"
                for="flexCheckMissing">
                Broken
              </label>
            </div>
            <div class="col-sm-4 offset-sm-1">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="broken"
                  maxlength="20" [readonly]="!selectedOption" />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="brokenDescription"
                  maxlength="40" readonly />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="row mb-1 ml-1">
            <div class="col-sm-2">
              <input class="form-check-input" type="checkbox" value="missing"
                id="flexCheckMissing"
                [disabled]="viewMode" [checked]="selectedOption === 'missing'"
                (change)="selectOption('missing')">
              <label class="form-check-label" style="margin-left: 10px;"
                for="flexCheckMissing">
                Missing
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Location *
            :</label>
          <div class="col-md-7">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="location"
                  [readonly]="viewMode" UpperCaseDirective
                  (keydown)="lookupKeyPress($event,'location')"
                  (focusout)="validateLookupField($event,locationCodeData,'location')" />
                <master-search class="masterSearch"
                  [MasterSearchData]="locationCodeData"
                  (newRowClick)="locationCodeSelected($event)"
                  #overlaylocationSearch *ngIf="!viewMode"></master-search>
              </mat-form-field>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Pieces :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="pieces"
                  maxlength="15" [readonly]="viewMode"
                  class="text-right" NumberOnly
                  (focusout)="calculateCarat($event)" />
              </mat-form-field>
              <!-- <master-search class="masterSearch"  [MasterSearchData]="subJobNoCodeData"
                (newRowClick)="subJobNoCodeSelected($event)"
                *ngIf="!viewMode"></master-search> -->
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Size :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="size"
                  maxlength="12" readonly />
              </mat-form-field>
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Sieve :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="sieve"
                  maxlength="12" readonly />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Carat :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="carat"
                  maxlength="12" readonly
                  class="text-right" (focusout)="calculateAmount($event)"/>
              </mat-form-field>
              <!-- <master-search class="masterSearch"  [MasterSearchData]="subJobNoCodeData"
                (newRowClick)="subJobNoCodeSelected($event)" *ngIf="!viewMode" ></master-search> -->
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Color:
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="color"
                  maxlength="12" readonly />
              </mat-form-field>
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Clarity :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="clarity"
                  maxlength="20" readonly />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Pointer Wt
            :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="pointerwt"
                  maxlength="12" [readonly]="viewMode" FourDecimalInput
                  class="text-right" (focusout)="calculateCarat($event)" />
              </mat-form-field>
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Shape:
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="shape"
                  maxlength="20" readonly />
              </mat-form-field>
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Sieve Set :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="sieveset"
                  maxlength="20" readonly />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputPassword" class="col-sm-2 col-form-label">Unit Rate :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="unitrate"
                  maxlength="12" AmountDecimalInput [readonly]="viewMode"
                  class="text-right" (focusout)="calculateAmount($event)"/>
              </mat-form-field>
            </div>
          </div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Amount :
          </label>
          <div class="col-md-2">
            <div class="position-relative d-flex">
              <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput formControlName="amount"
                  maxlength="12" readonly
                  class="text-right" AmountDecimalInput
                   />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>