.boxed-label {
    padding: 5px;
    background-color: #f1f1f1;
    background: linear-gradient(0deg, #557cb1 42%, #3864b4 82%);
    color: #fff !important;
    border: 1px solid #3864b4;
    text-align: center;
    width: 100%;
}

.boxed-label h6 {
    color: #FFF !important;
    margin-bottom: 0;
}

.your-box-container {
    border: 1px solid #3864b4;
    padding: 10px;
}

::ng-deep {
    .cdk-overlay-container {
        position: fixed;
        z-index: 1070 !important;
}
}

.icons .image_box {
    height: 150px;
    width: 100%;
  }

  .icons {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 2px;
  }

  .icon {
    cursor: pointer;
    margin: 0 10px; 
    color: #333; 
  }
  
  .icon:hover {
    color: #007bff;
}

::ng-deep {
  // form field starts
  .mat-form-field-outline-start {
    border-radius: 0px 0 0 0px !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }

  .mat-form-field-outline-end {
    border-radius: 0 0px 0px 0 !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }
}