.boxed-label {
    padding: 5px;
    background-color: #f1f1f1;
    background: linear-gradient(0deg, #557cb1 42%, #3864b4 82%);
    color: #fff !important;
    border: 1px solid #3864b4;
    text-align: center;
    width: 100%;
}

.boxed-label h6 {
    color: #FFF !important;
    margin-bottom: 0;
}

.your-box-container {
    border: 1px solid #3864b4;
    padding: 10px;
}

::ng-deep {
    .cdk-overlay-container {
        position: fixed;
        z-index: 1070 !important;
}
}