<div>
    <!-- header section starts -->
    <div class="card-content border-bottom d-flex justify-content-between p-2">
        <h5 class="pos-modaltitle" id="modal-dia-metal">Department Master</h5>
        <button type="button" class="btn btn-close close-btn" (click)="close()">
            <i class="feather icon-x close-icon"></i>
        </button>
    </div>
    <!-- modal header component -->
    <modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
        (deleteClick)="deleteDepartmentMaster()"></modal-header>
    <!-- content section -->
    <div class="row p-4 ">
        <div class="col-md-12">
            <form [formGroup]="departmentMasterForm">
                <mat-tab-group>
                    <mat-tab label="General">
                        <div class="row  py-2">
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">
                                        Code :</label>
                                    <div class="col-sm-4">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">
                                        Description :</label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" #codeInput matInput formControlName="Description"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">Country Code
                                        :
                                    </label>
                                    <div class="col-sm-4">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="CountryCode"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="CountryCodeData"
                                                (newRowClick)="CountryCodeDataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" #codeInput matInput formControlName="CountryCodeDes"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <fieldset class="custom-fieldset">
                                            <legend class="custom-legend">Shift
                                            </legend>
                                            <mat-radio-group aria-label="Select an option" formControlName="shift">
                                                <mat-radio-button value="1" id="ID001" class="mx-2">Split
                                                    Shift</mat-radio-button>
                                                <mat-radio-button value="0" id="ID002" class="mx-2">Straight
                                                    Shift</mat-radio-button>
                                            </mat-radio-group>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-3 offset-md-3 col-form-label">
                                        Day</label>
                                    <label for="inputPassword" class="col-sm-3 col-form-label">
                                        Day</label>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-3 col-form-label">
                                        1st Weekly Off</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <mat-select formControlName="PDEPTMST_WEEKOFF1">
                                                <mat-option></mat-option>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <mat-select formControlName="PDEPTMST_HALFDAY1">
                                                <mat-option></mat-option>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-checkbox class="example-margin" formControlName="TYPEWEEKOFF1">Full
                                            Day</mat-checkbox>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-3 col-form-label">
                                        2st Weekly Off</label>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <mat-select formControlName="PDEPTMST_WEEKOFF2">
                                                <mat-option></mat-option>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <mat-select formControlName="PDEPTMST_HALFDAY2">
                                                <mat-option></mat-option>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-checkbox class="example-margin" formControlName="TYPEWEEKOFF2">Full
                                            Day</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="border p-2">
                                    <div class="row">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">One Time
                                            Code
                                            :
                                        </label>
                                        <div class="col-sm-8">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" matInput formControlName="oneTimeCode"
                                                    UpperCaseDirective />
                                                <master-search class="masterSearch" [MasterSearchData]="oneTimeCodeData"
                                                    (newRowClick)="oneTimeCodeDataSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">Leave
                                            Salary Code
                                            :
                                        </label>
                                        <div class="col-sm-8">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" matInput formControlName="leaveSalaryCode"
                                                    UpperCaseDirective />
                                                <master-search class="masterSearch"
                                                    [MasterSearchData]="leaveSalaryCodeData"
                                                    (newRowClick)="leaveSalaryCodeDataSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">Air Ticket
                                            Code
                                            :
                                        </label>
                                        <div class="col-sm-8">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" matInput formControlName="airTicketCode"
                                                    UpperCaseDirective />
                                                <master-search class="masterSearch"
                                                    [MasterSearchData]="airTicketCodeData"
                                                    (newRowClick)="airTicketCodeDataSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="inputPassword" class="col-sm-4 col-form-label">Gratuity
                                            Code
                                            :
                                        </label>
                                        <div class="col-sm-8">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" matInput formControlName="GratuityCode"
                                                    UpperCaseDirective />
                                                <master-search class="masterSearch"
                                                    [MasterSearchData]="GratuityCodeData"
                                                    (newRowClick)="GratuityCodeSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Work Timing">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-1 offset-md-1 col-form-label">
                                        Shift From</label>
                                    <label for="inputPassword" class="col-sm-1 col-form-label">
                                        Shift To </label>
                                    <label for="inputPassword" class="col-sm-1 offset-md-1 col-form-label">
                                        Break 1 From </label>
                                    <label for="inputPassword" class="col-sm-1 col-form-label">
                                        Break 1 To</label>
                                    <label for="inputPassword" class="col-sm-1 offset-md-1  col-form-label">
                                        Break 2 From</label>
                                    <label for="inputPassword" class="col-sm-1 col-form-label">
                                        Break 2 To </label>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-sm-1">
                                        <label for="inputPassword" class="col-form-label">
                                            Shift 1</label>
                                    </div>

                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift1Break1" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1Break1From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1Break1To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift1Break2" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1Break2From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift1Break2To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-sm-1">
                                        <mat-checkbox formControlName="Shift2" class="example-margin me-2">
                                        </mat-checkbox>
                                        <label for="inputPassword" class="col-form-label">
                                            Shift 2</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift2Break1" class="example-margin ">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2Break1From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2Break1To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift2Break2" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2Break2From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift2Break2To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-sm-1">
                                        <mat-checkbox formControlName="Shift3" class="example-margin me-2">
                                        </mat-checkbox>
                                        <label for="inputPassword" class="col-form-label">
                                            Shift 3</label>

                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift3Break1" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3Break1From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3Break1To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="Shift3Break2" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3Break2From"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="Shift3Break2To"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="row">


                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="FinalProcess" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-5">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="FinalProcess" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-5">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-1 text-center ">
                                        <mat-checkbox formControlName="FinalProcess" class="example-margin">
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-5">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="time" #codeInput matInput formControlName="code"
                                                UpperCaseDirective autocomplete="off" />
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Account Integration">
                        <div class="py-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="inputPassword" class="col-sm-6 col-form-label">
                                            Debit Expenses (Basic Salary / Wages) Code:</label>
                                        <div class="col-sm-4">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" #codeInput matInput formControlName="AIDebitExpCode"
                                                    UpperCaseDirective autocomplete="off" />
                                                <master-search class="masterSearch"
                                                    [MasterSearchData]="AIDebitExpCodeData"
                                                    (newRowClick)="AIDebitExpCodeSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                        <label for="inputPassword" class="col-sm-6 col-form-label">
                                            Credit Salary Payable / Accrued Salary Code :</label>
                                        <div class="col-sm-4">
                                            <mat-form-field style="width: 100%" appearance="outline">
                                                <input type="text" #codeInput matInput formControlName="AICreditCode"
                                                    UpperCaseDirective autocomplete="off" />
                                                <master-search class="masterSearch"
                                                    [MasterSearchData]="AICreditCodeData"
                                                    (newRowClick)="AICreditCodeSelected($event)">
                                                </master-search>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="boxed-label">
                                        <h6>Debit Expenses</h6>
                                    </div>
                                    <div class="your-box-container">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Leave Salary :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="DebitExpensesLeaveSal" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="DebitExpensesLeaveSalData"
                                                        (newRowClick)="DebitExpensesLeaveSalDataSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Air Ticket :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="DebitExpensesAirTicket" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="DebitExpensesAirTicketData"
                                                        (newRowClick)="DebitExpensesAirTicketSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Gratuity :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="DebitExpensesGratuity" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="DebitExpensesGratuityData"
                                                        (newRowClick)="DebitExpensesGratuityDataSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="boxed-label">
                                        <h6>Credit Expenses / Provision</h6>
                                    </div>
                                    <div class="your-box-container">
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Leave Salary :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="CreditExpensesLeaveSal" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="CreditExpensesLeaveSalData"
                                                        (newRowClick)="CreditExpensesLeaveSalDataSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Air Ticket :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="CreditExpensesAirTicket" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="CreditExpensesAirTicketData"
                                                        (newRowClick)="CreditExpensesAirTicketSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">
                                                Gratuity :</label>
                                            <div class="col-sm-8">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" #codeInput matInput
                                                        formControlName="CreditExpensesGratuity" UpperCaseDirective
                                                        autocomplete="off" />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="CreditExpensesGratuityData"
                                                        (newRowClick)="CreditExpensesGratuityDataSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="your-box-container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-checkbox formControlName="OtherAmount" class="example-margin">
                                                    Other Amount
                                                </mat-checkbox>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field style="width: 100%" appearance="outline">
                                                    <input type="text" matInput formControlName="OtherAmountValue"
                                                        UpperCaseDirective />
                                                    <master-search class="masterSearch"
                                                        [MasterSearchData]="OtherAmountValueData"
                                                        (newRowClick)="OtherAmountValueSelected($event)">
                                                    </master-search>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Appraisal Master">
                        <dx-data-grid id="gridContainer" [dataSource]="tableData" [showBorders]="true"
                            [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true" class="mt-3"
                            keyExpr="SRNO">
                            <dxo-selection mode="single"></dxo-selection>
                            <dxi-column dataField="SRNO" caption="No" class="tab"> </dxi-column>
                            <dxi-column dataField="DIVISION_CODE" caption="Rating of Employee"></dxi-column>
                        </dx-data-grid>
                    </mat-tab>
                    <mat-tab label="User Defined">
                        <div class="row  py-2">
                            <div class="col-md-4">
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">User Defined 1
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="userDefined1"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined1DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">User Defined 2
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined2"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined2DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">User Defined 3
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined3"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined3DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 4
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined4"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined4DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 5
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined5"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined5DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 6
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined6"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined6DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 7
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined7"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined7DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 8
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined8"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined8DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined 9
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined9"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined9DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        10
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined10"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined10DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        11
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined11"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined11DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        12
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined12"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined12DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        13
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined13"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined13DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        14
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined14"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined14DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">User Defined
                                        15
                                    </label>
                                    <div class="col-sm-8">
                                        <mat-form-field style="width: 100%" appearance="outline">
                                            <input type="text" matInput formControlName="UserDefined15"
                                                UpperCaseDirective />
                                            <master-search class="masterSearch" [MasterSearchData]="UserDefinedData"
                                                (newRowClick)="UserDefined15DataSelected($event)">
                                            </master-search>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>