<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Stone Return </h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="stonereturnFrom">
      <div class="container-fluid pt-3">
        <div class="row mb-2">
          <h6>{{branchCode}} - {{companyName}}</h6>
        </div>
        <div class="row mb-2">
          <div class="col-md-5">
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Voucher * :</label>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="voctype" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="number" matInput formControlName="vocno" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Voucher Date * :</label>
              <div class="col-sm-7">
                <mat-form-field style="width: 100%;">
                  <input matInput [matDatepicker]="vocdate"  formControlName="vocdate"
                  placeholder="DD/MM/YYYY"  DateValidation />
                <mat-datepicker-toggle matSuffix [for]="vocdate"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="currentDate" #vocdate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Entered By :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="enterdBy" />
                </mat-form-field>

              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 140%;">
                  <input type="text" matInput formControlName="enteredByName" />
                </mat-form-field>
              </div>

            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Worker :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="worker" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 140%;">
                  <input type="text" matInput formControlName="workername" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Base Currency :</label>
              <div class="col-sm-4">
                <mat-form-field style="width: 70%;">
                  <input type="text" matInput formControlName="basecurrency" />
                </mat-form-field>
                <master-search   [MasterSearchData]="CurrencyCodeData" (newRowClick)="baseCurrencyCodeSelected($event)"></master-search>
              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="number" matInput formControlName="basecurrencyrate" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Currency * :</label>
              <div class="col-sm-4">
                <mat-form-field style="width: 70%;">
                  <input type="text" matInput formControlName="currency" />
                </mat-form-field>
               <master-search  [MasterSearchData]="CurrencyCodeData" (newRowClick)="currencyCodeSelected($event)"></master-search>
              </div>
              <div class="col-sm-4">
                <mat-form-field style="width: 100%;">
                  <input type="text" matInput formControlName="currencyrate" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-primary metal-issue-add-btn">
                  Pending Jobs
                </button>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="row mb-2">
              <h6>Posted</h6>
            </div>
            <div class="row pt-5">
              <div class="p-2 bd-highlight" style="text-align: end;">
                <button type="button" class="btn btn-primary metal-issue-add-btn">
                  Authorize/Post
                </button>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-12">
              <div class="d-flex justify-content-start text-start">
                <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                [viewImportBtn]="false"
                (addClick)="openaddstonereturndetails()"
                (deleteClick)="deleteTableData()"
                >
            </menu-buttons>
                <div class="col-sm-3">
                  <mat-form-field style="width: 80%;">
                    <input type="text" matInput />
                  </mat-form-field>
                  <master-search>
                  </master-search>
                </div>
              </div>
              <div class="row mt-1 pt-3">
                <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true">
                  <dxo-paging [enabled]="false"></dxo-paging>
                  <dxo-editing mode="cell" [allowUpdating]="true">
                  </dxo-editing>
                  <dxo-selection mode="multiple"></dxo-selection>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>

                  <dxi-column *ngFor="let data of columnhead" dataField="{{ data }}" caption="{{ data }}"
                    [allowEditing]="true" alignment="center" backgroundcolor="#000">
                  </dxi-column>
                </dx-data-grid>
              </div>

            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <label for="input" class="col-sm-2 col-form-label">Remarks : </label>
                  <div class="col-sm-4">
                    <mat-form-field style="width: 100%;">
                      <input type="text" matInput formControlName="remark" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </form>
  </div>
</div>