<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Stone Return </h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
  (deleteClick)="deleteClicked()"
  [isViewDelete]="editMode" [isViewAuditTrail]="true" [isViewSave]="!viewMode"
  [isViewPost]="true" [isViewAttachment]="!viewMode"
  (attachmentClick)="attachmentClicked()"></modal-header>

<!-- component to upload attachment -->
<attachment-upload (uploadSubmit)="uploadSubmited($event)"
  [savedAttachment]="savedAttachments"></attachment-upload>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="stonereturnFrom">
      <div class="container-fluid pt-3">
        <div class="row mb-2">
          <h6>{{branchCode}} - {{companyName}}</h6>
        </div>
        <div class="row mb-2">
          <div class="col-md-5">
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Voucher *
                :</label>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="VOCTYPE"
                    readonly />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="VOCNO"
                    [readonly]="viewMode" class="text-right"
                    (focusout)="ValidatingVocNo()" [readonly]="LOCKVOUCHERNO" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Voucher Date
                :</label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput [matDatepicker]="vocdate"
                    formControlName="VOCDATE" placeholder="DD/MM/YYYY"
                    DateValidation [readonly]="viewMode" [min]="minDate"
                    [max]="maxDate" />
                  <mat-datepicker-toggle matSuffix
                    [for]="vocdate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate" [disabled]="isSaved"
                    #vocdate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Entered By
                :</label>
              <div class="col-md-8">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="enterdBy"
                    (keydown)="lookupKeyPress($event,'enterdBy')"
                    UpperCaseDirective
                    (focusout)="validateLookupField($event,userData,'enterdBy')"
                    [readonly]="viewMode" />
                  <master-search class="masterSearch"
                    [MasterSearchData]="userData" #overlayenterdBySearch
                    (newRowClick)="userDataSelected($event)" *ngIf="!viewMode">
                  </master-search>
                </mat-form-field>

              </div>
              <!-- <div class="col-sm-4">
                 <mat-form-field appearance="outline"  style="width: 140%;">
                  <input type="text" matInput formControlName="enteredByName" [readonly]="viewMode"/>
                </mat-form-field>
              </div> -->

            </div>
            <!-- <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Worker :</label>
              <div class="col-sm-3">
                 <mat-form-field appearance="outline"  style="width: 100%;">
                  <input type="text" matInput formControlName="worker" [readonly]="viewMode"/>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                 <mat-form-field appearance="outline"  style="width: 140%;">
                  <input type="text" matInput formControlName="workername" [readonly]="viewMode"/>
                </mat-form-field>
              </div>
            </div> -->
          </div>
          <div class="col-md-5">
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Base Currency
                :</label>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="basecurrency"
                    (keydown)="lookupKeyPress($event,'basecurrency')"
                    UpperCaseDirective readonly
                    (focusout)="validateLookupField($event,baseCurrencyCodeData,'basecurrency')" />
                  <master-search class="masterSearch"
                    [MasterSearchData]="baseCurrencyCodeData"
                    #overlayBaseCurrencyCode
                    (newRowClick)="baseCurrencyCodeSelected($event)"
                    *ngIf="!viewMode1"></master-search>
                </mat-form-field>

              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="basecurrencyrate"
                    readonly SixDecimalInput
                    class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-3 col-form-label">Currency *
                :</label>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="currency"
                    (keydown)="lookupKeyPress($event,'currency')"
                    (focusout)="validateLookupField($event,CurrencyCodeData,'currency')"
                    UpperCaseDirective [readonly]="viewMode" />
                  <master-search class="masterSearch"
                    [MasterSearchData]="CurrencyCodeData"
                    (newRowClick)="currencyCodeSelected($event)"
                    #overlayCurrencyCode *ngIf="!viewMode"></master-search>
                </mat-form-field>

              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="currencyrate"
                    [readonly]="viewMode" SixDecimalInput
                    class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <div class="p-2 bd-highlight">
                <button type="button"
                  class="btn btn-primary metal-issue-add-btn">
                  Pending Jobs
                </button>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="row mb-2">
              <h6>Posted</h6>
            </div>
            <div class="row pt-5">
              <div class="p-2 bd-highlight" style="text-align: end;">
                <button type="button"
                  class="btn btn-primary metal-issue-add-btn">
                  Authorize/Post
                </button>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-12">
              <div class="d-flex justify-content-start text-start">
                <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                  *ngIf="!viewMode" [viewImportBtn]="false"
                  (addClick)="openStoneReturnDetails()"
                  (deleteClick)="deleteTableData()">
                </menu-buttons>
                <!-- <div class="col-sm-3">
                   <mat-form-field appearance="outline"  style="width: 80%;">
                    <input type="text" matInput />
                  </mat-form-field>
                  <master-search>
                  </master-search>
                </div> -->
              </div>
              <div class="row mt-1 pt-3">
                <dx-data-grid #dataGrid id="gridContainer" [showBorders]="true"
                  [showRowLines]="true"
                  [dataSource]="stoneReturnData"
                  [selectedRowKeys]="selectedKey"
                  (onRowClick)="onRowClickHandler($event)"
                  [allowColumnReordering]="true" [allowColumnResizing]="true"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  [columnAutoWidth]="true">
                  <dxo-paging [enabled]="false"></dxo-paging>
                  <!-- <dxo-editing mode="cell" [allowUpdating]="true">
                  </dxo-editing> -->
                  <dxo-selection mode="multiple"></dxo-selection>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>

                  <dxi-column *ngFor="let data of columnhead"
                    dataField="{{ data.field }}" caption="{{ data.title }}"
                    [format]="data.format" [allowEditing]="true"
                    [alignment]="data.alignment" backgroundcolor="#000">
                  </dxi-column>
                </dx-data-grid>
              </div>

            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <label for="input" class="col-sm-2 col-form-label">Remarks :
                  </label>
                  <div class="col-sm-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <input type="text" matInput formControlName="remark"
                        [readonly]="viewMode"
                        maxlength="40" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #stoneReturnDetailScreen>
  <app-stone-return-details [content]="dataToDetailScreen"
    (saveDetail)="setValuesToHeaderGrid($event)"
    (closeDetail)="closeDetailScreen()"></app-stone-return-details>
</ng-template>