<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Consumable Master </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header  (cancelClick)="close()"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="consumbleForm">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Code :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="code" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="codeCodeData"
                                      (newRowClick)="codeCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Description:</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput  />
                                      </mat-form-field>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Cost Center:</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="costcenter" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="costCenterData"
                                      (newRowClick)="costCenterSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Type :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="type" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="typeCodeData"
                                      (newRowClick)="typeCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Category :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="category" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="categoryCodeData"
                                      (newRowClick)="categoryCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Sub Cat :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="subcategory" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="subcategoryCodeData"
                                      (newRowClick)="subcategoryCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Brand :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="brand" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="brandCodeData"
                                      (newRowClick)="brandCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Color :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;" >
                                        <input type="text" matInput formControlName="color" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="colorData"
                                        (newRowClick)="colorDataSelected($event)">
                                    </master-search>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Size :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="size" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="sizeCodeData"
                                      (newRowClick)="sizeCenterSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Design Code :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput />
                                      </mat-form-field>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Vendor :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="vendor" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="vendorCodeData"
                                      (newRowClick)="vendorCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Country :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="country" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="countryCodeData"
                                      (newRowClick)="countryCodeSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Vendor Ref :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput />
                                      </mat-form-field>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6 pt-3">
                                <mat-checkbox class="example-margin">Allow</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">Weight/Pcs :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput />
                                      </mat-form-field>
                                     
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6 pt-3">
                                <mat-checkbox class="example-margin">Packet</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center mb-1">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">HSN :</label>
                                    <div class="col-md-6">
                                      <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="hsn" />
                                      </mat-form-field>
                                      <master-search [MasterSearchData]="HSNCodeData"
                                      (newRowClick)="HSNCenterSelected($event)">
                                  </master-search>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-6 pt-3">
                                <mat-checkbox class="example-margin">Manufacture</mat-checkbox>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="col-md-7 pt-3">
                        <div class="row ">
                            <div class="col-2 offset-2"><label>Currency</label></div>
                            <div class="col-2"><label>%</label></div>
                            <div class="col-2"><label>Cost(AED)</label></div>
                            <div class="col-2"><label>Cost(AED)</label></div>
                            <div class="col-2"> <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                                Item
                              </button></div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price Scheme:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="pricescheme" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price 1:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="price1" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                          
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price 2:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="price2" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                          
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price 3:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="price3" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                           
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price 4:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="price4" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                          
                        </div>
                        <div class="row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Price 5:</label>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="price5" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                           
                        </div>
                        <div class="row ">
                            <div class="col-4 offset-6">
                                <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                                Comments
                              </button></div>
                            <div class="col-2"> 
                                <button type="button" class="btn btn-outline-primary metal-issue-del-btn">
                                Tag
                              </button></div>
                        </div>
                        <div class="row ">
                            <div class="col-2  offset-6">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                            <div class="col-2 offset-2">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput  />
                                </mat-form-field>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>