<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Melting Issue Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit('SAVE')" (cancelClick)="close()"
    (continueClick)="formSubmit('CONTINUE')" [isViewContinue]="true"
    [isViewDelete]="false" [isViewMore]="false"
    [isViewStock]="true" (stockClick)="stockClicked()"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="meltingIssuedetailsFrom">
            <div class="container-fluid pt-3">
                <div class="row pb-3">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Job Number *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 70%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="jobno"
                                        class="text-left" maxlength="12"
                                        readonly
                                        (keydown)="lookupKeyPress($event,'jobno')"
                                        (focusout)="jobNumberValidate($event)" />
                                </mat-form-field>
                                <master-search
                                    [MasterSearchData]="jobnoCodeData"
                                    #overlayjobNoSearch
                                    *ngIf="!disableSearch"
                                    (newRowClick)="jobnoCodeSelected($event)"></master-search>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="jobdes"
                                        readonly />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Job
                                Purity:</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="jobpurity"
                                        class="text-right" PurityDecimal
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Process *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 70%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="process"
                                        readonly UpperCaseDirective
                                        (keydown)="lookupKeyPress($event,'process')"
                                        (focusout)="validateLookupField($event,ProcessCodeData,'process')" />
                                </mat-form-field>
                                <master-search
                                    [MasterSearchData]="ProcessCodeData"
                                    #overlayprocess
                                    *ngIf="!disableSearch"
                                    (newRowClick)="ProcessCodeSelected($event)"></master-search>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="processdes"
                                        readonly />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Diff
                                GrWt:</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="diffgrwt"
                                        maxlength="10"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Worker *
                                :</label>
                            <div class="col-md-2">
                                <!-- <mat-form-field style="width: 100%;">
                                    <input type="text" matInput formControlName="worker" />
                                </mat-form-field> -->
                                <mat-form-field style="width: 70%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="worker"
                                        readonly UpperCaseDirective
                                        (keydown)="lookupKeyPress($event,'worker')"
                                        (focusout)="validateLookupField($event,WorkerCodeData,'worker')" />
                                </mat-form-field>
                                <master-search
                                    [MasterSearchData]="WorkerCodeData"
                                    #overlayworkercode
                                    *ngIf="!disableSearch"
                                    (newRowClick)="WorkerCodeSelected($event)"></master-search>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="workerdes"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Tree Number
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="treeno"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Wax Weight
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="waxweight" [max]="10"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Location
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 70%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="location"
                                        [readonly]="viewMode" UpperCaseDirective
                                        (keydown)="lookupKeyPress($event,'location')"
                                        (focusout)="validateLookupField($event,locationCodeData,'location')" />
                                </mat-form-field>
                                <master-search
                                    [MasterSearchData]="locationCodeData"
                                    #overlaylocationSearch
                                    *ngIf="!viewMode"
                                    (newRowClick)="locationCodeSelected($event)">
                                </master-search>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Stock Code *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 70%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="DivCode"
                                        UpperCaseDirective
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field
                                    style="width: 100%; margin-left: -37px;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="stockcode"
                                        [readonly]="viewMode" UpperCaseDirective
                                        (keydown)="lookupKeyPress($event,'stockcode')"
                                        (focusout)="stockCodeValidate($event)" />
                                </mat-form-field>
                                <master-search
                                    [MasterSearchData]="stockCodeData"
                                    #overlaystockcodeSearch
                                    *ngIf="!viewMode"
                                    (newRowClick)="StockCodeSelected($event)"></master-search>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="stockdes"
                                        UpperCaseDirective
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">PCS :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="number" matInput
                                        formControlName="pcs"
                                        style="text-align: right;"
                                        class="text-right" NumberOnly
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Main Stock
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="mainstock"
                                        maxlength="20"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Stone Weight
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <!-- write new focusout for this -->
                                    <input type="text" matInput
                                        formControlName="stoneweight"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" [max]="10" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Net Weight
                                :</label>
                            <div class="col-md-2">
                                <!-- write new focusout for this -->
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="netweight" [max]="10"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Gross Weight *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="grossweight" [max]="10"
                                        class="text-right" MetalDecimalInput
                                        (focusout)="grossWeightChange()"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Purity % *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <!-- write new focusout for this -->
                                    <input type="text" matInput
                                        formControlName="topurity" [max]="10"
                                        class="text-right" AmountDecimalInput
                                        readonly />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Pure Weight *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="pureweight" [max]="13"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Purity *
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="purity"
                                        class="text-right" PurityDecimal
                                        [readonly]="viewMode" [max]="10"
                                        (focusout)="pureWeightChange()" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Remarks
                                :</label>
                            <div class="col-md-6">
                                <div class="text-area">
                                    <textarea class="border-bottom" rows="3"
                                        matInput
                                        formControlName="remarks" maxlength="40"
                                        [readonly]="viewMode"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Loss Weight
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="lossweight" [max]="10"
                                        class="text-right" MetalDecimalInput
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2 offset-sm-2 col-form-label">Ticket
                                No :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="ticketno"
                                        class="text-left" maxlength="10"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox" value
                                        id="flexCheckDefault"
                                        [disabled]="viewMode">
                                    <label class="form-check-label"
                                        for="flexCheckDefault">
                                        Avoid Alloy
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">Lot
                                No :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="lotno" maxlength="10"
                                        class="text-left"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2  col-form-label">Bar No
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="barno" maxlength="10"
                                        class="text-left"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-2 col-form-label">T Gold :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="tgold" maxlength="10"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-2  col-form-label">Silver
                                :</label>
                            <div class="col-md-2">
                                <mat-form-field style="width: 100%;"
                                    appearance="outline">
                                    <input type="text" matInput
                                        formControlName="silver" maxlength="20"
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Stock List Modal -->
<div *ngIf="isViewStock" class="modal fade show d-block" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stock List</h5>
                <button type="button" class="close" aria-label="Close"
                    (click)="closeStockPopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dx-data-grid id="gridContainer"
                    [dataSource]="tableDatastocklist" [showBorders]="true"
                    [columnAutoWidth]="true"
                    [showRowLines]="true" [showColumnLines]="true"
                    [allowColumnReordering]="true" class="mt-3">
                    <ng-container>
                        <dxi-column dataField="SRNO" caption="SRNO"
                            alignment="left"> </dxi-column>
                        <dxi-column dataField="STOCK_CODE" caption="STOCK CODE"
                            alignment="left"> </dxi-column>
                        <dxi-column dataField="PURITY" caption="PURITY"
                            alignment="left"> </dxi-column>
                        <dxi-column dataField="GROSS_WT" caption="Gross Weight"
                            alignment="left"> </dxi-column>
                        <dxi-column dataField="PURE_WT" caption="Pure Weight"
                            alignment="left"> </dxi-column>
                        <dxi-column dataField="RCVD_Gross_Weight"
                            caption="Rcvd. Gross Wt." alignment="left">
                        </dxi-column>
                    </ng-container>
                </dx-data-grid>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="closeStockPopup()">Apply</button>
            </div>
        </div>
    </div>
</div>