.price_box{
    background-color: #b1ebed;
    color: #54739f;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    text-decoration: underline;
}

.image_box h4{
    font-size: 14px;
    font-weight: 300;
    background: #eaeaea;
    padding: 5px;
    text-align: center;
    border: 1px solid #495057;
}

.img_box {
    width: 100%;
    height: 165px;
    border: 1px solid #ddd;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #d4d5d6 !important;
    background: transparent;
    // //font-family: sans-serif;
  }
  .form-select{
    border-bottom: 1px solid #d4d5d6 !important;
    background-color: #f5f2ed00;
    //font-family: sans-serif;
  }


.save-button{
    padding: 4px 17px;
}


.mat-radio-button {
  margin: 0px 10px;
}

  .icon-common{
    color: #012C57;
  }
