<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal"> Stone Weight Master
    </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>

<modal-header *ngIf="this.content?.FLAG != 'VIEW'" (cancelClick)="close()" (saveClick)="formSubmit()"
    (deleteClick)="deleteTableData()" [isViewDelete]="editMode" [isViewSave]="!viewMode" [isViewCancel]="!viewMode"
    [isViewMore]="!viewMode"></modal-header>


<div class=" p-4">
    <form [formGroup]="stoneweightmaster" class="p-1">

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">SieveSet <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sieveset"
                                [readonly]="viewOnly" (focusout)="
                                                SPvalidateLookupFieldModified(
                                                  $event,
                                                  sieveSetcodeData,
                                                  ['sieveset'],
                                                  false,
                                                  ['CODE'],
                                                  false
                                                )
                                              " />
                            <master-search *ngIf="this.flag !='VIEW'" [MasterSearchData]="sieveSetcodeData"
                                class="masterSearch" (newRowClick)="sieveSetcodeSelected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Division <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="division" [readonly]="true"
                                (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              divisionCodeData,
                              ['division'],
                              false,
                              ['DIVISION_CODE'],
                              false,
                              true
                            )" />
                            <master-search *ngIf="false" [MasterSearchData]="divisionCodeData" class="masterSearch"
                                (newRowClick)="divisionCodeSelected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Sieve From <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sievefrom"
                                [readonly]="viewOnly"  (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              sieveFromCodeData,
                              ['sievefrom','sievefromdesc'],
                              false,
                              ['CODE','DESCRIPTION'],
                              false
                            )
                          " />
                            <master-search *ngIf="this.flag !='VIEW'" [MasterSearchData]="sieveFromCodeData"
                                class="masterSearch" (newRowClick)="sievecodeselected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Sieve From Desc</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sievefromdesc"
                                [readonly]="viewOnly" />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Size From <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sizefrom"
                                [readonly]="viewOnly || readonly" (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              sizeFromCodeData,
                              ['sizefrom'],
                              false,
                              ['CODE'],
                              false,
                              true
                            )
                          " />
                            <master-search *ngIf="false" [MasterSearchData]="sizeFromCodeData" class="masterSearch"
                                (newRowClick)="sizefromselected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Pcs/Carat</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="pcs" [readonly]="viewOnly"
                                appApplyOnlyNumbers RestrictNegative maxlength="18" />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Pointer Wt</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="pointerwt" FourDecimalInput
                                [readonly]="viewOnly" />

                        </mat-form-field>
                    </div>
                </div>



            </div>

            <div class="col-md-4">



                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Shape</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="shape"
                                [readonly]="viewOnly || readonly" (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              ShapecodeData,
                              ['shape'],
                              false,
                              ['CODE'],
                              false,
                              true
                            )
                          " />
                            <master-search *ngIf="false" [MasterSearchData]="ShapecodeData" class="masterSearch"
                                (newRowClick)="ShapecodeSelected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Sieve To <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sieveto"
                                [readonly]="viewOnly" (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              sieveToCodeData,
                              ['sieveto','sievetodesc'],
                              false,
                              ['CODE','DESCRIPTION'],
                              false
                            )
                          " />
                            <master-search *ngIf="this.flag !='VIEW'" [MasterSearchData]="sieveToCodeData"
                                class="masterSearch" (newRowClick)="sievetoselected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Sieve To Desc</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sievetodesc"
                                [readonly]="viewOnly" />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Size To <span
                            class="text-danger">*</span></label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" matInput formControlName="sizeto"
                                [readonly]="viewOnly || readonly" (focusout)="
                            SPvalidateLookupFieldModified(
                              $event,
                              sizeToCodeData,
                              ['sizeto'],
                              false,
                              ['CODE'],
                              false,
                              true
                            )" />
                            <master-search *ngIf="false" [MasterSearchData]="sizeToCodeData" class="masterSearch"
                                (newRowClick)="sizetoselected($event)"></master-search>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Variance % +/-</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" maxlength="3" matInput formControlName="variance1"
                                [readonly]="viewOnly" AmountDecimalInput appApplyOnlyNumbers />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Variance % +/-</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 90%;" appearance="outline">
                            <input type="text" id="inputPassword" maxlength="3" matInput formControlName="variance2"
                                [readonly]="viewOnly" AmountDecimalInput appApplyOnlyNumbers />

                        </mat-form-field>
                    </div>
                </div>

            </div>


        </div>
    </form>
</div>