.icons {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.icons .image_box {
  height: 150px;
  width: 100%;
}

.icons  .icons_footer{
    border-top: 1px solid #d4d4d4;
    padding: 5px;
}

.icons  .icons_footer i,
.icons  .icons_footer span {
    font-size: 16px;
    margin: 10px 16px;
}

.add-btn {
  font-size: 12px;
  padding: 3px 20px !important;
  border-radius: 5px !important;
}

.del-btn {
  font-size: 12px;
  padding: 2px 10px 2px 10px;
}

::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  // display: inline-block;
  // text-align: center;
  padding-left: 77px;
}

.upload-btn-wrapper 
.btnnew {
  color: white;
  border-radius: 5px;
  font-size: 14px;
  background: #34a4dc;
  border-color: transparent;
  padding: 2px 15px;
  margin-left: 45px;
}

.upload-btn-wrapper 
.uploadproduct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}