<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Metal Return Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit('SAVE')" (cancelClick)="close()"
    (continueClick)="formSubmit('CONTINUE')"
    [isViewSave]="!viewMode" [isViewDelete]="false" [isViewMore]="false"
    [isViewContinue]="!viewMode"></modal-header>
<!-- content section -->
<!-- content section -->
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="metalReturnDetailsForm">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Job Number *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" id="jobNumberCode"
                                        matInput UpperCaseDirective
                                        formControlName="jobNumber"
                                        (focusout)="jobNumberValidate($event)"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'jobNumber')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="jobnoCodeData"
                                        #overlayjobNumberSearch
                                        (newRowClick)="jobnoCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%">
                                    <input type="text" matInput name="jobDes"
                                        formControlName="jobDes" readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Sub Job No
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput readonly
                                        formControlName="subJobNo"
                                        (focusout)="subJobNumberValidate($event)"
                                        (keydown)="lookupKeyPress($event,'subJobNo')">
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="subJobNoCodeData"
                                        #overlaysubjobnoSearch
                                        (newRowClick)="subJobNoCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>

                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="subJobNoDes"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Process Code *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        UpperCaseDirective
                                        formControlName="processCode"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'processCode')"
                                        (focusout)="processCodeValidate($event)" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="ProcessCodeData"
                                        #overlayprocessCodeSearch
                                        (newRowClick)="ProcessCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="processCodeDesc"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Worker Code *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        UpperCaseDirective
                                        formControlName="workerCode"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'workerCode')"
                                        (focusout)="WorkerCodeValidate($event)">
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="WorkerCodeData"
                                        #overlayworkerCodeSearch
                                        (newRowClick)="WorkerCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="workerCodeDesc"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-4 col-form-label">Design Code
                                :</label>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="designCode" readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-4 col-form-label">Part Code
                                :</label>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="PART_CODE" readonly />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Tree Number
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="treeNumber"
                                        [readonly]="viewMode"
                                        maxlength="20" />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Location *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 70%;">
                                    <input type="text" matInput
                                        UpperCaseDirective
                                        formControlName="location"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'location')"
                                        (focusout)="validateLookupField($event,locationCodeData,'location')">
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="locationCodeData"
                                        #overlaylocationSearch
                                        (newRowClick)="locationCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row">
                            <label for="i/ṇnputPassword"
                                class="col-sm-3 col-form-label">Stock Code *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 70%;">
                                    <input type="text" matInput
                                        UpperCaseDirective
                                        formControlName="stockCode"
                                        (focusout)="stockCodeValidate($event)"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'stockCode')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="stockCodeData"
                                        #overlaystockCodeSearch
                                        (newRowClick)="stockCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="stockCodeDesc"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Return To *
                                :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        UpperCaseDirective
                                        formControlName="ReturnToStockCode"
                                        [readonly]="viewMode"
                                        (keydown)="lookupKeyPress($event,'ReturnToStockCode')"
                                        (focusout)="validateLookupField($event,returnToCodeData,'ReturnToStockCode')" />
                                    <master-search class="masterSearch"
                                        [MasterSearchData]="returnToCodeData"
                                        #overlayReturnToStockCodeSearch
                                        (newRowClick)="ReturnTostockCodeSelected($event)"
                                        *ngIf="!viewMode"></master-search>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput UpperCaseDirective
                                        formControlName="ReturnToStockCodeDesc"
                                        readonly />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Pcs :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" matInput
                                        formControlName="pcs" class="text-right"
                                        maxlength="10"
                                        [readonly]="viewMode" NumberOnly />
                                </mat-form-field>
                            </div>
                            <label for="inputPassword"
                                class="col-sm-3 col-form-label">Purity :</label>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline"
                                    style="width: 100%;">
                                    <input type="text" class="text-right"
                                        matInput formControlName="PURITY"
                                        PurityDecimal
                                        [readonly]="viewMode" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <div>
                                    <label style="width: 40%;"
                                        for="col-form-label">Gross Weight
                                        :</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 50%;">
                                        <input type="text" matInput
                                            formControlName="GROSS_WT"
                                            class="text-right"
                                            (focusout)="grossValidate()"
                                            [readonly]="viewMode"
                                            MetalDecimalInput
                                            [max]="13" />
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <label style="width: 40%;"
                                        for="col-form-label">Net Weight
                                        :</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 50%;">
                                        <input type="text" matInput readonly
                                            formControlName="NET_WT"
                                            class="text-right"
                                            [max]="13" MetalDecimalInput />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <div>
                                    <label style="width: 40%;"
                                        for="col-form-label">Stone weight
                                        :</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 50%;">
                                        <input type="text" matInput
                                            formControlName="STONE_WT"
                                            style="text-align: right;"
                                            (focusout)="stoneValidate()"
                                            readonly
                                            StoneDecimalInput [max]="13" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <label style="width: 40%;"
                                        for="col-form-label">Pure Weight
                                        :</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 50%;">
                                        <input type="text" matInput
                                            formControlName="PURE_WT"
                                            style="text-align: right;"
                                            [readonly]="viewMode"
                                            MetalDecimalInput [max]="13" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <label style="width: 40%;"
                                        for="col-form-label">Job Pcs
                                        :</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 50%;">
                                        <input type="text" matInput
                                            formControlName="JOB_PCS"
                                            class="text-right"
                                            readonly NumberOnly />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label style="width: 30%;"
                                        for="col-form-label">
                                        Remarks:</label>
                                    <mat-form-field appearance="outline"
                                        style="width: 70%;">
                                        <input type="text" matInput
                                            formControlName="remarks"
                                            [readonly]="viewMode"
                                            maxlength="40" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>