/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .salescards {
      width: 100%;
      margin-top: 6px;
    }
    .slips {
      width: 100%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .salescards {
      width: 20%;
    }
    .slips {
      width: 30%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .salescards {
      width: 20%;
    }
    .slips {
      width: 30%;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .salescards {
      width: 13%;
    }
    .slips {
      width: 18%;
    }
  }
  
  ::ng-deep {
    body[data-layout-mode="dark"] {
      //ng select styles
      .ng-select .ng-select-container {
        border: none !important;
        color: #fff !important;
        background-color: #326c90 !important;
      }
      #gridContainer {
        td,
        .dx-widget,
        .dx-datagrid-total-footer,
        .dx-datagrid-nowrap {
          color: #fff;
          background-color: #03314d;
        }
        .dx-datagrid-headers {
          td {
            color: #fff;
            background-color: #105c8b !important;
          }
        }
        .dx-datagrid-summary-item,
        .dx-datagrid-text-content {
          color: #fff;
        }
      }
    }
  }
  
  .headingcontent {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: capitalize;
  }
  
  .graphcontent {
    width: 100%;
    height: 28%;
    display: flex;
  }
  .graphtopcontent {
    font-family: "Mulish", sans-serif;
    .graphheader {
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.4px;
      padding: 3px;
    }
  }
  
  .slips {
    font-family: "Mulish";
    font-style: normal;
    font-size: 12px;
    color: #6a707c;
    .graphheader {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #3599cc;
    }
    .card-num {
      font-weight: 700;
      font-size: 32px;
      line-height: 45px;
      letter-spacing: 0.2px;
      // color: #00a561;
    }
    .inner-num {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #336699;
    }
  }
  .graphiconfilter{
    margin: 6px 5px 0px 0px;
    max-width: 300px;
    div{
        max-width: 45px;
        max-height: 23px;
        padding: 2px;
        border-radius: 5px;
        background-color:#B2B2B2;
        margin-left: 3px;
        color: #fff;
    }
  }
  .graphviewbtn {
    font-family: "Mulish", sans-serif !important;
    border: 1.2px solid #3599cc !important;
    color: #3599cc;
    padding: 1px 1px 1px 1px !important;
    text-transform: capitalize;
    font-size: 9px;
    font-weight: 600;
    min-width: 82px;
    height: 20px;
    margin-left: 5px;
  }
  .graphviewbtn:hover {
    color: #fff;
    background-color: #3599cc;
  }
  .chartSelected {
    width: 90%;
    height: 70%;
  }