.card-content {
  font-family: Poppins;
  padding: 10px;
}

.col-form-label {
  font-family: Poppins;
  font-size: 14px;
}

.numericInput {
  text-align: right;
}

.mat-flat-button {
  background: linear-gradient(#1e3c72, #2a5298) !important;
  color: #ffffff;
}
//styles common


.searchIcon:hover {
  cursor: pointer;
}

.excelbtn:hover {
  cursor: pointer;
}

::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }
  .mat-form-field{
    padding: 0px !important;
    font-weight: 600 !important;
  }
  .mat-form-field {
    .mat-form-field-outline {
      &-end {
        border-radius: 0 25px 25px 0 !important;
      }

      &-start {
        border-radius: 25px 0 0 25px !important;
        flex-grow: 1;
      }
    }

  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    border-radius: 15px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px !important;
    margin: 0px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px;
    height: 39px;
  }
}
.mat-input-element {
  font-size: 14px !important;
}