.card-content {
  font-family: Poppins;
  padding: 10px;
}
.col-form-label {
  font-family: Poppins;
  font-size: 14px;
}
.numericInput{
  text-align: right;
}

 /* Hide the up and down arrows */
 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   appearance: none;
   margin: 0;
 }

 /* Firefox */
 input[type="number"] {
   -moz-appearance: textfield;
 }