// .main{
//   min-height: 68vh !important;
//   width: 100%;
//   overflow-y: hidden;
// }

.con_1 {
  max-width: 1392px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 10px);
  padding-left: var(--bs-gutter-x, 131px);
  margin-right: auto;
  margin-left: auto;
}

.h_1 {
  color: var(--light-black, #5B5B5B);
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.landing_page {
  min-height: 68vh !important;
  padding: 20px 0px;

  .card_btn {
    cursor: pointer;
    // border: 1px solid #3599cc;
    border-radius: 10px;
    text-align: center;
    /* padding: 10px; */
    padding: 15px 10px 5px 10px;
    width: 75%;
    height: 100% !important;

    img {
      width: 43px;
      height: 40px;
    }

    h6 {
      font-size: 13px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      margin: 10px 0px;
      color: var(--light-black, #5B5B5B);
    }

  }
}

.m_1 {
  margin-left: 50px;
}
.image{
  transition: background-color 0.5s;
}
.image_hover {
  display: none;
  position: absolute;
  top: 4px;
  left: 28px;
  z-index: 88;
  transition: .3s;
}

.card_item {
  width: 161px;
  height: 155px;
  border: 1px solid #cccaca;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  // margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 15px;
  background: #FFF;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.card_item_link {
  display: block;
  padding: 30px 30px;
  background-color: #ffffff;

  overflow: hidden;

  position: relative;
}

.card_item_link:hover,
.card_item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;

  .card-item_title .h_1 {
    color: #FFF;
  }

  .card-item_title .image_hover {
    display: inline;
    // transition: 3ms ease;
    // transition-delay:13s;
    transition: all 0.8s ease 0s; 
  }

}

.card_item_link:hover .card_item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);

}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.card_item_bg {
  height: 64px;
  width: 63px;
  background-color: #274d90;
  z-index: 1;
  position: absolute;
  top: -21px;
  left: 120px;
  ;
  bottom: -68px;
  right: 127px;
  border-radius: 50%;
  transition: all 0.10s ease;
}

.card-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}



@media only screen and (max-width: 979px) {
  .card_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .card_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .card_item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.bt_1 {
  padding-top: 60px;
}

.btn-lg {
  border: #e9e6e5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav {
  position: relative;
  float: right;
  right: 20px;
  text-align: right;
  font-family: sans-serif;
  font-size: 25px;
}

.ul_1 {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 75px;
  padding-top: 30px;
  margin-bottom: 25px;
}

.ul_1:after {
  content: "";
  display: block;
  clear: both;
}

.imge {
  height: 59px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.imges {
  display: none;
  height: 27px;
  position: absolute;
  right: 11px;
  top: 10px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 33%, white 33%);
}


.ul_1 li {
  background: #fff;
  padding: 0px;
  width: auto;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
  float: right;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 500ms;
  transition-property: margin-left;

}

.ul_1 li #bt_1 {
  position: relative;
  display: block;
  min-width: 49px;
  padding: 7px;
  padding-left: 31px;
  padding-top: 6px;
  padding-bottom: 5px;
  height: 49px;
}

.ul_1 span {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  visibility: none;
  width: auto;
  max-width: 0px;
  /* This is the fixed unit value */
  opacity: 0;
  text-align: center;
  transition: all 1s;
  box-sizing: border-box;
  padding-right: 0px;
  text-decoration: none;
  color: black;
}

.text_1 {
  font-size: 18px;
  padding-top: 3px;
  padding-right: 118px;
}

.text_2 {
  font-size: 18px;
  padding-top: 3px;
  padding-right: 87px;
}

.text_3 {
  padding-right: 100px;
  font-size: 18px;
  padding-top: 3px;
}

.text_4 {
  padding-right: 158px;
  font-size: 18px;
  padding-top: 3px;
}

.text_5 {
  font-size: 18px;
  padding-top: 3px;
  padding-right: 55px;
}

li:hover {
  cursor: pointer;
  transform: translateX(0px);

  .imges {
    display: inline;
  }
}

li:hover span {
  margin-right: 0px;
  opacity: 1;
  width: auto;
  max-width: 500px;
  padding-right: 39px;
  /* padding-bottom: 10px; */
  text-align: center;
}

#offcanvasRight {
  width: 271px;
  height: 706px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 6px 2px rgba(1, 44, 87, 0.25);
  padding-top: 30p;
  top: 101px;
  right: 114px;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #d3cece;
  width: 265px;
  height: 72px;

}

.bt_2 {
  border: none;
  background-color: white;

}

.img_3 {
  width: 35px;
  height: 35px;
}

.p_1 {
  padding-top: 19px;
  padding-left: 10px;
  color: #040404;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.P_2 {
  color: var(--light-black, #5B5B5B);
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 8px;
}

.img_1 {
  width: 15px;
  height: 15px;
}

.img_2 {
  width: 11px;
  height: 15px;
}

.pt_1 {
  padding-left: 10px;
}

.P_3 {
  color: var(--light-black, #5B5B5B);
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 8px;
  margin-left: 16px;
}

.pl-1{
  margin-left: 7px;
}

.im_1 {
  width: 62px;
  height: 49px;
}

.im_3 {
  display: none;
  width: 9px;
  height: 16px;
}

.im_4 {
  display: none;
  width: 7px;
  height: 17px;
}





.div_hover {
  background-color: #FFFFFF;
  width: 500px;
  border-radius: 7px;
}

.div_hover_1 {
  background-color: #FFFFFF;
  padding-left: 0px;
  width: 300px;
  border-radius: 30px;
}

.div_hover:hover {
  background-color: #f1efef;
}

.div_hover_1:hover {
  background-color: #f1efef;
  .i_2 {
    display: block;
  }
  .imge_5{
    display: block;
  }
}

.imge_5 {
  display: none;
  width: 10px;
  height: 22px;
  padding-top: 5px;
  margin-top: 11px;
}
.text_6 {
  color: var(--light-black, #5B5B5B);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 13px;
  padding-left: 25px;
}

.text_7{
  margin-left: 9px;
  padding-right: 74px;
  color: var(--light-black, #5B5B5B);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
  padding-left: 21px;
}


.list_2{
  background-color: white;
}

.i_2{
  display: none;
  padding-top: 18px;
  color: black;
  font-size: 12px;
  /* padding-left: 103px; */
  margin-left: 30px;
}


