<app-loader [isLoading]="isLoading"></app-loader>
<div class="main">
    <!-- module list section starts -->
    <div class="landing_page">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-2" *ngFor="let data of menuList; let i = index">
                    <!-- Assuming you want to navigate to the route /target-route with query parameters -->
                    <!-- <a [routerLink]="['/module-container']" [queryParams]="{ modulename :data.MODULE_NAME, id: i }"> -->
                    <a routerLink="/{{ data.ANG_CMB_PATH_NAME || 'module-container' }}"
                        [queryParams]="{ modulename: data.MODULE_NAME, id: i }">
                        <div class="card_btn">
                            <img [src]="data.imageUrl" loading="lazy"
                                alt="{{ data.MODULE_NAME }}" />
                            <h6>{{ data.MODULE_NAME }}</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
