<app-loader [isLoading]="isLoading"></app-loader>
<!-- module list section starts -->
<div class="landing_page">
    <div class="container con_1 px-5 py-5">
        <div class="col-lg-12">
            <div class="d-flex">
                <div class="col-md-11 pl_1">
                    <div class="row m_1 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                        <div class="col my-2" *ngFor="let data of menuList; let i = index">
                            <!-- Assuming you want to navigate to the route /target-route with query parameters -->
                            <!-- <a [routerLink]="['/module-container']" [queryParams]="{ modulename :data.MODULE_NAME, id: i }"> -->
                            <a class="w-100" routerLink="/{{ data.ANG_CMB_PATH_NAME || 'module-container' }}"
                                [queryParams]="{ modulename: data.MODULE_NAME, id: i }">
                                <div class="card_btn">
                                    <div class="card_item">
                                        <div hre="#" class="card_item_link">
                                            <div class="card_item_bg"></div>
                                            <div class="card-item_title">
                                                <img class="image" [src]="data.imageUrl" loading="lazy"
                                                    alt="{{ data.MODULE_NAME }}" />
                                                <img class="image_hover" [src]="data.imageUrl_2" loading="lazy"
                                                    alt="{{ data.MODULE_NAME }}" />
                                                <h6 class="pt-3 h_1">{{ data.MODULE_NAME }}</h6>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 pl_2">
                    <div class="row offset-8">
                        <nav class="offset-2">
                            <ul class="ul_1">
                                <li>
                                    <button class="btn" type="button" id="bt_1" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                        <span>
                                            <div class="text_1">Favourites</div>
                                        </span>
                                        <img src="../../assets/images/lp-icons/Frame_7_2.png" class="imge">
                                        <img src="../../assets/images/lp-icons/fi_28938112.png" class="imges">
                                    </button>
                                </li>
                            </ul>

                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                aria-labelledby="offcanvasRightLabel">
                                <div>
                                    <header class="offcanvas-header">
                                        <p class="p_1">Favourite Lists</p>
                                        <button type="button" class="text-reset bt_2" data-bs-dismiss="offcanvas"
                                            aria-label="Close"><img src="../../assets/images/lp-icons/f1_14034278.png"
                                                class="img_3"></button>
                                    </header>

                                </div>
                                <div class="offcanvas-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p class="P_2">Recent</p>
                                            </div>

                                            <div class="col-md-2">
                                                <div class=""><img src="../../assets/images/lp-icons/Vector_3.png"
                                                        class="img_1"></div>
                                            </div>

                                            <div class="col-md-2 pl-1">
                                                <p class="P_2">Move</p>
                                            </div>

                                            <div class="col-md-1">
                                                <div class=""><img src="../../assets/images/lp-icons/Vector_4.png"
                                                        class="img_1"></div>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="P_3">Delete</p>
                                            </div>

                                            <div class="col-md-1">
                                                <div class=""><img src="../../assets/images/lp-icons/Vector_5.png"
                                                        class="img_2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#" class="d-flex div_hover">
                                                   <div class="col-md-9 d-flex">
                                                    <img src="../../assets/images/lp-icons/Group_402.png"
                                                        class="im_1" />
                                                    <p class="text_6">Add New</p>
                                                </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12  pt-1">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#" class="d-flex div_hover_1">
                                                    <div class="list_text d-flex">
                                                     <div class="list_2"><img src="../../assets/images/lp-icons/eignt_dot.png" class="imge_5"></div>
                                                     <div class="div_1"><img src="../../assets/images/lp-icons/Group_402_1.png" class="im_1"></div>
                                                     <div><p class="text_7">Fav 1</p></div>
                                                     <i class="fas fa-ellipsis-v i_2"></i>
                                                    </div>
                                                 </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 pt-1">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#" class="d-flex div_hover_1">
                                                    <div class="list_text d-flex">
                                                     <div class="list_2"><img src="../../assets/images/lp-icons/eignt_dot.png" class="imge_5"></div>
                                                     <div><img src="../../assets/images/lp-icons/Group_402_1.png" class="im_1"></div>
                                                     <div><p class="text_7">Fav 2</p></div>
                                                     <i class="fas fa-ellipsis-v i_2"></i>
                                                    </div>
                                                 </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12  pt-1">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#" class="d-flex div_hover_1">
                                                   <div class="list_text d-flex">
                                                    <div class="list_2"><img src="../../assets/images/lp-icons/eignt_dot.png" class="imge_5"></div>
                                                    <div><img src="../../assets/images/lp-icons/Group_402_1.png" class="im_1"></div>
                                                    <div><p class="text_7">Fav 3</p></div>
                                                    <i class="fas fa-ellipsis-v i_2"></i>
                                                   </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <ul class="ul_1">
                                <li>
                                    <button type="button" id="bt_1" class="btn dropdown-toggle"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span>
                                            <div class="text_2">Management</div>
                                        </span>
                                        <img src="../../assets/images/lp-icons/Frame_6_1.png" class="imge">
                                        <img src="../../assets/images/lp-icons/management.png" class="imges">
                                    </button>
                                </li>
                            </ul>
                            <ul class="ul_1">
                                <li>
                                    <button type="button" id="bt_1" class="btn dropdown-toggle"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span>
                                            <div class="text_3">Operational</div>
                                        </span>
                                        <img src="../../assets/images/lp-icons/Frame_10_1.png" class="imge">
                                        <img src="../../assets/images/lp-icons/Operational.png" class="imges">
                                    </button>
                                </li>
                            </ul>
                            <ul class="ul_1">
                                <li>
                                    <button type="button" id="bt_1" class="btn dropdown-toggle"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span>
                                            <div class="text_4">Sales</div>
                                        </span>
                                        <img src="../../assets/images/lp-icons/Frame-12_1.png" class="imge">
                                        <img src="../../assets/images/lp-icons/sales.png" class="imges">
                                    </button>
                                </li>
                            </ul>
                            <ul class="ul_1">
                                <li>
                                    <button type="button" id="bt_1" class="btn dropdown-toggle"
                                        data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <span>
                                            <div class="text_5">Knowledge Base</div>
                                        </span>
                                        <img src="../../assets/images/lp-icons/support_1.png" class="imge">
                                        <img src="../../assets/images/lp-icons/fi_9913803_1.png" class="imges">
                                    </button>
                                </li>
                            </ul>
                        </nav>





                    </div>
                </div>

            </div>
        </div>


    </div>
</div>