<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Design History</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()"></modal-header>
<!-- content section -->
<div class="container-fluid">
    <form [formGroup]="designTransactionForm">
        <div class="row mb-2">
            <label for="inputPassword" id="ID001" class="col-sm-2 col-form-label">Number of Records to Display</label>
            <div class="col-md-4">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <input type="text" matInput formControlName="numberOfRecordsToDisplay" [readonly]="viewMode"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true" width="100%">
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-editing mode="cell" [allowUpdating]="true">
                    </dxo-editing>
                    <dxo-selection mode="multiple"></dxo-selection>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>

                    <dxi-column *ngFor="let data of columnhead" dataField="{{ data }}" caption="{{ data }}"
                        [allowEditing]="true" alignment="center" [width]="100" backgroundcolor="#000">
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row mb-2">
                    <label for="inputPassword" id="ID002" class="col-sm-4 col-form-label">Pcs Produced d</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="numberOfRecordsToDisplay" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="row m-2 border">
                    <label for="inputPassword" id="ID003" class="col-sm-12 col-form-label">Frist Tranction Details</label>
                    <label for="inputPassword" id="ID004" class="col-sm-4 col-form-label">Production On</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="fristTranctionProductionOn" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID005" class="col-sm-4 col-form-label">Production No</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="fristTranctionProductionNo" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID006" class="col-sm-4 col-form-label">Customer</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="fristTranctionCustomer" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID007" class="col-sm-4 col-form-label">Cost</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="fristTranctionCost" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID008" class="col-sm-4 col-form-label">Stock ID</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="fristTranctionStockId" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row m-2 border">
                    <label for="inputPassword" id="ID009" class="col-sm-12 col-form-label">Last Tranction Details</label>
                    <label for="inputPassword" id="ID004" class="col-sm-4 col-form-label">Production On</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="lastTranctionProductionOn" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID005" class="col-sm-4 col-form-label">Production No</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="lastTranctionProductionNo" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID006" class="col-sm-4 col-form-label">Customer</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="lastTranctionCustomer" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID007" class="col-sm-4 col-form-label">Cost</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="lastTranctionCost" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                    <label for="inputPassword" id="ID008" class="col-sm-4 col-form-label">Stock ID</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <input type="number" matInput formControlName="lastTranctionStockId" [readonly]="viewMode"/>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>