<div>
  <!-- header section starts -->
  <div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Labour Charge Master</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <!-- modal header component -->
  <modal-header (saveClick)="formSubmit()" (cancelClick)="close()" (deleteClick)="deleteMeltingType()"></modal-header>
  <!-- content section -->
  <div class="row">
    <!-- <div class="container-fluid pt-3"> -->
    <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 1 : 0">
      <mat-tab label="Diamond Labour Master">
        <div class="container-fluid">
          <!-- <div class="card metal-sales-card">
            <div class="card-body sales-card-body p-2"> -->
          <form [formGroup]="diamondlabourMasterForm">
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Division * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput maxlength="6" [readonly]="viewMode" formControlName="divisions" />
                </mat-form-field>
                <master-search [MasterSearchData]="diaDivisionCodeData" (newRowClick)="divisionCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Labour Code * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput id="code" maxlength="15" [readonly]="editMode || viewMode"
                    formControlName="labour_code" oninput="this.value = this.value.toUpperCase()" />
                </mat-form-field>
              </div>
              <div class="col-sm-5">
                <mat-form-field>
                  <input type="text" matInput maxlength="75" [readonly]="viewMode" formControlName="labour_description"
                    #description (input)="description.value = description.value.toUpperCase()" />
                </mat-form-field>
              </div>
            </div>



            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Labour Type * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="labourType">
                    <mat-option *ngFor="let option of DialabourTypeList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Unit * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="unitList">
                    <mat-option *ngFor="let option of unitList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Method * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="method">
                    <mat-option *ngFor="let option of methodList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Currency * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" formControlName="currency" />
                </mat-form-field>
                <master-search [MasterSearchData]="currencyCodeData" (newRowClick)="currencyCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Shape * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="shape" />
                </mat-form-field>
                <master-search [MasterSearchData]="shapeCodeData" (newRowClick)="shapeCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>

              <label for="input" class="col-sm-2 col-form-label">Process * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="process" />
                </mat-form-field>
                <master-search [MasterSearchData]="processCodeData" (newRowClick)="processCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Size From * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="size_from" />
                </mat-form-field>
                <master-search [MasterSearchData]="sizeFromCodeData" (newRowClick)="sizeFromCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Labour A/C * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="labour_ac" />
                </mat-form-field>
                <master-search [MasterSearchData]="labouracCodeData" (newRowClick)="labouracSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Size To * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="size_to" />
                </mat-form-field>
                <master-search [MasterSearchData]="sizeToCodeData" (newRowClick)="sizeToCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Cost Rate * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" [readonly]="viewMode"  matInput NumberOnly CommaSeparatedNumber
                     style="text-align: right;"
                    formControlName="cost_rate" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Sieve * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="sieve" />
                </mat-form-field>
                <master-search [MasterSearchData]="sieveCodeData" (newRowClick)="sieveSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Selling Rate * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" [readonly]="viewMode" CommaSeparatedNumber matInput                  
                    (keypress)="salesChangesDia('selling_rate')" style="text-align: right;"
                    formControlName="selling_rate" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Sieve Desc :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" formControlName="sieve_desc" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Selling % *:</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" AmountDecimalInput
                     style="text-align: right;" formControlName="selling" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Ct Wt From :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" matInput 
                    style="text-align: right;"  MetalDecimalInput
                    formControlName="ctWtFrom" />
                </mat-form-field>
              </div>

              <label for="input" class="col-sm-2 col-form-label">Setting Type :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="settingType">
                    <mat-option *ngFor="let option of settingTypeList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Ct Wt to :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="text" matInput [readonly]="viewMode" matInput 
                    (change)="onCtweighttto($event)"  MetalDecimalInput
                    style="text-align: right;" formControlName="ctWtTo" />
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-checkbox class="example-margin" [disabled]="viewMode"
                  formControlName="accessories">Accessories</mat-checkbox>
              </div>
            </div>
          </form>
          <!-- </div>
          </div> -->
        </div>
      </mat-tab>

      <mat-tab label="Metal Labour Master">
        <div class="container-fluid">
          <!-- <div class="card metal-sales-card">
            <div class="card-body sales-card-body p-2"> -->
          <form [formGroup]="metallabourMasterForm">
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Division * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="metalDivision">
                </mat-form-field>
                <master-search [MasterSearchData]="metalDivisionCodeData"
                  (newRowClick)="metaldivisionCodeSelected($event)" *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Stock Code :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" formControlName="stock_code" />
                </mat-form-field>
                <master-search [MasterSearchData]="stockCodeData" (newRowClick)="stockCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Labour Code * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput #codeInput maxlength="15" [readonly]="editMode || viewMode"
                    formControlName="metallabour_code" oninput="this.value = this.value.toUpperCase()" />
                </mat-form-field>
              </div>
              <div class="col-sm-5">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput maxlength="75" [readonly]="viewMode"
                    formControlName="metallabour_description" #description1
                    (input)="description1.value = description1.value.toUpperCase()" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Labour Type * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="metallabourType">
                    <mat-option *ngFor="let option of labourTypeList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Currency * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="metalcurrency" />
                </mat-form-field>
                <master-search [MasterSearchData]="currencyCodeData" (newRowClick)="metalcurrencyCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Karat * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="karat" />
                </mat-form-field>
                <master-search [MasterSearchData]="karatCodeData" (newRowClick)="karatCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Labour A/C * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input matInput type="text" [readonly]="viewMode" formControlName="labourAc" />
                </mat-form-field>
                <master-search [MasterSearchData]="labouracCodeData" (newRowClick)="labourAcSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Color :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="color" />
                </mat-form-field>
                <master-search [MasterSearchData]="colorData" (newRowClick)="colorDataSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Cost Rate * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input matInput type="text" [readonly]="viewMode" NumberOnly AmountDecimalInput matInput
                    CommaSeparatedNumber formControlName="metalcost_rate" class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Type :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="typecode" />
                </mat-form-field>
                <master-search [MasterSearchData]="typeCodeData" (newRowClick)="typeCodeSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Selling Rate * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input matInput type="text" [readonly]="viewMode" SixDecimalInput  matInput
                    formControlName="metalselling_rate" (keypress)="salesChangesMetal('metalselling_rate')"
                    style="text-align: right;" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Category * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="category" />
                </mat-form-field>
                <master-search [MasterSearchData]="categoryCodeData" (newRowClick)="categorySelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Selling % * :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" AmountDecimalInput formControlName="metalSelling"
                    style="text-align: right;" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Sub Category :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="subCategory" />
                </mat-form-field>
                <master-search [MasterSearchData]="subcategoryCodeData" (newRowClick)="subcategorySelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Wastage % :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input matInput type="number" [readonly]="viewMode" formControlName="wastage"
                    style="text-align: right;" AmountDecimalInput />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Brand :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input type="text" matInput [readonly]="viewMode" maxlength="6" formControlName="brand" />
                </mat-form-field>
                <master-search [MasterSearchData]="brandCodeData" (newRowClick)="brandSelected($event)"
                  *ngIf=" viewDisable == false"></master-search>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Unit * :</label>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="metalunitList">
                    <mat-option *ngFor="let option of unitList" [disabled]="viewMode" [value]="option.value">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Purity :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 90%">
                  <input matInput type="text" [readonly]="viewMode" formControlName="purity" style="text-align: right;"
                    SixDecimalInput>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Wt From :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" [readonly]="viewMode" matInput formControlName="wtFrom" MetalDecimalInput
                    style="text-align: right;" (keyup)="onweightto($event,'wtfrom')" />
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <label for="input" class="col-sm-2 col-form-label">Wt To :</label>
              <div class="col-sm-3">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" [readonly]="viewMode" matInput (change)="onweightto($event,'wtto')"
                    formControlName="wtTo" MetalDecimalInput style="text-align: right;" />
                </mat-form-field>
              </div>
              <div class="col-sm-3 mb-2">
                <mat-checkbox class="example-margin mx-2" [disabled]="viewMode" formControlName="onGrossWt"> On Gross
                  Wt</mat-checkbox>
                <mat-checkbox class="example-margin mx-2" [disabled]="viewMode" formControlName="forDesignOnly"
                  (change)="onforDesignOnlyChange($event)">For Design Only</mat-checkbox>
                <!-- <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1"  formControlName="onGrossWt" class="mx-2"> On Gross Wt</mat-radio-button>
                      <mat-radio-button value="2"  formControlName="forDesignOnly" class="mx-2">For Design Only</mat-radio-button>
                    </mat-radio-group> -->
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>