<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Casting Tree Up </h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"
  (deleteClick)="deleteRecord()" [isViewAttachment]="!viewMode" (attachmentClick)="attachmentClicked()"></modal-header>
  <!-- component to upload attachment -->
<attachment-upload (uploadSubmit)="uploadSubmited($event)" [savedAttachment]="savedAttachments"></attachment-upload>
<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="castingTreeUpFrom">
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="row md-4">
              <label for="inputPassword" class="col-md-4 col-form-label" id="ID001">Voucher Type:</label>
              <div class="col-md-4">
                <mat-form-field style="width: 110%;" appearance="outline">
                  <input type="text" matInput formControlName="vocType"
                    readonly />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field style="width: 110%;" appearance="outline">
                  <input type="text" matInput formControlName="vocNo"
                    style="text-align: right;" readonly />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-3 pt-3">
            <div class="d-flex justify-content-center">
              <!-- <h6>Transfer</h6> -->
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end text-end">
              <div class="p-2 bd-highlight">
                <button type="button" id="ID002"
                  class="btn btn-primary metal-issue-add-btn bgColourUpdate">
                  Refresh Data
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="row md-4">
              <label for="inputPassword" class="col-sm-4 col-form-label" id="ID003">Voc Date * : </label>
              <div class="col-md-6">
                <!-- <mat-form-field style="width: 100%;">
                  <input type="date" matInput formControlName="vocDate" />
                </mat-form-field> -->
                <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
                  <input matInput DateValidation
                    (dateChange)="formatDate($event)" [matDatepicker]="dob"
                    formControlName="vocDate" placeholder="DD/MM/YYYY"
                    readonly />
                  <mat-datepicker-toggle matSuffix
                    [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob [disabled]="isSaved"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword"
                class="col-sm-4 col-form-label pt-1" id="ID004">Process: </label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline"
                  style="width: -webkit-fill-available;">
                  <input type="text" matInput formControlName="processCode"
                    [readonly]="viewMode"  (keydown)="lookupKeyPress($event,'processCode')"  
                    (focusout)="validateLookupField($event,processCodeData,'processCode')"/>
                  <master-search  class="masterSearch"  [MasterSearchData]="processCodeData"  #overlayProcesscode
                      (newRowClick)="processCodeSelected($event)" *ngIf="!viewMode" class="masterSearch">
                    </master-search>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword"
                class="col-sm-4 col-form-label pt-1" id="ID005">Cylinder: </label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline"
                  style="width: -webkit-fill-available;">
                  <input type="text" matInput formControlName="cylinder"
                    [readonly]="viewMode" (keydown)="lookupKeyPress($event,'cylinder')"   
                    (focusout)="validateLookupField($event,cylinderCodeData,'cylinder')"/>
                  <master-search  class="masterSearch"  [MasterSearchData]="cylinderCodeData" #overlaycylinder
                      *ngIf="!viewMode" class="masterSearch"
                      (newRowClick)="cylinderCodeSelected($event)">
                    </master-search>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword"
                class="col-sm-4 col-form-label pt-1" id="ID006">Tree:</label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline"
                  style="width: 100%;">
                  <input type="number" matInput formControlName="tree"
                    style="text-align: right;" [readonly]="viewMode"
                    (focusout)="calculateTreeMode($event)" ThreeDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword" class="col-sm-5 col-form-label pt-1" id="ID007">Stone Wt * :</label>
              <div class="col-sm-7">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <input type="text" matInput formControlName="stoneWt"
                    style="text-align: right;" [readonly]="viewMode"
                    StoneDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-2">
            <label for="inputPassword" class="col-sm-5 col-form-label"><b>To</b></label>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-4 col-form-label" id="ID008">Tree No: </label>
              <div class="col-sm-6">
                <mat-form-field appearance="outline"
                  style="width: -webkit-fill-available;">
                  <input type="text" matInput formControlName="treeNo"
                    [readonly]="viewMode" NumberOnly />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword" class="col-sm-4 col-form-label pt-1" id="ID009">Worker:</label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline"
                  style="width: -webkit-fill-available;">
                  <input type="text" matInput formControlName="worker"
                    [readonly]="viewMode" (keydown)="lookupKeyPress($event,'worker')"  
                    (focusout)="validateLookupField($event,WorkerCodeData,'worker')"/>
                  <master-search  class="masterSearch"  [MasterSearchData]="WorkerCodeData" #overlayworker
                      (newRowClick)="WorkerCodeSelected($event)" *ngIf="!viewMode" class="masterSearch">
                    </master-search>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row mb-1">
              <label for="inputPassword"
                class="col-sm-4 col-form-label pt-1" id="ID010">Conv.Fact:</label>
              <div class="col-sm-7">
                <mat-form-field appearance="outline"
                  style="width: -webkit-fill-available;">
                  <input type="text" matInput formControlName="convFact"
                    style="text-align: right;" [readonly]="viewMode"
                    (focusout)="calculateReqMetal($event)" SixDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-4 col-form-label pt-1" id="ID011">Wax Wt * : </label>
              <div class="col-sm-7">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="waxWt"
                    style="text-align: right;" [readonly]="viewMode"
                    (focusout)="calculateWaxMetal($event)" MetalDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-5 col-form-label pt-0" id="ID012">Req Metal:</label>
              <div class="col-sm-7">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="reqMetal"
                    [readonly]="viewMode" class="text-right"
                    MetalDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-2">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-5 col-form-label">Process: </label>
              <div class="col-sm-7">
                <mat-form-field style="width: 92%; margin-left:-33px; margin-top: -6px;">
                  <input type="text" matInput formControlName="toProcess" [readonly]="viewMode"/>
                </mat-form-field>
              <master-search  class="masterSearch"  [MasterSearchData]="processCodeData" (newRowClick)="processCodeSelected($event)" *ngIf="!viewMode">
                </master-search>
              </div>
            </div>
          </div> -->
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-4 col-form-label" id="ID013">Entered By:</label>
              <div class="col-sm-6">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="enteredBy"
                    [readonly]="viewMode" (keydown)="lookupKeyPress($event,'enteredBy')" 
                    (focusout)="validateLookupField($event,salesmanCodeData,'enteredBy')"/>
                  <master-search  class="masterSearch"  [MasterSearchData]="salesmanCodeData" #overlayenteredBy
                      *ngIf="!viewMode" class="masterSearch"
                      (newRowClick)="salesmanCodeSelected($event)">
                    </master-search>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-4">
              <label for="inputPassword"
                class="col-sm-4 col-form- pt-1" id="ID014">Karat:</label>
              <div class="col-sm-7">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="karatCode"
                    [readonly]="viewMode" (keydown)="lookupKeyPress($event,'karatCode')" 
                    (focusout)="validateLookupField($event,karatCodeData,'karatCode')">
                  <master-search  class="masterSearch"  [MasterSearchData]="karatCodeData" #overlaykaratCode
                      *ngIf="!viewMode" class="masterSearch"
                      (newRowClick)="karatCodeSelected($event)">
                    </master-search>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="row md-4">

              <div class="col-sm-7">

              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-left: 0px">
            <div class="row mb-2">
              <label for="inputPassword"
                class="col-sm-4 col-form-label pt-0" id="ID015">Base:</label>
              <div class="col-sm-7">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="base"
                    [readonly]="viewMode" class="text-right" MetalDecimalInput
                    (focusout)="calcualteBaseMode($event)" />
                </mat-form-field>
              </div>
            </div>
          </div>
          
          <div class="col-md-2" style="padding-left: 0px">
            <div class="row md-3">
              <label for="inputPassword" class="col-sm-5 col-form-label pt-0" id="ID016">Rec Metal *:</label>
              <div class="col-sm-7">
                <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
                  <input type="text" matInput formControlName="recMetal"
                    [readonly]="viewMode" class="text-right"
                    MetalDecimalInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-2">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-5 col-form-label">Worker: </label>
              <div class="col-sm-7">
                <mat-form-field style="width: 92%; margin-left:-33px; margin-top: -6px;">
                  <input type="text" matInput formControlName="toWorker" [readonly]="viewMode"/>
                </mat-form-field>
              <master-search  class="masterSearch"  [MasterSearchData]="WorkerCodeData" (newRowClick)="WorkerCodeSelected($event)" *ngIf="!viewMode">
                </master-search>
              </div>
            </div>
          </div> -->
        </div>

        <div class="row mb-3">
          <div class="col-2 offset-sm-3" style="padding-left:0px">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-5 col-form-label" id="ID017">Color :</label>
              <div class="col-sm-7">
                <mat-form-field style="width:96%; margin-left:-22px; margin-top: -3px;" appearance="outline">
                  <input type="text" matInput formControlName="color"
                    [readonly]="viewMode" (keydown)="lookupKeyPress($event,'color')" 
                    (focusout)="validateLookupField($event,colorData,'color')"/>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-1 mx-4">
            <div class="row mb-1">
              <label for="inputPassword" class="col-sm-5 col-form-label mx-5" id="ID018">From</label>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-start text-left">
              <menu-buttons [viewAddBtn]="true" [viewDeleteBtn]="true"
                *ngIf="!viewMode"
                [viewImportBtn]="false"
                (addClick)="selectedTabIndex == 0 ? adddata():adddatas();"
                (deleteClick)="selectedTabIndex == 0 ? removedata():removedatas()">
              </menu-buttons>

            </div>
          </div>
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
          <mat-tab label="Job Details" id="get">
            <div class="row mt-2">
              <div class="col-md-12">
                <dx-data-grid id="gridContainer" [dataSource]="tableData"
                  [showBorders]="true"
                  [showColumnLines]="true" [showRowLines]="true" class="mt-3"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true">
                  <dxo-editing mode="cell" [allowUpdating]="!viewMode">
                  </dxo-editing>
                  <dxo-selection mode="multiple"></dxo-selection>

                  <dxi-column dataField="SRNO" caption="SNo" class="tab">
                  </dxi-column>
                  <dxi-column dataField="Job_Code" caption="Job Code">
                  </dxi-column>
                  <dxi-column dataField="Unique_job_ID" caption="Unique job ID"
                    [allowEditing]="false"> </dxi-column>
                  <dxi-column dataField="Design_Code" caption="Design Code">
                  </dxi-column>
                  <dxi-column dataField="Gross_Weight" caption="Gross Weight">
                  </dxi-column>
                  <dxi-column dataField="Metal_Weight" caption="Metal Weight">
                  </dxi-column>
                  <dxi-column dataField="Stone_Weight" caption="Stone Weight">
                  </dxi-column>
                  <dxi-column dataField="RCVD_Gross_Weight"
                    caption="RCVD Gross Weight"> </dxi-column>
                  <dxi-column dataField="Karat_Code" caption="Karat Code">
                  </dxi-column>
                  <dxi-column dataField="Purity" caption="Purity"> </dxi-column>
                  <dxi-column dataField="Pure_Weight" caption="Pure Weight">
                  </dxi-column>
                  <dxi-column dataField="Metal_Color" caption="Metal Color">
                  </dxi-column>
                  <dxi-column dataField="RCVD_Pure_Weight"
                    caption="RCVD Pure Weight"> </dxi-column>
                  <dxi-column dataField="Stock_Code" caption="Stock Code">
                  </dxi-column>
                  <dxi-column dataField="Pieces" caption="Pieces"> </dxi-column>
                  <dxi-column dataField="Job_Pcs" caption="Job Pcs">
                  </dxi-column>
                  <dxi-column dataField="Loss_Wt" caption="Loss Wt">
                  </dxi-column>
                  <dxi-column dataField="Loss_Pure" caption="Loss Pure">
                  </dxi-column>

                  <dxo-summary>
                    <dxi-total-item column="Gross_Weight" [alignment]="'right'"
                      displayFormat="{0}" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="Metal_Weight" [alignment]="'right'"
                      displayFormat="{0}" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="Stone_Weight" [alignment]="'right'"
                      displayFormat="{0}" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="RCVD_Gross_Weight"
                      [alignment]="'right'" displayFormat="{0}"
                      summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="Pure_Weight" [alignment]="'right'"
                      displayFormat="{0}" summaryType="sum">
                    </dxi-total-item>
                  </dxo-summary>

                </dx-data-grid>

              </div>
            </div>
          </mat-tab>

          <mat-tab label="Metal Issue Details">
            <div class="row mt-2">
              <div class="col-md-12">
                <dx-data-grid id="gridContainer" [dataSource]="tableData1"
                  [showBorders]="true"
                  [showColumnLines]="true" [showRowLines]="true"
                  [allowColumnResizing]="true" class="mt-3">
                  <dxo-editing mode="cell" [allowUpdating]="true">
                  </dxo-editing>
                  <!-- <dxo-editing [allowUpdating]="true"></dxo-editing> -->
                  <dxo-selection mode="multiple"></dxo-selection>

                  <dxi-column dataField="SRNO" caption="SNo" class="tab">
                  </dxi-column>
                  <dxi-column dataField="Type" caption="Type"> </dxi-column>
                  <dxi-column dataField="Location_Code" caption="Location Code">
                  </dxi-column>
                  <dxi-column dataField="Stock_Code" caption="Stock Code">
                  </dxi-column>
                  <dxi-column dataField="Sub_Stock_Code"
                    caption="Sub Stock Code"> </dxi-column>
                  <dxi-column dataField="Divcode" caption="Divcode">
                  </dxi-column>
                  <dxi-column dataField="Gross_Weight" caption="Gross Weight">
                  </dxi-column>
                  <dxi-column dataField="Party" caption="Party"> </dxi-column>
                  <dxi-column dataField="Pure_Weiht" caption="Pure Weiht">
                  </dxi-column>
                  <dxi-column dataField="Balance" caption="Balance">
                  </dxi-column>
                  <dxi-column dataField="Pcs" caption="Pcs"> </dxi-column>

                </dx-data-grid>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </form>
    </div>
  </div>
</div>