
<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Production Entry
    Details</h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit('SAVE')" (cancelClick)="close()"
  [isViewStock]="designType != 'METAL'" [isViewDelete]="false"
  (stockClick)="opennewdetails()" [isViewSave]="!viewMode"
  [isViewContinue]="!viewMode" (continueClick)="formSubmit('CONTINUE')">
</modal-header>
<div class="p-3">
  <form [formGroup]="productiondetailsFrom">
    <div class="row">
      <div class="col-md-5">
        <div class="row ">
          <label for="input" class="col-sm-3 col-form-label">Job Number
            :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput [readonly]="viewMode"
                (change)="jobNumberValidate($event)"
                (keydown)="lookupKeyPress($event,'JOB_NUMBER')" id="jobNoSearch"
                formControlName="JOB_NUMBER" UpperCaseDirective />
              <mat-error
                *ngIf="productiondetailsFrom.controls.JOB_NUMBER.touched 
                && productiondetailsFrom.controls.JOB_NUMBER.hasError('required')">
                Job number required
              </mat-error>
              <master-search *ngIf="!viewMode" class="masterSearch"
                [MasterSearchData]="jobnoCodeData" #jobnoCodeOverlay
                (newRowClick)="jobnoCodeSelected($event)">
              </master-search>
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="JOB_DESCRIPTION" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="input" class="col-sm-3 col-form-label">Sub Job No
            :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" readonly matInput
                formControlName="UNQ_JOB_ID" />
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="SUB_JOB_DESCRIPTION" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="input" class="col-sm-3 col-form-label">Customer
            :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput formControlName="CUSTOMER_CODE"
                UpperCaseDirective [readonly]="viewMode"
                (keydown)="lookupKeyPress($event,'CUSTOMER_CODE')"
                (focusout)="validateLookupField($event,customerCodeData,'CUSTOMER_CODE')" />
              <master-search *ngIf="!viewMode" class="masterSearch"
                [MasterSearchData]="customerCodeData" #customerCodeOverlay
                (newRowClick)="customerCodeScpSelected($event)">
              </master-search>
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="CUSTOMER_DESC" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <label for="input" class="col-sm-3 col-form-label">Process :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" readonly matInput
                formControlName="PROCESS_CODE" />
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="PROCESS_NAME" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="input" class="col-sm-3 col-form-label">Worker :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="WORKER_CODE" />
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="WORKER_NAME" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label for="input" class="col-sm-3 col-form-label">Parts :</label>
          <div class="col-sm-3">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" matInput readonly
                formControlName="PART_CODE" />
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" style="width: 100%;">
              <input type="text" readonly matInput
                formControlName="PART_NAME" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
      <!-- diamond tab section starts -->
      <mat-tab label="Diamond Jewellery" *ngIf="designType == 'DIAMOND'">
        <div class="row p-2">
          <div class="col-md-8">
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Design
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="DESIGN_CODE"
                    UpperCaseDirective [readonly]="viewMode"
                    (focusout)="validateLookupField($event,designCodeData,'DESIGN_CODE')"
                    (keydown)="lookupKeyPress($event,'DESIGN_CODE')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="designCodeData" #designCodeOverlay
                    (newRowClick)="designSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput readonly
                    formControlName="DESIGN_DESCRIPTION" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Total PCS
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="TOTAL_PCS"
                    readonly class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">No of Pcs
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput class="text-right"
                    formControlName="JOB_PCS" NumberOnly
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Location
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="LOCTYPE_CODE"
                    UpperCaseDirective [readonly]="viewMode"
                    (focusout)="validateLookupField($event,locationCodeData,'LOCTYPE_CODE')"
                    (keydown)="lookupKeyPress($event,'LOCTYPE_CODE')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="locationCodeData" #loctypeCodeOverlay
                    (newRowClick)="locationCodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Loss Qty
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="LOSS_WT"
                    [max]="13" readonly
                    class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Gross Weight
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput MetalDecimalInput [max]="13"
                    class="text-right" readonly
                    formControlName="GROSS_WT" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Stone Pcs
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput maxlength="24"
                    class="text-right" formControlName="STONE_PCS"
                    readonly />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Time Taken
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="timetaken"
                    readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Metal Weight
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [max]="13" class="text-right"
                    formControlName="METAL_WT" readonly
                    (focusout)="txtMetal_Wt_Validating()"
                    MetalDecimalInput />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Stone Weight
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput class="text-right"
                    formControlName="STONE_WT" [max]="13"
                    readonly />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Price 1
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [readonly]="viewMode"
                    formControlName="price1" UpperCaseDirective
                    (focusout)="validateLookupField($event,price1CodeData,'price1')"
                    (keydown)="lookupKeyPress($event,'price1')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="price1CodeData" #price1CodeOverlay
                    (newRowClick)="price1CodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Prefix
                :</label>
              <div class="col-sm-2 d-flex">
                <mat-form-field appearance="outline" style="width: 50%;">
                  <input type="text" matInput formControlName="PREFIX"
                    UpperCaseDirective [readonly]="viewMode"
                    (focusout)="validateLookupField($event,prefixCodeData,'PREFIX')"
                    (keydown)="lookupKeyPress($event,'PREFIX')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="prefixCodeData" #prefixCodeOverlay
                    (newRowClick)="prefixCodeSelected($event)">
                  </master-search>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <input type="text" matInput formControlName="PREFIX_LASTNO"
                    NumberOnly [readonly]="viewMode" class="text-right" />
                </mat-form-field>
              </div>

              <label for="input" class="col-sm-2 col-form-label">Other Stone
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="OTHER_STONE"
                    readonly class="text-right" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Price 2
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput
                    formControlName="price2" UpperCaseDirective
                    (focusout)="validateLookupField($event,price2CodeData,'price2')"
                    (keydown)="lookupKeyPress($event,'price2')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="price2CodeData" #price2CodeOverlay
                    (newRowClick)="price2CodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Cost Code
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="COST_CODE"
                    UpperCaseDirective [readonly]="viewMode"
                    (focusout)="validateLookupField($event,costCodeData,'COST_CODE')"
                    (keydown)="lookupKeyPress($event,'COST_CODE')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="costCodeData" #costCodeOverlay
                    (newRowClick)="costCodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Set Ref
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="SETREF"
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Price 3
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [readonly]="viewMode"
                    formControlName="price3" UpperCaseDirective
                    (focusout)="validateLookupField($event,price3CodeData,'price3')"
                    (keydown)="lookupKeyPress($event,'price3')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="price3CodeData" #price3CodeOverlay
                    (newRowClick)="price3CodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Karat
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="KARAT_CODE"
                    UpperCaseDirective readonly
                    (keydown)="lookupKeyPress($event,'KARAT_CODE')"
                    (focusout)="validateLookupField($event,karatCodeData,'KARAT_CODE')" />
                  <!-- <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="karatCodeData"
                    (newRowClick)="karatCodeSelected($event)">
                  </master-search> -->
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Vendor Ref
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="SUPPLIER_REF"
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Price 4
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="price4"
                    UpperCaseDirective [readonly]="viewMode"
                    (keydown)="lookupKeyPress($event,'price4')"
                    (focusout)="validateLookupField($event,price4CodeData,'price4')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="price4CodeData" #price4CodeOverlay
                    (newRowClick)="price4CodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Purity
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="PURITY"
                    (focusout)="validatePurity()" [readonly]="viewMode"
                    [max]="13" class="text-right"
                    PurityDecimal />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Job Purity
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput SixDecimalInput [max]="13"
                    class="text-right" readonly
                    formControlName="Job_Purity" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Price 5
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [readonly]="viewMode"
                    formControlName="price5" UpperCaseDirective
                    (keydown)="lookupKeyPress($event,'price5')"
                    (focusout)="validateLookupField($event,price5CodeData,'price5')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="price5CodeData" #price5CodeOverlay
                    (newRowClick)="price5CodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Pure Weight
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [max]="13" class="text-right"
                    formControlName="PURE_WT"
                    readonly />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Start Date
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input matInput [matDatepicker]="startdate" name="startdate"
                    formControlName="START_DATE" readonly
                    placeholder="DD/MM/YYYY" DateValidation />
                  <mat-datepicker-toggle matSuffix disabled
                    [for]="startdate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate"
                    #startdate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Purity Diff
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput [max]="13" class="text-right"
                    formControlName="PURITY_DIFF"
                    readonly />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">End Date
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%">
                  <input matInput [matDatepicker]="endDate" name="endDate"
                    formControlName="END_DATE" readonly
                    placeholder="DD/MM/YYYY" DateValidation />
                  <mat-datepicker-toggle matSuffix disabled
                    [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="currentDate"
                    #endDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label for="input" class="col-sm-2 col-form-label">Remarks
                :</label>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="remarks"
                    [readonly]="viewMode"
                    maxlength="100" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <label for="input" class="col-sm-3 col-form-label">Prod Pcs
                :</label>
              <div class="col-sm-3">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="prodpcs"
                    NumberOnly class="text-right" readonly />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-3 col-form-label">Pending Pcs
                :</label>
              <div class="col-sm-3">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="PENDING_PCS"
                    readonly
                    NumberOnly class="text-right" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end">
              <label for="input" class="col-sm-3 col-form-label">Loss %
                :</label>
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="LOSS_PER"
                    readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="LOSS_WT"
                    (focusout)="txtLossQty_Validating()"
                    readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>
                  <span class="pt-2">
                    <a>Price Scheme</a>
                  </span>
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="priceSchemeData" #priceSchemeOverlay
                    (newRowClick)="priceSchemeValidate($event)">
                  </master-search>
                </p>
                <!-- <a>{{productiondetailsFrom.value.pricescheme}}</a> -->
              </div>
            </div>
            <div class="col-md-8">
              <div class="col-md-2">
                <!-- <div class="upload-btn-wrapper">
                  <input type="file" name="uploadproduct"
                    accept=".png, .jpg, .jpeg" #fileInput
                    class="uploadproduct"
                    [disabled]="viewMode" (change)="onFileChanged($event)"
                    readonly />
                </div> -->
                <div class="image_box">
                  <div class="img_box">
                    <image-slider [imageArray]="imagepath"></image-slider>
                    <!-- <img src="{{ urls }}"
                      style="width: 209px; height: 163px; margin-left: 160px;" /> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>
      <!-- Metal tab section starts -->
      <mat-tab label="Metal Jewellery" *ngIf="designType == 'METAL'">
        <div class="row p-2">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="row justify-content-end">
                  <label for="input" class="col-sm-4 col-form-label">From
                    Stock Code :</label>
                  <div class="col-sm-3">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <input type="text" matInput [readonly]="viewMode"
                        formControlName="fromStockCode" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-5">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <input type="text" matInput [readonly]="viewMode"
                        formControlName="fromStockCodeDesc" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row justify-content-end">
                  <label for="input" class="col-sm-4 col-form-label">To Stock
                    Code :</label>
                  <div class="col-sm-3">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <input type="text" matInput [readonly]="viewMode"
                        formControlName="toStockCode" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-5">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <input type="text" matInput [readonly]="viewMode"
                        formControlName="toStockCodeDesc" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Pcs :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="metalpcs"
                    maxlength="10" NumberOnly [readonly]="viewMode"
                    class="text-right" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Gross Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="GROSS_WT"
                    [max]="13" MetalDecimalInput [readonly]="viewMode"
                    class="text-right" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Stone Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="stoneWt"
                    StoneDecimalInput class="text-right" [readonly]="viewMode"
                    [max]="13" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Purity
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="PURITY"
                    [max]="13" SixDecimalInput
                    class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Net Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="netWt"
                    [max]="13" MetalDecimalInput
                    class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Chargable Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="chargableWt"
                    class="text-right" MetalDecimalInput
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Purity %
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="purityPer"
                    [max]="13" SixDecimalInput
                    class="text-right" NumberOnly
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Pure Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="PUREWT"
                    [max]="13" MetalDecimalInput
                    class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Purity Diff
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="PURITY_DIFF"
                    [max]="13" SixDecimalInput
                    class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Stone Diff
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="stoneDiff"
                    class="text-right" NumberOnly [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Loss
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="loss"
                    class="text-right" NumberOnly [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Mkg Rate
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="mkgRate"
                    [max]="13" class="text-right"
                    SixDecimalInput [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Lot No
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="lotNo"
                    class="text-right" NumberOnly [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Bal Wt
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="balwt"
                    class="text-right" ThreeDecimalInput
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Mkg Value
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="mkgValue"
                    class="text-right" ThreeDecimalInput
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Bar No
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="barNo"
                    class="text-right" NumberOnly [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Ticket No
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="number" matInput formControlName="ticketNo"
                    class="text-right" NumberOnly [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Prod %
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="prod"
                    NumberOnly maxlength="26" class="text-right"
                    [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end mb-1">
              <label for="input" class="col-sm-2 col-form-label">Loaction
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="location"
                    UpperCaseDirective [readonly]="viewMode"
                    (focusout)="validateLookupField($event,locationCodeData,'location')" />
                  <master-search *ngIf="!viewMode" class="masterSearch"
                    [MasterSearchData]="locationCodeData" #locationCodeOverlay
                    (newRowClick)="locationCodeSelected($event)">
                  </master-search>
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Bal Pcs
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="balPcs"
                    NumberOnly class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
              <label for="input" class="col-sm-2 col-form-label">Job Purity
                :</label>
              <div class="col-sm-2">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input type="text" matInput formControlName="jobPurity"
                    [max]="13" SixDecimalInput
                    class="text-right" [readonly]="viewMode" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-2">
              <dx-data-grid #dataGrid id="gridContainer"
                [dataSource]="tableData" [showBorders]="true"
                [allowColumnResizing]="true">
                <dxo-selection mode="single"></dxo-selection>

                <dxi-column dataField="SRNO" caption="SRNO"></dxi-column>
                <dxi-column dataField="DIVCODE"
                  caption="DIVCODE"></dxi-column>
                <dxi-column dataField="STOCK_CODE"
                  caption="STOCK_CODE"></dxi-column>
                <dxi-column dataField="PCS" caption="PCS"></dxi-column>
                <dxi-column dataField="GROSS_WT"
                  caption="GROSS_WT"></dxi-column>
                <dxi-column dataField="AMOUNTLC"
                  caption="AMOUNTLC"></dxi-column>
                <dxi-column dataField="SHAPE" caption="SHAPE"></dxi-column>
                <dxi-column dataField="COLOR" caption="COLOR"></dxi-column>
                <dxi-column dataField="SIZE" caption="SIZE"></dxi-column>

                <dxo-summary>
                  <dxi-total-item column="PCS">
                  </dxi-total-item>
                  <dxi-total-item column="GROSS_WT">
                  </dxi-total-item>
                  <dxi-total-item column="AMOUNTLC">
                  </dxi-total-item>
                </dxo-summary>
              </dx-data-grid>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row mb-1">
                <div class="col-sm-4">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <input type="text" matInput class="text-right"
                      MetalDecimalInput [max]="13"
                      [readonly]="viewMode" />
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <input type="text" matInput class="text-right"
                      MetalDecimalInput [max]="13" [readonly]="viewMode" />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center justify-content-between">
                <!-- <div class="form-check p-1">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">
                      Own
                    </label>
                  </div>
                  <div class="form-check p-1">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">
                      Vendor
                    </label>
                  </div> -->
                <div class="form-check p-1">
                  <input class="form-check-input" type="radio"
                    name="ownership" id="own" value="own">
                  <label class="form-check-label" for="own">
                    Own
                  </label>
                </div>
                <div class="form-check p-1">
                  <input class="form-check-input" type="radio"
                    name="ownership" id="vendor" value="vendor">
                  <label class="form-check-label" for="vendor">
                    Vendor
                  </label>
                </div>

                <div class="p-1">
                  <button type="button" class="btn btn-primary add-btn">
                    Attachment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<ng-template #pendingProcessModal let-modal modal-lg>
  <div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5>Process Details</h5>
    <button type="button" class="btn btn-close close-btn"
      (click)="modal.dismiss('Cross click')">
      <i class="feather icon-x close-icon"></i>
    </button>
  </div>
  <div class="row p-2">
    <dx-data-grid id="gridContainer" [columnAutoWidth]="true"
      [allowColumnResizing]="true" [showBorders]="true"
      [showRowLines]="true"
      [dataSource]="pendingProcess">
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column width="auto" caption="Multiple Process Pending"
        dataField="PROCESS">
      </dxi-column>
    </dx-data-grid>
  </div>
</ng-template>
<ng-template #productionStockDetailScreen>
  <app-production-stock-detail [content]="dataToDetailScreen"
    (saveDetail)="setValuesToHeaderGrid($event)"
    (closeDetail)="closeDetailScreen()"></app-production-stock-detail>
</ng-template>