.footer{
    background: #3599CC;
    padding: 10px 0px;
    margin-top: 13px;
    bottom: 0px;
    position: absolute;
    width: 100%;
  
    p{
      font-size: 14px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      margin: 0;
      color: #000912;
      span{
        color: #fff;
        margin-left: 5px;
      }
    }
  }
  