<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                
                <p>
                    <img src="../../assets/images/lp-icons/Vector_3.png" class="img_1"/>
                    {{year}} &copy; Contact us for more queries:
                <a href="https://www.suntech-global.com/customer-support/" target="_blank"
                style="color: #274d90;">www.suntech-global.com/customer-support</a>.
                </p>
            </div>
        </div>
    </div>
</footer>