.apporoval-add-btn {
  font-size: 12px;
  padding: 3px 20px !important;
  border-radius: 5px !important;
}

.apporoval-del-btn {
  font-size: 12px;
  padding: 2px 10px 2px 10px;
}
.mat-form-field {
  font-weight: 600 !important;
}

.table_head_title {
  text-align: center;
  background-color: #13b6db;
  color: #ffffff;
  text-transform: none;
}

.table_sub_title {
  text-align: center;
  background-color: #c2e8f3;
  color: #080808;
  text-transform: none;
}

