.metal-issue-add-btn {
    font-size: 12px;
    padding: 3px 20px !important;
    border-radius: 5px !important;
  }
  
  .metal-issue-del-btn {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
  }

  ::ng-deep {
    // form field starts
    .mat-form-field-outline-start {
      border-radius: 0px 0 0 0px !important;
      min-width: 24px !important;
      background-color: #f7f8fb;
    }
  
    .mat-form-field-outline-end {
      border-radius: 0 0px 0px 0 !important;
      min-width: 24px !important;
      background-color:#f7f8fb;
    }
  }