<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Division Master</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" (deleteClick)="deleteMetalDivision()" [isViewDelete]="editMode" [isViewSave]="!viewMode" [isViewCancel]="!viewMode"
[isViewMore]="!viewMode"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="metaldivisionForm">
            <div class="container-fluid pt-3">
                <div class="row justify-content-between">
                    <div class="col-md-9">
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Code * :</label>
                        <div class="col-md-4">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="code" [maxLength]="1" oninput="this.value = this.value.toUpperCase()" id="code"  (focusout)="checkCodeExists($event)" [readonly]="viewMode"/>
                          </mat-form-field>
                        </div>
                        <div class="col-md-5">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="codedes" oninput="this.value = this.value.toUpperCase()" maxlength="50" [readonly]="viewMode"/>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Cost Center :</label>
                        <div class="col-md-3">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="costcenter" 
                            (input)="inputValidate($event)"
                            UpperCaseDirective
                            (focusout)="validateLookupField($event,costCenterData,'costcenter')" [readonly]="viewMode" (keydown)="lookupKeyPress($event,'costcenter')"/>
                            <master-search [MasterSearchData]="costCenterData"  class="masterSearch"
                          *ngIf=" viewDisable == false" #overlaycostcenterSearch  (newRowClick)="costCenterSelected($event)">
                      </master-search>
                          </mat-form-field>
                          
                        </div>
                        <label for="inputPassword" class="col-sm-3 col-form-label">Cost Center (making) :</label>
                        <div class="col-md-3">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="costcentermaking" 
                            (input)="inputValidate($event)"
                            UpperCaseDirective
                            (focusout)="validateLookupField($event,costData,'costcentermaking')" [readonly]="viewMode" (keydown)="lookupKeyPress($event,'costcentermaking')"/>
                            <master-search [MasterSearchData]="costData"  class="masterSearch"
                          *ngIf=" viewDisable == false" #overlaycostcentermakingSearch  (newRowClick)="costSelected($event)">
                      </master-search>
                          </mat-form-field>
                          
                        </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Abbreviation :</label>
                        <div class="col-md-3">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="Abbreviation" [maxlength]="4" oninput="this.value = this.value.toUpperCase()" [readonly]="viewMode"/>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <div class="form-check mt-md-5">
                            <mat-checkbox formControlName="currency"
                                class="example-margin"
                                [disabled]="viewMode">
                                Currency </mat-checkbox>
                            <!-- <input class="form-check-input" type="checkbox" formControlName="loss"
                                (change)="onlossChange($event)">
                            <label class="form-check-label">
                                Loss
                            </label> -->
                        </div>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Auto Fix Stock Code :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="stockcode" 
                            (input)="inputValidate($event)"
                            UpperCaseDirective [readonly]="viewMode"
                            (focusout)="validateLookupField($event,stockCodeData,'stockcode')" (keydown)="lookupKeyPress($event,'stockcode')"/>
                            <master-search [MasterSearchData]="stockCodeData" class="masterSearch"
                            *ngIf=" viewDisable == false" #overlaystockcodeSearch (newRowClick)="stockCodeSelected($event)">
                        </master-search>
                          </mat-form-field>
                         
                        </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Code</label>
                        <div class="col-md-3">
                          <div class="form-check">
                            <button type="button" class="btn btn-outline-primary metal-issue-del-btn" [disabled]="viewMode">
                              Excel Import
                            </button>
                          </div>
                        </div>
                        </div>
                    </div>
          
                  </div>
            </div>
        </form>
    </div>
</div>