.favItems {
  color: #3599cc;
}
// table section styles
.module_form {
  // background: #F5F2ED;
  height: 100%;
  // padding: 20px 0px 20px;
  // padding: 50px 0px 20px;
  .table_header {
    // background: #3599cc;
    background: #2f88b4;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-white {
      background: #fff;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: 500;
      margin-right: 10px;
    }
    .icons_wrap {
      display: flex;
      align-items: center;
      a {
        margin-left: 10px;
      }
      .icons {
        font-size: 24px;
        margin-right: 10px;
        color: #fff;
      }
      .custom-control-label {
        font-size: 16px;
        font-weight: 400;
        margin-top: 2px;
        color: #fff;
      }
    }
  }
}

@media (min-width: 1200px) {
  ::ng-deep {
    .modal-xl {
      max-width: 95vw !important;
      max-height: 90vh !important;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 13px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f3f3f3;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #a4a4a4;
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
