<div class="card-content border-bottom d-flex justify-content-between p-2">
  <h5 class="pos-modaltitle" id="modal-dia-metal">Karat Master </h5>
  <button type="button" class="btn btn-close close-btn" (click)="close()">
    <i class="feather icon-x close-icon"></i>
  </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" (deleteClick)="deleteRecord()" [isViewDelete]="false"
[isViewSave]="!viewMode" [isViewCancel]="!viewMode" [isViewMore]="!viewMode"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="karatmasterFrom">
            <div class="container-fluid pt-3">
                <div class="row justify-content-between">
                    <div class="col-md-8">
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Karat Code * :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="karatcode" maxlength="4" oninput="this.value = this.value.toUpperCase()"
                            id="code"  (focusout)="checkCodeExists($event)"
                            UpperCaseDirective  [readonly]="viewMode || editableMode"/>
                          </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field style="width: 100%" appearance="outline">
                              <input type="text" matInput formControlName="karatcodedes" maxlength="40"  oninput="this.value = this.value.toUpperCase()"  [readonly]="viewMode || codeEnable"/>
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Standard Purity * :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" [max]="1" matInput formControlName="standardpurity" NumberOnly (change)="stdpurityval()" class="text-right" [readonly]="viewMode || codeEnable" PurityDecimal/>
                          </mat-form-field>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Minimum :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number" [max]="1" matInput formControlName="minimum" NumberOnly class="text-right" readonly PurityDecimal/>
                          </mat-form-field>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Maximum :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number"  [max]="1"  matInput formControlName="maximum" NumberOnly class="text-right" readonly PurityDecimal/>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Sp Gravity :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number" matInput formControlName="sp_gravity" class="text-right"  [readonly]="viewMode || codeEnable" MetalDecimalInput/>
                          </mat-form-field>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">SP. Variance % :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number" matInput formControlName="sp_variance" class="text-right"  [readonly]="viewMode || codeEnable" AmountDecimalInput/>
                          </mat-form-field>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Division * :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="text" matInput formControlName="division" (focusout)="validateLookupField($event,divisionCodeData,'division')" (keydown)="lookupKeyPress($event,'division')"  [readonly]="viewMode || codeEnable"/>
                            <master-search  [MasterSearchData]="divisionCodeData" *ngIf=" viewMode == false"  (newRowClick)="divisionCodeSelected($event)"  class="masterSearch" #overlaydivisionSearch>
                            </master-search>
                          </mat-form-field>
                        
                        </div>
                      </div>
                      <div class="row align-items-center mb-1">
                        <label for="inputPassword" class="col-sm-2 col-form-label">POS :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number" matInput formControlName="pos" class="text-right"  [readonly]="viewMode || codeEnable" AmountDecimalInput/>
                          </mat-form-field>
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">POP MinMaxAmt :</label>
                        <div class="col-md-2">
                          <mat-form-field style="width: 100%" appearance="outline">
                            <input type="number" matInput formControlName="pop_minmaxamt" class="text-right"  [readonly]="viewMode || codeEnable" AmountDecimalInput/>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2 offset-md-2">
                            <mat-checkbox class="example-margin" formControlName="scrap"  [disabled]="viewMode || codeEnable">Scrap </mat-checkbox>
                        </div>
                        <div class="col-md-4">
                            <mat-checkbox class="example-margin" formControlName="showinweb" [disabled]="viewMode || codeEnable">Show In Web </mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  </form>
                  </div>
                  </div>
                  
