<div>
    <!-- header section starts -->
    <div class="card-content border-bottom d-flex justify-content-between p-2">
        <h5 class="pos-modaltitle" id="modal-dia-metal">Process Master</h5>
        <button type="button" class="btn btn-close close-btn" (click)="close()">
            <i class="feather icon-x close-icon"></i>
        </button>
    </div>
    <!-- modal header component -->
    <modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
    <!-- content section -->
    <div class="row">
        <form [formGroup]="processMasterForm">
            <div>
                <div class="container-fluid pt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">Process Code*
                                    :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 100%; margin-left: 7px;">
                                        <input type="text" matInput formControlName="processCode" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 100%; margin-left: 7px;">
                                        <input type="text" matInput formControlName="processDesc" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label ">Process
                                    Type :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 100%;">
                                        <mat-select formControlName="processType">
                                            <mat-option *ngFor="let option of processTypeList" [value]="option.SRNO">
                                                {{ option.ENGLISH }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <label for="input" class="col-sm-2  col-form-label">Standard Time :</label>
                                <div class="col-sm-2">
                                    <mat-form-field style="width: 100%;">
                                        <input type="time" step="1" formControlName="stand_time" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">WIP A/C :</label>
                                <!-- <div class="col-sm-3">
                                    <mat-form-field
                                        style="width: 100%; margin-left: 7px;">
                                        <input type="text" matInput
                                            formControlName="wip_ac" />
                                    </mat-form-field>
                                </div> -->
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 90%">
                                        <input type="text" matInput maxlength="6" formControlName="WIP_ACCOUNT" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="accountMasterData"
                                        (newRowClick)="ACCODESelected($event)">
                                    </master-search>
                                </div>
                                <label for="input" class="col-sm-2 col-form-label">Maximum Time
                                    :</label>
                                <div class="col-sm-2">
                                    <mat-form-field style="width: 100%;">
                                        <input type="time" step="1" formControlName="stand_time" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">Position :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 100%; margin-left: 7px;">
                                        <input type="text" matInput formControlName="processPosition" />
                                    </mat-form-field>
                                </div>
                                <label for="input" class="col-sm-2 col-form-label">Tray Weight
                                    :</label>
                                <div class="col-sm-2">
                                    <mat-form-field style="width: 100%; margin-left: 7px;">
                                        <input type="number" matInput formControlName="trayWeight" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">Approval
                                    Code* :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 90%">
                                        <input type="text" matInput maxlength="6" formControlName="approvalCode" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="approvalCodeData"
                                        (newRowClick)="ApprovalCodeSelected($event)">
                                    </master-search>
                                </div>
                                <label for="input" class="col-sm-2 col-form-label">Approval
                                    Process :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 90%">
                                        <input type="text" matInput maxlength="6" formControlName="approvalProcess" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="approvalProcessData"
                                        (newRowClick)="ApprovalProcessSelected($event)">
                                    </master-search>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">Recov. Stock Code* :</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 90%">
                                        <input type="text" matInput maxlength="6" formControlName="recStockCode" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="StockProcessData"
                                        (newRowClick)="StockProcesSelected($event)">
                                    </master-search>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" *ngIf="false" mat-flat-button color="primary">Pending
                                        Transactions
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="input" class="col-sm-2 col-form-label">Labour
                                    Charge/Hour *:</label>
                                <div class="col-sm-3">
                                    <mat-form-field style="width: 100%">
                                        <input type="text" matInput AmountDecimalInput
                                            formControlName="labour_charge" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-check mt-4">
                                <mat-checkbox formControlName="loss" class="example-margin">
                                    Loss*</mat-checkbox>
                            </div>
                            <div class="form-check mt-4">
                                <mat-checkbox formControlName="recovery" class="example-margin">
                                    Recovery*</mat-checkbox>
                            </div>
                            <div class="form-check mt-4">
                                <mat-checkbox formControlName="AllowGain" class="example-margin">
                                    Allow Gain</mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row mb-2">
                                <label for="input" class="col-sm-12 col-form-label">Standard % :</label>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 100%;">
                                        <input type="text" matInput formControlName="standard_start" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 100%;">
                                        <input type="text" matInput formControlName="standard_end" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row mb-2">
                                <label for="input" class="col-sm-12 col-form-label">Min % :</label>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 100%;">
                                        <input type="number" matInput step="0.01" min="0" maxlength="4"
                                            formControlName="min_start" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 100%;">
                                        <input type="number" matInput step="0.01" min="0" maxlength="4"
                                            formControlName="min_end" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row mb-2">
                                <label for="input" class="col-sm-12 col-form-label">Max % :</label>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 100%;">
                                        <input type="number" matInput formControlName="max" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row mb-2">
                                <label for="input" class="col-sm-12 col-form-label">Account Code :</label>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="accountStart" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="accountStartData"
                                        (newRowClick)="accountStartSelected($event)">
                                    </master-search>
                                </div>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="accountMiddle" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="accountMiddleData"
                                        (newRowClick)="accountMiddleSelected($event)">
                                    </master-search>
                                </div>
                                <div class="col-sm-12">
                                    <mat-form-field style="width: 70%;">
                                        <input type="text" matInput formControlName="accountEnd" />
                                    </mat-form-field>
                                    <master-search [MasterSearchData]="accountEndData"
                                        (newRowClick)="accountEndSelected($event)">
                                    </master-search>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check mt-md-5">
                                <mat-checkbox formControlName="loss_on_gross" class="example-margin">
                                    Loss on Gross only*</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="check_radio_btn">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="radio-btn">
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="FinalProcess" class="example-margin">
                                            Final Process</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="Setting" class="example-margin">
                                            Setting</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="LabProcess" class="example-margin">
                                            Lab Process*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="WaxProcess" class="example-margin">
                                            Wax Process*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="Stone" class="example-margin">
                                            Stone</mat-checkbox>
                                    </div>


                                    <!-- <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="FinalProcess"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Final Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="Setting"
                                            id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Setting
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="LabProcess"
                                            id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Lab Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="WaxProcess"
                                            id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Wax Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="Stone"
                                            id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Stone
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="radio-btn">
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="MergePices" class="example-margin">
                                            Merge Pices</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="LockWeight" class="example-margin">
                                            Lock Weight</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="HaveTreeNo" class="example-margin">
                                            Have Tree No</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="NonQuantity" class="example-margin">
                                            Non Quantity</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="Consumable" class="example-margin">
                                            Consumable</mat-checkbox>
                                    </div>

                                    <!-- <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="MergePices"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Merge Pices
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="LockWeight"
                                            id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Lock Weight
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="HaveTreeNo"
                                            id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Have Tree No
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="NonQuantity"
                                            id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Non Quantity
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="Consumable"
                                            id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Consumable
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="radio-btn">
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="RefineryAutoProcess" class="example-margin">
                                            Refinery Auto Process*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="RepairProcess" class="example-margin">
                                            Apply Auto Loss to Refinery*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="Metal" class="example-margin">
                                            Metal*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="ApprovalRequired" class="example-margin">
                                            Approval Required*</mat-checkbox>
                                    </div>


                                    <!-- <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="RefineryAutoProcess" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Refinery Auto Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="ApplyAutoLossToRefinery" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Apply Auto Loss to Refinery
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="RepairProcess"
                                            id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Repair Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="Metal"
                                            id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Metal
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="ApprovalRequired" id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Approval Required
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="radio-btn">

                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="DeductPureWeight" class="example-margin">
                                            Deduct Pure Weight</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="StoneIncluded" class="example-margin">
                                            Stone Included*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="TimeCalculateonProcess" class="example-margin">
                                            Time Calculate on Process*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="RecoveryProcess" class="example-margin">
                                            Recovery Process*</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="AutoTransfer" class="example-margin">
                                            Auto Transfer</mat-checkbox>
                                    </div>
                                    <div class="form-check mt-2">
                                        <mat-checkbox formControlName="ApplySetting" class="example-margin">
                                            Apply Setting*</mat-checkbox>
                                    </div>

                                    <!-- <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="DeductPureWeight" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Deduct Pure Weight
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="StoneIncluded"
                                            id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Stone Included
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="TimeCalculateonProcess" id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Time Calculate on Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="RecoveryProcess" id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Recovery Process
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="AutoTransfer"
                                            id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Auto Transfer
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" formControlName="ApplySetting"
                                            id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Apply Setting
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-end text-end">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- </div>
</div> -->