.card-content {
  font-family: Poppins;
  padding: 10px;
}

.col-form-label {
  font-family: Poppins;
  font-size: 14px;
}



.check_radio_btn {
  padding: 15px;
  border: 1px solid #ddd;
}

::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffff !important;
  }

  .mat-form-field {
    font-weight: 600 !important;
  }
  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

.mat-input-element {
  font-size: 13px !important;
}

.required {
  color: red;
}





