.btn-primary {
    // background-color: #012C57 !important;
    background-color: #415a77 !important;
    border-color: #415a77 !important;
    font-size: 12px;
    border-radius: 5px !important;
    padding: 6px 15px 6px 15px !important;
  }
  .btn-danger {
    font-size: 12px;
    padding: 6px 15px 6px 15px !important;
    border-radius: 5px !important;
  }
  
  
.border-card{
  border: 1px solid #ccc;
  padding: 10px;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
}

::ng-deep {
  // form field starts
  .mat-form-field-outline-start {
    border-radius: 0px 0 0 0px !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }

  .mat-form-field-outline-end {
    border-radius: 0 0px 0px 0 !important;
    min-width: 24px !important;
    background-color:#f7f8fb;
  }
}