.btn-primary {
    // background-color: #012C57 !important;
    background-color: #415a77 !important;
    border-color: #415a77 !important;
    font-size: 12px;
    border-radius: 5px !important;
    padding: 6px 15px 6px 15px !important;
  }
  .btn-danger {
    font-size: 12px;
    padding: 6px 15px 6px 15px !important;
    border-radius: 5px !important;
  }
  
  
.border-card{
  border: 1px solid #ccc;
  padding: 10px;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
}