::ng-deep .checkboxes-mode {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

​ ::ng-deep .option>.dx-selectbox {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.card-content {
  font-family: Poppins;
  padding: 10px;
}
.mstrScrch{
  position: absolute;
  top: -4px;
  margin-left: -0.3rem !important;
}
.custom-select-panel .search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


::ng-deep {
  .cdk-overlay-container {
    position: fixed;
    z-index: 1070 !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffff !important;
  }

  .mat-form-field {
    font-weight: 600 !important;
  }
}

.example-margin {
  margin-top: 15px;
}

.mat-input-element {
  font-size: 13px !important;
}