<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal"> Sub-Ledger Prefix Master
    </h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (cancelClick)="close()" (saveClick)="formSubmit()"></modal-header>
<!-- content section -->

<div class="container-fluid pt-3">
    <form [formGroup]="festivalmasterform" class="p-1">
        <div class="row mt-2">
            <div class="col-md-8">
                <mat-tab-group>
                    <mat-tab label="General">
                        <div class="row mt-2">
                            <div class="col-md-10">
                                <div class="row">
                                    <label for="prefixcode" class="col-sm-2 col-form-label">Prefix Code:</label>
                                    <div class="col-md-4 p-0 ms-2">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <input type="text" id="prefixcode" matInput   formControlName="prefixcode" [disabled]="viewOnly"
                                                class="p-0"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 p-0">
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <input type="text" id="prefixcodedesc" matInput
                                                formControlName="prefixcodedesc" class="p-0" [disabled]="viewOnly" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row  mt-2">
                            <label for="last_no" class="col-sm-1 col-form-label me-4">Last No:</label>
                            <div class="col-md-4 ms-4">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <input type="text" id="last_no" matInput formControlName="last_no" [disabled]="viewOnly"
                                        />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </form>
</div>