::ng-deep {
  // form field starts
  .mat-form-field-outline-start {
    border-radius: 0px 0 0 0px !important;
    min-width: 24px !important;
    background-color: #f7f8fb;
  }

  .mat-form-field-outline-end {
    border-radius: 0 0px 0px 0 !important;
    min-width: 24px !important;
    background-color:#f7f8fb;
  }
}