<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Quotation Processing</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" [isViewAttachment]="!viewMode" (attachmentClick)="attachmentClicked()"></modal-header>
<!-- component to upload attachment -->
<attachment-upload (uploadSubmit)="uploadSubmited($event)" [savedAttachment]="savedAttachments"></attachment-upload>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="quotationProcessFrom">
            <div class="container-fluid pt-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-6">Voucher
                                * :</label>
                            <div class="col-md-3">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" matInput formControlName="voctype" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" matInput formControlName="vocno" />
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Voucher
                                Date : </label>
                            <div class="col-sm-6 ">
                                <!--  <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="date" matInput formControlName="vocdate" />
                                </mat-form-field> -->
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <input matInput [matDatepicker]="vocdate" name="vocdate" formControlName="vocdate"
                                        placeholder="DD/MM/YYYY" DateValidation />
                                    <mat-datepicker-toggle matSuffix [for]="vocdate"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="currentDate" #vocdate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Document
                                Type : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" matInput formControlName="documentype" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Salesman
                                * : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" matInput formControlName="salesman"
                                        (keydown)="lookupKeyPress($event,'salesman')"
                                        (focusout)="validateLookupField($event,salesCodeData,'salesman')" />
                                    <master-search [MasterSearchData]="salesCodeData" #overlaysalesman
                                        class="masterSearch" (newRowClick)="salesCodeSelected($event)">
                                    </master-search>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">As On :
                            </label>
                            <div class="col-sm-6 ">
                                <!--  <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="date" matInput formControlName="ason" />
                                </mat-form-field> -->
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <input matInput [matDatepicker]="ason" name="ason" formControlName="ason"
                                        placeholder="DD/MM/YYYY" DateValidation />
                                    <mat-datepicker-toggle matSuffix [for]="ason"></mat-datepicker-toggle>
                                    <mat-datepicker [startAt]="currentDate" #ason></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2 text-right">
                            <div class="col-md-12">
                                <div class="p-1 bd-highlight">
                                    <button type="button" class="btn btn-outline-primary  add-btn">
                                        Collection Data
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Doc.Ref
                                : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <input type="text" matInput formControlName="docref" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-md-12">
                        <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
                            <mat-tab label="Vocher Details">
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [columnAutoWidth]="true">
                                            <dxo-paging [enabled]="false"></dxo-paging>
                                            <dxo-editing mode="cell" [allowUpdating]="true">
                                            </dxo-editing>
                                            <dxo-selection mode="multiple"></dxo-selection>
                                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                                            <dxi-column *ngFor="let data of columnheadItemDetails"
                                                dataField="{{ data }}" caption="{{ data }}" [allowEditing]="true"
                                                alignment="center" backgroundcolor="#000">
                                            </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </div>
                                <div class="row align-items-center pt-1">
                                    <div class="col-md-6">
                                        <div class="row my-2">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Narration
                                                * :</label>
                                            <div class="col-md-8">
                                                <mat-form-field appearance="outline" style="width: 100%;">
                                                    <input type="text" matInput formControlName="narration" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-1 bd-highlight">
                                            <button type="button" class="btn btn-outline-primary  add-btn">
                                                Get Compontents
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Sales Details">
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [columnAutoWidth]="true">
                                            <dxo-paging [enabled]="false"></dxo-paging>
                                            <dxo-editing mode="cell" [allowUpdating]="true">
                                            </dxo-editing>
                                            <dxo-selection mode="multiple"></dxo-selection>
                                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                                            <dxi-column *ngFor="let data of columnheadItemDetails"
                                                dataField="{{ data }}" caption="{{ data }}" [allowEditing]="true"
                                                alignment="center" backgroundcolor="#000">
                                            </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>