<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Cost Center - Making Charges Details</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()" [isViewContinue]="true"></modal-header>
<div class="container-fluid pt-3">
    <form [formGroup]="costcenterdiamonddetailsForm">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Branch</label>
                    <div class="col-md-4">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="branch" />
                        </mat-form-field>
                        <master-search [MasterSearchData]="branchCodeData" (newRowClick)="branchCodeSelected($event)">
                        </master-search>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between mb-2 border">
            <div class="col-md-4">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Purchase A/c</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Purchase</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="purchase" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Purchase Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="purchaseReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label"> Import Purchase</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="importPurchase" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label"> Import Purchase Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="importPurchaseReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Repair Purchase</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="repairPurchase" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Repair Purchase Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="repairPurchaseReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Sales A/c</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Wholesales</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="Wholesales" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Wholesales Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="wholesalesReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Export Sales </label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="exportSales" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Export Sales Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="exportSalesReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Repair Sale</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="repairSale" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b></b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Retail Sales</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="retailSales" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Retail Sales Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="retailSalesReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Exhibition Sales</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="exhibitionSales" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Exhibition Sales Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="exhibitionSalesReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Repair Sales Return</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="repairSalesReturn" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center border">
            <label for="inputPassword" class="col-sm-10 col-form-label text-center"><b>Other A/c</b></label>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-between mb-2 border">
                    <div class="col-md-4">
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Own Stock Opening </label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="ownStockOpening" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Own Stock</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="ownStock" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Physical Stock</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="physicalStock" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Own Stock Closing</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="ownStockClosing" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Stk Revalue</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="stkRevalue" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Branch Transfer In</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="branchTransferIn" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Branch Transfer OUT</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="branchTransferOUT" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Manufacture</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="manufacture" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Dismatling</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="dismatling" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Adjustments</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="adjustments" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Refining Charges</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="refiningCharges" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Metal Discount</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="metalDiscount" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">S O H Manufacturing</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="SOHManufacturing" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Dismantling Loss</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="dismantlingLoss" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Dia purchase Account (UnFix)</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="diapurchaseAccountUnFix" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Dia Sale Account (UnFix)</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="diaSaleAccountUnFix" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Wastage</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="wastage" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Repair UnFix Purchase</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="repairUnfixPurchase" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Refine Charges</label>
                            <div class="col-md-8">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="refineCharges" />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-between mb-2 border">
            <div class="row align-items-left mb-1">
                <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>VAT Control A/c</b></label>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Purchase</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">UnFix Pur Ctrl Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="unFixPurCtrlAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">UnFix Sup Ctrl Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="unFixSupCtrlAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Sales</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">UnFix Sal Ctrl Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="unFixSalCtrlAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">UnFix Cust Ctrl Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="unFixCustCtrlAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-between mb-2 border">
            <div class="row align-items-left mb-1">
                <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Hedging A/c</b></label>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Purchase</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Purchase Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="purchaseAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Recipt Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="reciptAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label text-center"><b>Sales</b></label>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Sales Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="salesAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
                <div class="row align-items-center mb-1">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Payment Ac</label>
                    <div class="col-md-8">
                        <mat-form-field style="width: 70%;">
                            <input type="text" matInput formControlName="paymentAc" />
                        </mat-form-field>
                        <master-search></master-search>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>