<!-- header section starts -->
<div class="card-content border-bottom d-flex justify-content-between p-2">
    <h5 class="pos-modaltitle" id="modal-dia-metal">Job Closing</h5>
    <button type="button" class="btn btn-close close-btn" (click)="close()">
        <i class="feather icon-x close-icon"></i>
    </button>
</div>
<!-- modal header component -->
<modal-header (saveClick)="formSubmit()" (cancelClick)="close()"></modal-header>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="jobCloseingFrom">
            <div class="container-fluid pt-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-6">Voucher*:</label>
                            <div class="col-md-3">
                                <div class="position-relative d-flex">
                                    <mat-form-field style="width: 100%;">
                                        <input type="text" matInput formControlName="vocType"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative d-flex">
                                    <mat-form-field style="width: 100%;">
                                        <input type="text" matInput formControlName="vocNum" />
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Voucher Date:</label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="date" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="inputPassword" class="col-sm-6">User Name : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-6">Job As On :</label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="date" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-5">Party Code:</label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="inputPassword" class="col-sm-5">Job No: </label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-5">Worker :</label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-5">Reason : </label>
                            <div class="col-sm-7">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-2 text-right">
                            <div class="col-md-12">
                                <div class="p-1 bd-highlight">
                                    <button type="button" class="btn btn-outline-primary  add-btn">
                                        Get Data
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-1 ">
                            <label for="inputPassword" class="col-sm-6">Metal Location* :</label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="mLoctype"/>
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Stone Location* : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 70%;">
                                    <input type="text" matInput formControlName="sLoctype"/>
                                </mat-form-field>
                                <master-search></master-search>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="inputPassword" class="col-sm-6">Doc.Ref : </label>
                            <div class="col-sm-6 ">
                                <mat-form-field style="width: 100%;">
                                    <input type="text" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="statusbox">
                        </div>
                    </div>

                    <div class="col-md-12 mb-1">
                        <div class="d-flex">
                            <div class="form-check">
                                <mat-radio-button value="1">All</mat-radio-button>
                            </div>
                            <div class="form-check ">
                                <mat-radio-button value="1">WIP</mat-radio-button>
                            </div>
                            <div class="form-check ">
                                <mat-radio-button value="1">Non WIP </mat-radio-button>
                            </div>
                            <div class="form-check ">
                                <mat-radio-button value="1">No Job Created </mat-radio-button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-check form-switch ms-3">
                            <input class="form-check-input" type="checkbox" id="salesOrder">
                            <label class="form-check-label" for="salesOrder">Sales Order </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-md-12">
                        <mat-tab-group [selectedIndex]="this.divisionMS == 'ID' ? 0 : 1">
                            <mat-tab label="Pending Job Details">
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <dx-data-grid #dataGrid id="gridContainer" keyExpr="ID" [showBorders]="true"
                                        [allowColumnReordering]="true"
                                        [allowColumnResizing]="true"
                                        [columnAutoWidth]="true">
                                            <dxo-paging [enabled]="false"></dxo-paging>
                                            <dxo-editing mode="cell" [allowUpdating]="true">
                                            </dxo-editing>
                                            <dxo-selection mode="multiple"></dxo-selection>
                                            <dxo-scrolling mode="virtual"></dxo-scrolling>

                                            <dxi-column *ngFor="let data of columnheadItemDetails"
                                                dataField="{{ data }}" caption="{{ data }}" [allowEditing]="true"
                                                alignment="center" backgroundcolor="#000">
                                            </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </div>
                                <div class="row align-items-center pt-1">
                                    <div class="col-md-6">
                                        <div class="row my-2">
                                            <label for="inputPassword" class="col-sm-4 col-form-label">Remarks:</label>
                                            <div class="col-md-8">
                                                <mat-form-field style="width: 100%;">
                                                    <input type="text" matInput formControlName="remarks" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-1 bd-highlight">
                                            <button type="button" class="btn btn-outline-primary  add-btn">
                                                Get Compontents
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Component Details"></mat-tab>
                            <mat-tab label="Component Summary"></mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>